In [6]:
import pandas as pd
PovertyStatusbyCounty=pd.read_csv('../../Obstetric accessibility visualization/Data/Pverty_status_County.csv')

In [46]:
RA_Iowa_BG.head()

,Geography,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Male:,Margin of Error!!Total:!!Male:,Estimate!!Total:!!Male:!!Under 5 years,Margin of Error!!Total:!!Male:!!Under 5 years,Estimate!!Total:!!Male:!!5 to 9 years,Margin of Error!!Total:!!Male:!!5 to 9 years,...,Margin of Error!!Total:!!Female:!!67 to 69 years,Estimate!!Total:!!Female:!!70 to 74 years,Margin of Error!!Total:!!Female:!!70 to 74 years,Estimate!!Total:!!Female:!!75 to 79 years,Margin of Error!!Total:!!Female:!!75 to 79 years,Estimate!!Total:!!Female:!!80 to 84 years,Margin of Error!!Total:!!Female:!!80 to 84 years,Estimate!!Total:!!Female:!!85 years and over,Margin of Error!!Total:!!Female:!!85 years and over,NaN
0,Geography,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Male:,Margin of Error!!Total:!!Male:,Estimate!!Total:!!Male:!!Under 5 years,Margin of Error!!Total:!!Male:!!Under 5 years,Estimate!!Total:!!Male:!!5 to 9 years,Margin of Error!!Total:!!Male:!!5 to 9 years,...,Margin of Error!!Total:!!Female:!!67 to 69 years,Estimate!!Total:!!Female:!!70 to 74 years,Margin of Error!!Total:!!Female:!!70 to 74 years,Estimate!!Total:!!Female:!!75 to 79 years,Margin of Error!!Total:!!Female:!!75 to 79 years,Estimate!!Total:!!Female:!!80 to 84 years,Margin of Error!!Total:!!Female:!!80 to 84 years,Estimate!!Total:!!Female:!!85 years and over,Margin of Error!!Total:!!Female:!!85 years and...,NaN
1,1500000US190019601001,Block Group 1; Census Tract 9601; Adair County...,1158,182,567,118,36,25,14,13,...,6,46,27,21,18,17,20,58,51,NaN
2,1500000US190019601002,Block Group 2; Census Tract 9601; Adair County...,831,178,451,103,75,34,21,21,...,10,29,24,11,9,0,10,7,10,NaN
3,1500000US190019601003,Block Group 3; Census Tract 9601; Adair County...,824,191,412,112,26,20,41,37,...,7,21,12,21,14,29,22,17,14,NaN
4,1500000US190019602001,Block Group 1; Census Tract 9602; Adair County...,472,101,254,54,0,10,0,10,...,19,0,10,20,12,6,6,4,5,NaN

<h1> RA Women in Iowa </h1>

In [45]:
RA_Iowa_BG=pd.read_csv('../../Obstetric accessibility visualization/Data/RA_Women_Iowa.csv')
RA_Iowa_BG.rename(columns=RA_Iowa_BG.iloc[0], inplace=True)
# Assume ClassofWorkerByCounty.columns is your list of column names
columns_list = list(RA_Iowa_BG.columns)
female_columns = [col for col in columns_list if isinstance(col, str) and 'female' in col.lower() and 'estimate' in col.lower() ]
female_columns

['Estimate!!Total:!!Female:',
 'Estimate!!Total:!!Female:!!Under 5 years',
 'Estimate!!Total:!!Female:!!5 to 9 years',
 'Estimate!!Total:!!Female:!!10 to 14 years',
 'Estimate!!Total:!!Female:!!15 to 17 years',
 'Estimate!!Total:!!Female:!!18 and 19 years',
 'Estimate!!Total:!!Female:!!20 years',
 'Estimate!!Total:!!Female:!!21 years',
 'Estimate!!Total:!!Female:!!22 to 24 years',
 'Estimate!!Total:!!Female:!!25 to 29 years',
 'Estimate!!Total:!!Female:!!30 to 34 years',
 'Estimate!!Total:!!Female:!!35 to 39 years',
 'Estimate!!Total:!!Female:!!40 to 44 years',
 'Estimate!!Total:!!Female:!!45 to 49 years',
 'Estimate!!Total:!!Female:!!50 to 54 years',
 'Estimate!!Total:!!Female:!!55 to 59 years',
 'Estimate!!Total:!!Female:!!60 and 61 years',
 'Estimate!!Total:!!Female:!!62 to 64 years',
 'Estimate!!Total:!!Female:!!65 and 66 years',
 'Estimate!!Total:!!Female:!!67 to 69 years',
 'Estimate!!Total:!!Female:!!70 to 74 years',
 'Estimate!!Total:!!Female:!!75 to 79 years',
 'Estimate!!Total:!!Female:!!80 to 84 years',
 'Estimate!!Total:!!Female:!!85 years and over']

In [27]:
RA_Iowa_BG.head()

,Geography,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Male:,Margin of Error!!Total:!!Male:,Estimate!!Total:!!Male:!!Under 5 years,Margin of Error!!Total:!!Male:!!Under 5 years,Estimate!!Total:!!Male:!!5 to 9 years,Margin of Error!!Total:!!Male:!!5 to 9 years,...,Margin of Error!!Total:!!Female:!!67 to 69 years,Estimate!!Total:!!Female:!!70 to 74 years,Margin of Error!!Total:!!Female:!!70 to 74 years,Estimate!!Total:!!Female:!!75 to 79 years,Margin of Error!!Total:!!Female:!!75 to 79 years,Estimate!!Total:!!Female:!!80 to 84 years,Margin of Error!!Total:!!Female:!!80 to 84 years,Estimate!!Total:!!Female:!!85 years and over,Margin of Error!!Total:!!Female:!!85 years and over,NaN
0,Geography,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Male:,Margin of Error!!Total:!!Male:,Estimate!!Total:!!Male:!!Under 5 years,Margin of Error!!Total:!!Male:!!Under 5 years,Estimate!!Total:!!Male:!!5 to 9 years,Margin of Error!!Total:!!Male:!!5 to 9 years,...,Margin of Error!!Total:!!Female:!!67 to 69 years,Estimate!!Total:!!Female:!!70 to 74 years,Margin of Error!!Total:!!Female:!!70 to 74 years,Estimate!!Total:!!Female:!!75 to 79 years,Margin of Error!!Total:!!Female:!!75 to 79 years,Estimate!!Total:!!Female:!!80 to 84 years,Margin of Error!!Total:!!Female:!!80 to 84 years,Estimate!!Total:!!Female:!!85 years and over,Margin of Error!!Total:!!Female:!!85 years and...,NaN
1,1500000US130019501001,Block Group 1; Census Tract 9501; Appling Coun...,1177,468,512,244,27,47,0,14,...,13,26,28,10,17,0,14,15,19,NaN
2,1500000US130019501002,Block Group 2; Census Tract 9501; Appling Coun...,576,284,385,200,9,17,40,55,...,24,11,16,16,18,8,14,0,14,NaN
3,1500000US130019501003,Block Group 3; Census Tract 9501; Appling Coun...,1875,535,996,348,62,66,64,76,...,31,63,80,14,28,0,14,0,14,NaN
4,1500000US130019502011,Block Group 1; Census Tract 9502.01; Appling C...,1242,269,654,157,18,29,23,34,...,53,0,14,6,13,70,53,0,14,NaN

In [49]:

RA_Iowa_BG_df = RA_Iowa_BG[[
    'Geographic Area Name', 'Geography',
    'Estimate!!Total:!!Female:!!18 and 19 years',
 'Estimate!!Total:!!Female:!!20 years',
 'Estimate!!Total:!!Female:!!21 years',
 'Estimate!!Total:!!Female:!!22 to 24 years',
 'Estimate!!Total:!!Female:!!25 to 29 years',
 'Estimate!!Total:!!Female:!!30 to 34 years',
 'Estimate!!Total:!!Female:!!35 to 39 years',
 'Estimate!!Total:!!Female:!!40 to 44 years'
]]

RA_Iowa_BG_df_copy = RA_Iowa_BG_df.copy()
RA_Iowa_BG_df_copy.drop(RA_Iowa_BG_df.index[0], inplace=True)
age_columns = [
    'Estimate!!Total:!!Female:!!18 and 19 years',
 'Estimate!!Total:!!Female:!!20 years',
 'Estimate!!Total:!!Female:!!21 years',
 'Estimate!!Total:!!Female:!!22 to 24 years',
 'Estimate!!Total:!!Female:!!25 to 29 years',
 'Estimate!!Total:!!Female:!!30 to 34 years',
 'Estimate!!Total:!!Female:!!35 to 39 years',
 'Estimate!!Total:!!Female:!!40 to 44 years'
]

for col in age_columns:
    if col in RA_Iowa_BG_df_copy.columns:
        RA_Iowa_BG_df_copy[col] = RA_Iowa_BG_df_copy[col].astype(str)  # Ensure it's a string
        RA_Iowa_BG_df_copy[col] = RA_Iowa_BG_df_copy[col].apply(lambda x: pd.to_numeric(x, errors='coerce'))

# Create the new column by summing the specified columns
RA_Iowa_BG_df_copy['Total Female Age 18-44 years'] = RA_Iowa_BG_df_copy[age_columns].sum(axis=1)

# Drop all other columns except 'Geographic Area Name' and the new column
RA_Iowa_BG_df_copy = RA_Iowa_BG_df_copy[['Geographic Area Name', 'Total Female Age 18-44 years']]
RA_Iowa_BG_df_copy.rename(columns={'Geographic Area Name': 'Geographic Area Names'}, inplace=True)
# Display the resulting DataFrame
RA_Iowa_BG_df_copy

RA_Iowa_BG_df_copy['Geographic Area Name'] = RA_Iowa_BG_df_copy['Geographic Area Names'].str.extract(r'Block Group \d+; (.*)')



RA_Iowa_BG_df_copy.head()

,Geographic Area Names,Total Female Age 18-44 years,Geographic Area Name
1,Block Group 1; Census Tract 9601; Adair County...,174,Census Tract 9601; Adair County; Iowa
2,Block Group 2; Census Tract 9601; Adair County...,108,Census Tract 9601; Adair County; Iowa
3,Block Group 3; Census Tract 9601; Adair County...,110,Census Tract 9601; Adair County; Iowa
4,Block Group 1; Census Tract 9602; Adair County...,45,Census Tract 9602; Adair County; Iowa
5,Block Group 2; Census Tract 9602; Adair County...,169,Census Tract 9602; Adair County; Iowa

<h1> Poverty Status by County </h1>

In [7]:

PovertyStatusbyCounty.rename(columns=PovertyStatusbyCounty.iloc[0], inplace=True)
# Assume ClassofWorkerByCounty.columns is your list of column names
columns_list = list(PovertyStatusbyCounty.columns)

# Filter out columns containing the word "female", making sure to handle non-string types
female_columns = [col for col in columns_list if isinstance(col, str) and 'female' in col.lower() and 'estimate' in col.lower() ]
female_columns

['Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!Under 5 years',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!5 years',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!6 to 11 years',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!12 to 14 years',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!15 years',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!16 and 17 years',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!18 to 24 years',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!25 to 34 years',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!35 to 44 years',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!45 to 54 years',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!55 to 64 years',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!65 to 74 years',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!75 years and over',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!Under 5 years',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!5 years',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!6 to 11 years',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!12 to 14 years',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!15 years',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!16 and 17 years',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!18 to 24 years',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!25 to 34 years',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!35 to 44 years',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!45 to 54 years',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!55 to 64 years',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!65 to 74 years',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!75 years and over']

In [13]:
PovertyStatusbyCounty_df=PovertyStatusbyCounty[['Geography',
 'Geographic Area Name',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!18 to 24 years',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!25 to 34 years',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!35 to 44 years',
'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!18 to 24 years',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!25 to 34 years',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!35 to 44 years'
]]
#PovertyStatusbyCounty_df = PovertyStatusbyCounty_df.drop(ClassofWorkerByCT_df.index[0])
PovertyStatusbyCounty_df.head()

,Geography,Geographic Area Name,Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!18 to 24 years,Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!25 to 34 years,Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!35 to 44 years,Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!18 to 24 years,Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!25 to 34 years,Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!35 to 44 years
0,Geography,Geographic Area Name,Estimate!!Total:!!Income in the past 12 months...,Estimate!!Total:!!Income in the past 12 months...,Estimate!!Total:!!Income in the past 12 months...,Estimate!!Total:!!Income in the past 12 months...,Estimate!!Total:!!Income in the past 12 months...,Estimate!!Total:!!Income in the past 12 months...
1,0500000US19001,"Adair County, Iowa",50,52,43,173,333,379
2,0500000US19003,"Adams County, Iowa",17,16,15,80,169,188
3,0500000US19005,"Allamakee County, Iowa",113,145,111,334,589,591
4,0500000US19007,"Appanoose County, Iowa",79,165,142,308,463,491

In [15]:
import pandas as pd

# Assuming your DataFrame is named PovertyStatusbyCounty_df

# Drop the first row
PovertyStatusbyCounty_df = PovertyStatusbyCounty_df.drop(PovertyStatusbyCounty_df.index[0])

# Convert relevant columns to numeric
cols_to_convert = [
    'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!18 to 24 years',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!25 to 34 years',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!35 to 44 years',
'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!18 to 24 years',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!25 to 34 years',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!35 to 44 years'
]

for col in cols_to_convert:
    PovertyStatusbyCounty_df[col] = pd.to_numeric(PovertyStatusbyCounty_df[col], errors='coerce')

# Replace NaN values resulted from conversion errors with zero
PovertyStatusbyCounty_df.fillna(0, inplace=True)

# Add a new column for total income below poverty level for Female ages 18 to 44 years
PovertyStatusbyCounty_df['Income in the past 12 months below poverty level!!Female!!18 to 44 years'] = (
    PovertyStatusbyCounty_df['Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!18 to 24 years'] +
    PovertyStatusbyCounty_df[ 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!25 to 34 years'] +
    PovertyStatusbyCounty_df['Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!35 to 44 years']
)

# Add a new column for total income at or above poverty level for Female ages 18 to 44 years
PovertyStatusbyCounty_df['Income in the past 12 months at or above poverty level!!Female!!18 to 44 years'] = (
    PovertyStatusbyCounty_df['Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!18 to 24 years'] +
    PovertyStatusbyCounty_df[ 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!25 to 34 years'] +
    PovertyStatusbyCounty_df['Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!35 to 44 years']
)

#PovertyStatusbyCounty_df = PovertyStatusbyCounty_df.iloc[:, -2:]

In [16]:
PovertyStatusbyCounty_df = PovertyStatusbyCounty_df[['Geography', 'Geographic Area Name', 
         'Income in the past 12 months below poverty level!!Female!!18 to 44 years', 
         'Income in the past 12 months at or above poverty level!!Female!!18 to 44 years']]

# Now df contains only the specified columns
PovertyStatusbyCounty_df

,Geography,Geographic Area Name,Income in the past 12 months below poverty level!!Female!!18 to 44 years,Income in the past 12 months at or above poverty level!!Female!!18 to 44 years
2,0500000US19003,"Adams County, Iowa",48,437
3,0500000US19005,"Allamakee County, Iowa",369,1514
4,0500000US19007,"Appanoose County, Iowa",386,1262
5,0500000US19009,"Audubon County, Iowa",88,639
6,0500000US19011,"Benton County, Iowa",393,3281
...,...,...,...,...
95,0500000US19189,"Winnebago County, Iowa",227,1256
96,0500000US19191,"Winneshiek County, Iowa",302,2073
97,0500000US19193,"Woodbury County, Iowa",3121,14085
98,0500000US19195,"Worth County, Iowa",107,941
99,0500000US19197,"Wright County, Iowa",382,1490

<h1> Poverty Status by Census Tract </h1>

In [18]:

PovertyStatusbyCT=pd.read_csv('../../Obstetric accessibility visualization/Data/PovertyStatusbyCensusTract.csv')

PovertyStatusbyCT.rename(columns=PovertyStatusbyCT.iloc[0], inplace=True)
# Assume ClassofWorkerByCounty.columns is your list of column names
columns_list = list(PovertyStatusbyCT.columns)

# Filter out columns containing the word "female", making sure to handle non-string types
female_columns = [col for col in columns_list if isinstance(col, str) and 'female' in col.lower() and 'estimate' in col.lower() ]
female_columns

['Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!Under 5 years',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!5 years',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!6 to 11 years',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!12 to 14 years',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!15 years',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!16 and 17 years',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!18 to 24 years',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!25 to 34 years',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!35 to 44 years',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!45 to 54 years',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!55 to 64 years',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!65 to 74 years',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!75 years and over',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!Under 5 years',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!5 years',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!6 to 11 years',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!12 to 14 years',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!15 years',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!16 and 17 years',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!18 to 24 years',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!25 to 34 years',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!35 to 44 years',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!45 to 54 years',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!55 to 64 years',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!65 to 74 years',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!75 years and over']

In [20]:

# Drop the first row
PovertyStatusbyCT_df = PovertyStatusbyCT.drop(PovertyStatusbyCT.index[0])

# Convert relevant columns to numeric
cols_to_convert = [
    'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!18 to 24 years',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!25 to 34 years',
 'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!35 to 44 years',
    'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!18 to 24 years',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!25 to 34 years',
 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!35 to 44 years'
]

for col in cols_to_convert:
    PovertyStatusbyCT_df[col] = pd.to_numeric(PovertyStatusbyCT_df[col], errors='coerce')

# Replace NaN values resulted from conversion errors with zero
PovertyStatusbyCT_df.fillna(0, inplace=True)

# Add a new column for total income below poverty level for Female ages 18 to 44 years
PovertyStatusbyCT_df['Income in the past 12 months below poverty level!!Female!!18 to 44 years'] = (
    PovertyStatusbyCT_df['Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!18 to 24 years'] +
    PovertyStatusbyCT_df['Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!25 to 34 years'] +
    PovertyStatusbyCT_df['Estimate!!Total:!!Income in the past 12 months below poverty level:!!Female:!!35 to 44 years']
)

# Add a new column for total income at or above poverty level for Female ages 18 to 44 years
PovertyStatusbyCT_df['Income in the past 12 months at or above poverty level!!Female!!18 to 44 years'] = (
    PovertyStatusbyCT_df['Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!18 to 24 years'] +
    PovertyStatusbyCT_df[ 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!25 to 34 years'] +
    PovertyStatusbyCT_df[ 'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Female:!!35 to 44 years']
)

#PovertyStatusbyCounty_df = PovertyStatusbyCounty_df.iloc[:, -2:]
PovertyStatusbyCT_df = PovertyStatusbyCT_df[['Geography', 'Geographic Area Name', 
         'Income in the past 12 months below poverty level!!Female!!18 to 44 years', 
         'Income in the past 12 months at or above poverty level!!Female!!18 to 44 years']]

# Now df contains only the specified columns
PovertyStatusbyCT_df

,Geography,Geographic Area Name,Income in the past 12 months below poverty level!!Female!!18 to 44 years,Income in the past 12 months at or above poverty level!!Female!!18 to 44 years
1,1400000US19001960100,Census Tract 9601; Adair County; Iowa,57,335
2,1400000US19001960200,Census Tract 9602; Adair County; Iowa,24,190
3,1400000US19001960300,Census Tract 9603; Adair County; Iowa,64,360
4,1400000US19003950100,Census Tract 9501; Adams County; Iowa,25,188
5,1400000US19003950200,Census Tract 9502; Adams County; Iowa,23,249
...,...,...,...,...
892,1400000US19197680100,Census Tract 6801; Wright County; Iowa,73,388
893,1400000US19197680200,Census Tract 6802; Wright County; Iowa,43,180
894,1400000US19197680300,Census Tract 6803; Wright County; Iowa,117,362
895,1400000US19197680400,Census Tract 6804; Wright County; Iowa,18,160
896,1400000US19197680500,Census Tract 6805; Wright County; Iowa,131,400

<h1>RA women by poverty STtaus on a BG level using CT </h1>

In [55]:
categories = [
    'Income in the past 12 months below poverty level!!Female!!18 to 44 years',
    'Income in the past 12 months at or above poverty level!!Female!!18 to 44 years'
]

# Convert all relevant columns to numeric
PovertyStatusbyCT_df[categories] = PovertyStatusbyCT_df[categories].apply(pd.to_numeric, errors='coerce')

# Replace NaN with 0 (if appropriate for your data)
PovertyStatusbyCT_df[categories] = PovertyStatusbyCT_df[categories].fillna(0)

# Calculate the sum of all these categories for each row
total = PovertyStatusbyCT_df[categories].sum(axis=1)

# Calculate the proportion for each column
for category in categories:
    PovertyStatusbyCT_df[category] = PovertyStatusbyCT_df[category] / total

PovertyStatusbyCT_df

,Geography,Geographic Area Name,Income in the past 12 months below poverty level!!Female!!18 to 44 years,Income in the past 12 months at or above poverty level!!Female!!18 to 44 years
1,1400000US19001960100,Census Tract 9601; Adair County; Iowa,0.145408,0.854592
2,1400000US19001960200,Census Tract 9602; Adair County; Iowa,0.112150,0.887850
3,1400000US19001960300,Census Tract 9603; Adair County; Iowa,0.150943,0.849057
4,1400000US19003950100,Census Tract 9501; Adams County; Iowa,0.117371,0.882629
5,1400000US19003950200,Census Tract 9502; Adams County; Iowa,0.084559,0.915441
...,...,...,...,...
892,1400000US19197680100,Census Tract 6801; Wright County; Iowa,0.158351,0.841649
893,1400000US19197680200,Census Tract 6802; Wright County; Iowa,0.192825,0.807175
894,1400000US19197680300,Census Tract 6803; Wright County; Iowa,0.244259,0.755741
895,1400000US19197680400,Census Tract 6804; Wright County; Iowa,0.101124,0.898876
896,1400000US19197680500,Census Tract 6805; Wright County; Iowa,0.246704,0.753296

In [64]:
merged_df = pd.merge(RA_Iowa_BG_df_copy, PovertyStatusbyCT_df, on='Geographic Area Name')
merged_df

,Geographic Area Names,Total Female Age 18-44 years,Geographic Area Name,Geography,Income in the past 12 months below poverty level!!Female!!18 to 44 years,Income in the past 12 months at or above poverty level!!Female!!18 to 44 years
0,Block Group 1; Census Tract 9601; Adair County...,174,Census Tract 9601; Adair County; Iowa,1400000US19001960100,0.145408,0.854592
1,Block Group 2; Census Tract 9601; Adair County...,108,Census Tract 9601; Adair County; Iowa,1400000US19001960100,0.145408,0.854592
2,Block Group 3; Census Tract 9601; Adair County...,110,Census Tract 9601; Adair County; Iowa,1400000US19001960100,0.145408,0.854592
3,Block Group 1; Census Tract 9602; Adair County...,45,Census Tract 9602; Adair County; Iowa,1400000US19001960200,0.112150,0.887850
4,Block Group 2; Census Tract 9602; Adair County...,169,Census Tract 9602; Adair County; Iowa,1400000US19001960200,0.112150,0.887850
...,...,...,...,...,...,...
2698,Block Group 1; Census Tract 6804; Wright Count...,178,Census Tract 6804; Wright County; Iowa,1400000US19197680400,0.101124,0.898876
2699,Block Group 1; Census Tract 6805; Wright Count...,125,Census Tract 6805; Wright County; Iowa,1400000US19197680500,0.246704,0.753296
2700,Block Group 2; Census Tract 6805; Wright Count...,89,Census Tract 6805; Wright County; Iowa,1400000US19197680500,0.246704,0.753296
2701,Block Group 3; Census Tract 6805; Wright Count...,213,Census Tract 6805; Wright County; Iowa,1400000US19197680500,0.246704,0.753296
2702,Block Group 4; Census Tract 6805; Wright Count...,104,Census Tract 6805; Wright County; Iowa,1400000US19197680500,0.246704,0.753296

In [65]:
columns_to_multiply = [
     'Income in the past 12 months below poverty level!!Female!!18 to 44 years',
    'Income in the past 12 months at or above poverty level!!Female!!18 to 44 years'
]

# Performing the multiplication
for column in columns_to_multiply:
    merged_df[column] = (merged_df[column] * merged_df['Total Female Age 18-44 years'])

In [66]:
import math

columns_to_round = [
    'Income in the past 12 months below poverty level!!Female!!18 to 44 years',
    'Income in the past 12 months at or above poverty level!!Female!!18 to 44 years'
]

for index, row in merged_df.iterrows():
    rounded_sum = 0

    # Round all but the last value
    for column in columns_to_round[:-1]:
        value = row[column]
        if not math.isnan(value):  # Check if the value is not NaN
            rounded_value = round(value)
            merged_df.at[index, column] = rounded_value
            rounded_sum += rounded_value
        else:
            merged_df.at[index, column] = value  # Keep the NaN or handle it differently if needed

    # Calculate the last value to ensure the sum matches the Population
    last_column = columns_to_round[-1]
    last_value = row[last_column]
    if not math.isnan(last_value):
        # Subtract the rounded sum from the total and assign it to the last column
        merged_df.at[index, last_column] = row['Total Female Age 18-44 years'] - rounded_sum
    else:
        merged_df.at[index, last_column] = last_value  # Keep the NaN or handle it differently if needed

# Drop columns as needed
merged_df.drop('Geographic Area Name', axis=1, inplace=True)
merged_df.drop('Total Female Age 18-44 years', axis=1, inplace=True)
merged_df=merged_df.drop('Geography',axis=1)
merged_df.head()

,Geographic Area Names,Income in the past 12 months below poverty level!!Female!!18 to 44 years,Income in the past 12 months at or above poverty level!!Female!!18 to 44 years
0,Block Group 1; Census Tract 9601; Adair County...,25.0,149.0
1,Block Group 2; Census Tract 9601; Adair County...,16.0,92.0
2,Block Group 3; Census Tract 9601; Adair County...,16.0,94.0
3,Block Group 1; Census Tract 9602; Adair County...,5.0,40.0
4,Block Group 2; Census Tract 9602; Adair County...,19.0,150.0

<h1> Health Insurance Dataset on a County Level </h1>

In [69]:
RA_HealthInsurance=pd.read_csv('../../Obstetric accessibility visualization/Data/RA_HealthInsurance_Iowa.csv')
RA_HealthInsurance.head()
RA_HealthInsurance.rename(columns=RA_HealthInsurance.iloc[0], inplace=True)
list(RA_HealthInsurance.columns)

['Geography',
 'Geographic Area Name',
 'Estimate!!Total:',
 'Margin of Error!!Total:',
 'Estimate!!Total:!!Male:',
 'Margin of Error!!Total:!!Male:',
 'Estimate!!Total:!!Male:!!Under 6 years:',
 'Margin of Error!!Total:!!Male:!!Under 6 years:',
 'Estimate!!Total:!!Male:!!Under 6 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Male:!!Under 6 years:!!With health insurance coverage',
 'Estimate!!Total:!!Male:!!Under 6 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Male:!!Under 6 years:!!No health insurance coverage',
 'Estimate!!Total:!!Male:!!6 to 18 years:',
 'Margin of Error!!Total:!!Male:!!6 to 18 years:',
 'Estimate!!Total:!!Male:!!6 to 18 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Male:!!6 to 18 years:!!With health insurance coverage',
 'Estimate!!Total:!!Male:!!6 to 18 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Male:!!6 to 18 years:!!No health insurance coverage',
 'Estimate!!Total:!!Male:!!19 to 25 years:',
 'Margin of Error!!Total:!!Male:!!19 to 25 years:',
 'Estimate!!Total:!!Male:!!19 to 25 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Male:!!19 to 25 years:!!With health insurance coverage',
 'Estimate!!Total:!!Male:!!19 to 25 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Male:!!19 to 25 years:!!No health insurance coverage',
 'Estimate!!Total:!!Male:!!26 to 34 years:',
 'Margin of Error!!Total:!!Male:!!26 to 34 years:',
 'Estimate!!Total:!!Male:!!26 to 34 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Male:!!26 to 34 years:!!With health insurance coverage',
 'Estimate!!Total:!!Male:!!26 to 34 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Male:!!26 to 34 years:!!No health insurance coverage',
 'Estimate!!Total:!!Male:!!35 to 44 years:',
 'Margin of Error!!Total:!!Male:!!35 to 44 years:',
 'Estimate!!Total:!!Male:!!35 to 44 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Male:!!35 to 44 years:!!With health insurance coverage',
 'Estimate!!Total:!!Male:!!35 to 44 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Male:!!35 to 44 years:!!No health insurance coverage',
 'Estimate!!Total:!!Male:!!45 to 54 years:',
 'Margin of Error!!Total:!!Male:!!45 to 54 years:',
 'Estimate!!Total:!!Male:!!45 to 54 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Male:!!45 to 54 years:!!With health insurance coverage',
 'Estimate!!Total:!!Male:!!45 to 54 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Male:!!45 to 54 years:!!No health insurance coverage',
 'Estimate!!Total:!!Male:!!55 to 64 years:',
 'Margin of Error!!Total:!!Male:!!55 to 64 years:',
 'Estimate!!Total:!!Male:!!55 to 64 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Male:!!55 to 64 years:!!With health insurance coverage',
 'Estimate!!Total:!!Male:!!55 to 64 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Male:!!55 to 64 years:!!No health insurance coverage',
 'Estimate!!Total:!!Male:!!65 to 74 years:',
 'Margin of Error!!Total:!!Male:!!65 to 74 years:',
 'Estimate!!Total:!!Male:!!65 to 74 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Male:!!65 to 74 years:!!With health insurance coverage',
 'Estimate!!Total:!!Male:!!65 to 74 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Male:!!65 to 74 years:!!No health insurance coverage',
 'Estimate!!Total:!!Male:!!75 years and over:',
 'Margin of Error!!Total:!!Male:!!75 years and over:',
 'Estimate!!Total:!!Male:!!75 years and over:!!With health insurance coverage',
 'Margin of Error!!Total:!!Male:!!75 years and over:!!With health insurance coverage',
 'Estimate!!Total:!!Male:!!75 years and over:!!No health insurance coverage',
 'Margin of Error!!Total:!!Male:!!75 years and over:!!No health insurance coverage',
 'Estimate!!Total:!!Female:',
 'Margin of Error!!Total:!!Female:',
 'Estimate!!Total:!!Female:!!Under 6 years:',
 'Margin of Error!!Total:!!Female:!!Under 6 years:',
 'Estimate!!Total:!!Female:!!Under 6 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Female:!!Under 6 years:!!With health insurance coverage',
 'Estimate!!Total:!!Female:!!Under 6 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Female:!!Under 6 years:!!No health insurance coverage',
 'Estimate!!Total:!!Female:!!6 to 18 years:',
 'Margin of Error!!Total:!!Female:!!6 to 18 years:',
 'Estimate!!Total:!!Female:!!6 to 18 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Female:!!6 to 18 years:!!With health insurance coverage',
 'Estimate!!Total:!!Female:!!6 to 18 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Female:!!6 to 18 years:!!No health insurance coverage',
 'Estimate!!Total:!!Female:!!19 to 25 years:',
 'Margin of Error!!Total:!!Female:!!19 to 25 years:',
 'Estimate!!Total:!!Female:!!19 to 25 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Female:!!19 to 25 years:!!With health insurance coverage',
 'Estimate!!Total:!!Female:!!19 to 25 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Female:!!19 to 25 years:!!No health insurance coverage',
 'Estimate!!Total:!!Female:!!26 to 34 years:',
 'Margin of Error!!Total:!!Female:!!26 to 34 years:',
 'Estimate!!Total:!!Female:!!26 to 34 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Female:!!26 to 34 years:!!With health insurance coverage',
 'Estimate!!Total:!!Female:!!26 to 34 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Female:!!26 to 34 years:!!No health insurance coverage',
 'Estimate!!Total:!!Female:!!35 to 44 years:',
 'Margin of Error!!Total:!!Female:!!35 to 44 years:',
 'Estimate!!Total:!!Female:!!35 to 44 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Female:!!35 to 44 years:!!With health insurance coverage',
 'Estimate!!Total:!!Female:!!35 to 44 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Female:!!35 to 44 years:!!No health insurance coverage',
 'Estimate!!Total:!!Female:!!45 to 54 years:',
 'Margin of Error!!Total:!!Female:!!45 to 54 years:',
 'Estimate!!Total:!!Female:!!45 to 54 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Female:!!45 to 54 years:!!With health insurance coverage',
 'Estimate!!Total:!!Female:!!45 to 54 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Female:!!45 to 54 years:!!No health insurance coverage',
 'Estimate!!Total:!!Female:!!55 to 64 years:',
 'Margin of Error!!Total:!!Female:!!55 to 64 years:',
 'Estimate!!Total:!!Female:!!55 to 64 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Female:!!55 to 64 years:!!With health insurance coverage',
 'Estimate!!Total:!!Female:!!55 to 64 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Female:!!55 to 64 years:!!No health insurance coverage',
 'Estimate!!Total:!!Female:!!65 to 74 years:',
 'Margin of Error!!Total:!!Female:!!65 to 74 years:',
 'Estimate!!Total:!!Female:!!65 to 74 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Female:!!65 to 74 years:!!With health insurance coverage',
 'Estimate!!Total:!!Female:!!65 to 74 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Female:!!65 to 74 years:!!No health insurance coverage',
 'Estimate!!Total:!!Female:!!75 years and over:',
 'Margin of Error!!Total:!!Female:!!75 years and over:',
 'Estimate!!Total:!!Female:!!75 years and over:!!With health insurance coverage',
 'Margin of Error!!Total:!!Female:!!75 years and over:!!With health insurance coverage',
 'Estimate!!Total:!!Female:!!75 years and over:!!No health insurance coverage',
 'Margin of Error!!Total:!!Female:!!75 years and over:!!No health insurance coverage',
 nan]

In [71]:
RA_HealthInsurance.rename(columns=RA_HealthInsurance.iloc[0], inplace=True)
RA_HealthInsurance_df = RA_HealthInsurance[[
    'Geographic Area Name',
    'Estimate!!Total:!!Female:!!19 to 25 years:!!With health insurance coverage',
    'Estimate!!Total:!!Female:!!26 to 34 years:!!With health insurance coverage',
    'Estimate!!Total:!!Female:!!35 to 44 years:!!With health insurance coverage',
]]
RA_HealthInsurance_df_copy = RA_HealthInsurance_df.copy()
RA_HealthInsurance_df_copy.drop(RA_HealthInsurance_df.index[0], inplace=True)
RA_HealthInsurance_df_copy = RA_HealthInsurance_df_copy.set_index('Geographic Area Name')
RA_HealthInsurance_df_copy = RA_HealthInsurance_df_copy.iloc[1:]
RA_HealthInsurance_df_copy = RA_HealthInsurance_df_copy.astype(int)
RA_HealthInsurance_df_copy['Total Female, 19-44'] = RA_HealthInsurance_df_copy.iloc[:, 1:8].sum(axis=1)
RA_HealthInsurance_df_copy = RA_HealthInsurance_df_copy.iloc[:, -1:]
RA_HealthInsurance_df_copy = RA_HealthInsurance_df_copy.rename(columns={'Total Female, 19-44': 'Total Female, 19-44 with Health Insurance'})
RA_HealthInsurance_df_copy

                         Total Female, 19-44 with Health Insurance
Geographic Area Name
Adams County, Iowa                                             358
Allamakee County, Iowa                                        1228
Appanoose County, Iowa                                        1119
Audubon County, Iowa                                           530
Benton County, Iowa                                           2622
...                                                            ...
Winnebago County, Iowa                                        1010
Winneshiek County, Iowa                                       1682
Woodbury County, Iowa                                        10661
Worth County, Iowa                                             655
Wright County, Iowa                                           1327

[98 rows x 1 columns]

In [72]:
RA_NoHealthInsurance_df = RA_HealthInsurance[[
    'Geographic Area Name',
    'Estimate!!Total:!!Female:!!19 to 25 years:!!No health insurance coverage',
    'Estimate!!Total:!!Female:!!26 to 34 years:!!No health insurance coverage',
    'Estimate!!Total:!!Female:!!35 to 44 years:!!No health insurance coverage',
]]
RA_NoHealthInsurance_df_copy = RA_NoHealthInsurance_df.copy()
RA_NoHealthInsurance_df_copy.drop(RA_NoHealthInsurance_df.index[0], inplace=True)
RA_NoHealthInsurance_df_copy = RA_NoHealthInsurance_df_copy.set_index('Geographic Area Name')
RA_NoHealthInsurance_df_copy = RA_NoHealthInsurance_df_copy.iloc[1:]
RA_NoHealthInsurance_df_copy = RA_NoHealthInsurance_df_copy.astype(int)
RA_NoHealthInsurance_df_copy['Total Female, 19-44'] = RA_NoHealthInsurance_df_copy.iloc[:, 1:8].sum(axis=1)
RA_NoHealthInsurance_df_copy = RA_NoHealthInsurance_df_copy.iloc[:, -1:]
RA_NoHealthInsurance_df_copy = RA_NoHealthInsurance_df_copy.rename(columns={'Total Female, 19-44': 'Total Female, 19-44 No Health Insurance'})
RA_NoHealthInsurance_df_copy

                         Total Female, 19-44 No Health Insurance
Geographic Area Name
Adams County, Iowa                                            14
Allamakee County, Iowa                                       139
Appanoose County, Iowa                                        68
Audubon County, Iowa                                          10
Benton County, Iowa                                           50
...                                                          ...
Winnebago County, Iowa                                        37
Winneshiek County, Iowa                                       90
Woodbury County, Iowa                                       1095
Worth County, Iowa                                            89
Wright County, Iowa                                           76

[98 rows x 1 columns]

In [73]:
merged_df=RA_HealthInsurance_df_copy.merge(RA_NoHealthInsurance_df_copy, on='Geographic Area Name')
merged_df

,"Total Female, 19-44 with Health Insurance","Total Female, 19-44 No Health Insurance"
Geographic Area Name,,
"Adams County, Iowa",358,14
"Allamakee County, Iowa",1228,139
"Appanoose County, Iowa",1119,68
"Audubon County, Iowa",530,10
"Benton County, Iowa",2622,50
...,...,...
"Winnebago County, Iowa",1010,37
"Winneshiek County, Iowa",1682,90
"Woodbury County, Iowa",10661,1095
"Worth County, Iowa",655,89
"Wright County, Iowa",1327,76

<h1>Health Insurance Coverage Status on a Census Tract Level </h1>

In [74]:
import pandas as pd
RA_HealthInsurance_CT=pd.read_csv('../../Obstetric accessibility visualization/Data/RA_HealthInsurance_Iowa_CensusTract.csv')

In [75]:
RA_HealthInsurance_CT.rename(columns=RA_HealthInsurance_CT.iloc[0], inplace=True)
list(RA_HealthInsurance_CT.columns)

['Geography',
 'Geographic Area Name',
 'Estimate!!Total:',
 'Margin of Error!!Total:',
 'Estimate!!Total:!!Male:',
 'Margin of Error!!Total:!!Male:',
 'Estimate!!Total:!!Male:!!Under 6 years:',
 'Margin of Error!!Total:!!Male:!!Under 6 years:',
 'Estimate!!Total:!!Male:!!Under 6 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Male:!!Under 6 years:!!With health insurance coverage',
 'Estimate!!Total:!!Male:!!Under 6 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Male:!!Under 6 years:!!No health insurance coverage',
 'Estimate!!Total:!!Male:!!6 to 18 years:',
 'Margin of Error!!Total:!!Male:!!6 to 18 years:',
 'Estimate!!Total:!!Male:!!6 to 18 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Male:!!6 to 18 years:!!With health insurance coverage',
 'Estimate!!Total:!!Male:!!6 to 18 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Male:!!6 to 18 years:!!No health insurance coverage',
 'Estimate!!Total:!!Male:!!19 to 25 years:',
 'Margin of Error!!Total:!!Male:!!19 to 25 years:',
 'Estimate!!Total:!!Male:!!19 to 25 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Male:!!19 to 25 years:!!With health insurance coverage',
 'Estimate!!Total:!!Male:!!19 to 25 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Male:!!19 to 25 years:!!No health insurance coverage',
 'Estimate!!Total:!!Male:!!26 to 34 years:',
 'Margin of Error!!Total:!!Male:!!26 to 34 years:',
 'Estimate!!Total:!!Male:!!26 to 34 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Male:!!26 to 34 years:!!With health insurance coverage',
 'Estimate!!Total:!!Male:!!26 to 34 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Male:!!26 to 34 years:!!No health insurance coverage',
 'Estimate!!Total:!!Male:!!35 to 44 years:',
 'Margin of Error!!Total:!!Male:!!35 to 44 years:',
 'Estimate!!Total:!!Male:!!35 to 44 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Male:!!35 to 44 years:!!With health insurance coverage',
 'Estimate!!Total:!!Male:!!35 to 44 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Male:!!35 to 44 years:!!No health insurance coverage',
 'Estimate!!Total:!!Male:!!45 to 54 years:',
 'Margin of Error!!Total:!!Male:!!45 to 54 years:',
 'Estimate!!Total:!!Male:!!45 to 54 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Male:!!45 to 54 years:!!With health insurance coverage',
 'Estimate!!Total:!!Male:!!45 to 54 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Male:!!45 to 54 years:!!No health insurance coverage',
 'Estimate!!Total:!!Male:!!55 to 64 years:',
 'Margin of Error!!Total:!!Male:!!55 to 64 years:',
 'Estimate!!Total:!!Male:!!55 to 64 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Male:!!55 to 64 years:!!With health insurance coverage',
 'Estimate!!Total:!!Male:!!55 to 64 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Male:!!55 to 64 years:!!No health insurance coverage',
 'Estimate!!Total:!!Male:!!65 to 74 years:',
 'Margin of Error!!Total:!!Male:!!65 to 74 years:',
 'Estimate!!Total:!!Male:!!65 to 74 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Male:!!65 to 74 years:!!With health insurance coverage',
 'Estimate!!Total:!!Male:!!65 to 74 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Male:!!65 to 74 years:!!No health insurance coverage',
 'Estimate!!Total:!!Male:!!75 years and over:',
 'Margin of Error!!Total:!!Male:!!75 years and over:',
 'Estimate!!Total:!!Male:!!75 years and over:!!With health insurance coverage',
 'Margin of Error!!Total:!!Male:!!75 years and over:!!With health insurance coverage',
 'Estimate!!Total:!!Male:!!75 years and over:!!No health insurance coverage',
 'Margin of Error!!Total:!!Male:!!75 years and over:!!No health insurance coverage',
 'Estimate!!Total:!!Female:',
 'Margin of Error!!Total:!!Female:',
 'Estimate!!Total:!!Female:!!Under 6 years:',
 'Margin of Error!!Total:!!Female:!!Under 6 years:',
 'Estimate!!Total:!!Female:!!Under 6 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Female:!!Under 6 years:!!With health insurance coverage',
 'Estimate!!Total:!!Female:!!Under 6 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Female:!!Under 6 years:!!No health insurance coverage',
 'Estimate!!Total:!!Female:!!6 to 18 years:',
 'Margin of Error!!Total:!!Female:!!6 to 18 years:',
 'Estimate!!Total:!!Female:!!6 to 18 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Female:!!6 to 18 years:!!With health insurance coverage',
 'Estimate!!Total:!!Female:!!6 to 18 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Female:!!6 to 18 years:!!No health insurance coverage',
 'Estimate!!Total:!!Female:!!19 to 25 years:',
 'Margin of Error!!Total:!!Female:!!19 to 25 years:',
 'Estimate!!Total:!!Female:!!19 to 25 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Female:!!19 to 25 years:!!With health insurance coverage',
 'Estimate!!Total:!!Female:!!19 to 25 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Female:!!19 to 25 years:!!No health insurance coverage',
 'Estimate!!Total:!!Female:!!26 to 34 years:',
 'Margin of Error!!Total:!!Female:!!26 to 34 years:',
 'Estimate!!Total:!!Female:!!26 to 34 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Female:!!26 to 34 years:!!With health insurance coverage',
 'Estimate!!Total:!!Female:!!26 to 34 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Female:!!26 to 34 years:!!No health insurance coverage',
 'Estimate!!Total:!!Female:!!35 to 44 years:',
 'Margin of Error!!Total:!!Female:!!35 to 44 years:',
 'Estimate!!Total:!!Female:!!35 to 44 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Female:!!35 to 44 years:!!With health insurance coverage',
 'Estimate!!Total:!!Female:!!35 to 44 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Female:!!35 to 44 years:!!No health insurance coverage',
 'Estimate!!Total:!!Female:!!45 to 54 years:',
 'Margin of Error!!Total:!!Female:!!45 to 54 years:',
 'Estimate!!Total:!!Female:!!45 to 54 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Female:!!45 to 54 years:!!With health insurance coverage',
 'Estimate!!Total:!!Female:!!45 to 54 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Female:!!45 to 54 years:!!No health insurance coverage',
 'Estimate!!Total:!!Female:!!55 to 64 years:',
 'Margin of Error!!Total:!!Female:!!55 to 64 years:',
 'Estimate!!Total:!!Female:!!55 to 64 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Female:!!55 to 64 years:!!With health insurance coverage',
 'Estimate!!Total:!!Female:!!55 to 64 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Female:!!55 to 64 years:!!No health insurance coverage',
 'Estimate!!Total:!!Female:!!65 to 74 years:',
 'Margin of Error!!Total:!!Female:!!65 to 74 years:',
 'Estimate!!Total:!!Female:!!65 to 74 years:!!With health insurance coverage',
 'Margin of Error!!Total:!!Female:!!65 to 74 years:!!With health insurance coverage',
 'Estimate!!Total:!!Female:!!65 to 74 years:!!No health insurance coverage',
 'Margin of Error!!Total:!!Female:!!65 to 74 years:!!No health insurance coverage',
 'Estimate!!Total:!!Female:!!75 years and over:',
 'Margin of Error!!Total:!!Female:!!75 years and over:',
 'Estimate!!Total:!!Female:!!75 years and over:!!With health insurance coverage',
 'Margin of Error!!Total:!!Female:!!75 years and over:!!With health insurance coverage',
 'Estimate!!Total:!!Female:!!75 years and over:!!No health insurance coverage',
 'Margin of Error!!Total:!!Female:!!75 years and over:!!No health insurance coverage',
 nan]

In [78]:
RA_HealthInsurance_df = RA_HealthInsurance_CT[[
    'Geographic Area Name',
    'Estimate!!Total:!!Female:!!19 to 25 years:!!With health insurance coverage',
    'Estimate!!Total:!!Female:!!26 to 34 years:!!With health insurance coverage',
    'Estimate!!Total:!!Female:!!35 to 44 years:!!With health insurance coverage',
]]
RA_HealthInsurance_df_copy = RA_HealthInsurance_df.copy()
RA_HealthInsurance_df_copy.drop(RA_HealthInsurance_df.index[0], inplace=True)
RA_HealthInsurance_df_copy = RA_HealthInsurance_df_copy.set_index('Geographic Area Name')
RA_HealthInsurance_df_copy = RA_HealthInsurance_df_copy.iloc[1:]
RA_HealthInsurance_df_copy = RA_HealthInsurance_df_copy.astype(int)
RA_HealthInsurance_df_copy['Total Female, 19-44'] = RA_HealthInsurance_df_copy.iloc[:, 1:8].sum(axis=1)
RA_HealthInsurance_df_copy = RA_HealthInsurance_df_copy.iloc[:, -1:]
RA_HealthInsurance_df_copy = RA_HealthInsurance_df_copy.rename(columns={'Total Female, 19-44': 'Total Female, 19-44 with Health Insurance'})
RA_HealthInsurance_df_copy

                                           Total Female, 19-44 with Health Insurance
Geographic Area Name
Census Tract 9602; Adair County; Iowa                                            154
Census Tract 9603; Adair County; Iowa                                            289
Census Tract 9501; Adams County; Iowa                                            115
Census Tract 9502; Adams County; Iowa                                            243
Census Tract 9601; Allamakee County; Iowa                                        202
...                                                                              ...
Census Tract 6801; Wright County; Iowa                                           331
Census Tract 6802; Wright County; Iowa                                           146
Census Tract 6803; Wright County; Iowa                                           301
Census Tract 6804; Wright County; Iowa                                           121
Census Tract 6805; Wright County; Iowa                                           428

[895 rows x 1 columns]

In [79]:
RA_NoHealthInsurance_df = RA_HealthInsurance_CT[[
    'Geographic Area Name',
    'Estimate!!Total:!!Female:!!19 to 25 years:!!No health insurance coverage',
    'Estimate!!Total:!!Female:!!26 to 34 years:!!No health insurance coverage',
    'Estimate!!Total:!!Female:!!35 to 44 years:!!No health insurance coverage',
]]
RA_NoHealthInsurance_df_copy = RA_NoHealthInsurance_df.copy()
RA_NoHealthInsurance_df_copy.drop(RA_NoHealthInsurance_df.index[0], inplace=True)
RA_NoHealthInsurance_df_copy = RA_NoHealthInsurance_df_copy.set_index('Geographic Area Name')
RA_NoHealthInsurance_df_copy = RA_NoHealthInsurance_df_copy.iloc[1:]
RA_NoHealthInsurance_df_copy = RA_NoHealthInsurance_df_copy.astype(int)
RA_NoHealthInsurance_df_copy['Total Female, 19-44'] = RA_NoHealthInsurance_df_copy.iloc[:, 1:8].sum(axis=1)
RA_NoHealthInsurance_df_copy = RA_NoHealthInsurance_df_copy.iloc[:, -1:]
RA_NoHealthInsurance_df_copy = RA_NoHealthInsurance_df_copy.rename(columns={'Total Female, 19-44': 'Total Female, 19-44 No Health Insurance'})
RA_NoHealthInsurance_df_copy

                                           Total Female, 19-44 No Health Insurance
Geographic Area Name
Census Tract 9602; Adair County; Iowa                                            0
Census Tract 9603; Adair County; Iowa                                            0
Census Tract 9501; Adams County; Iowa                                           14
Census Tract 9502; Adams County; Iowa                                            0
Census Tract 9601; Allamakee County; Iowa                                        0
...                                                                            ...
Census Tract 6801; Wright County; Iowa                                          40
Census Tract 6802; Wright County; Iowa                                           2
Census Tract 6803; Wright County; Iowa                                          34
Census Tract 6804; Wright County; Iowa                                           0
Census Tract 6805; Wright County; Iowa                                           0

[895 rows x 1 columns]

In [80]:
merged_df=RA_HealthInsurance_df_copy.merge(RA_NoHealthInsurance_df_copy, on='Geographic Area Name')
merged_df

,"Total Female, 19-44 with Health Insurance","Total Female, 19-44 No Health Insurance"
Geographic Area Name,,
Census Tract 9602; Adair County; Iowa,154,0
Census Tract 9603; Adair County; Iowa,289,0
Census Tract 9501; Adams County; Iowa,115,14
Census Tract 9502; Adams County; Iowa,243,0
Census Tract 9601; Allamakee County; Iowa,202,0
...,...,...
Census Tract 6801; Wright County; Iowa,331,40
Census Tract 6802; Wright County; Iowa,146,2
Census Tract 6803; Wright County; Iowa,301,34
Census Tract 6804; Wright County; Iowa,121,0
Census Tract 6805; Wright County; Iowa,428,0

<h1>Health Insurance Coverage Status on a BG Level using Census Tract</h1>

In [83]:
def calculate_proportions(row):
    with_insurance = row['Total Female, 19-44 with Health Insurance']
    without_insurance = row['Total Female, 19-44 No Health Insurance']
    total = with_insurance + without_insurance

    if total != 0:
        row['Total Female, 19-44 with Health Insurance'] = with_insurance / total
        row['Total Female, 19-44 No Health Insurance'] = without_insurance / total

    return row

# Apply the function to each row
proportion_df = merged_df.apply(calculate_proportions, axis=1)

proportion_df=proportion_df.reset_index()
proportion_df

,Geographic Area Name,"Total Female, 19-44 with Health Insurance","Total Female, 19-44 No Health Insurance"
0,Census Tract 9602; Adair County; Iowa,1.000000,0.000000
1,Census Tract 9603; Adair County; Iowa,1.000000,0.000000
2,Census Tract 9501; Adams County; Iowa,0.891473,0.108527
3,Census Tract 9502; Adams County; Iowa,1.000000,0.000000
4,Census Tract 9601; Allamakee County; Iowa,1.000000,0.000000
...,...,...,...
890,Census Tract 6801; Wright County; Iowa,0.892183,0.107817
891,Census Tract 6802; Wright County; Iowa,0.986486,0.013514
892,Census Tract 6803; Wright County; Iowa,0.898507,0.101493
893,Census Tract 6804; Wright County; Iowa,1.000000,0.000000
894,Census Tract 6805; Wright County; Iowa,1.000000,0.000000

In [86]:
merged_df = pd.merge(RA_Iowa_BG_df_copy, proportion_df, on='Geographic Area Name')
merged_df

,Geographic Area Names,Total Female Age 18-44 years,Geographic Area Name,"Total Female, 19-44 with Health Insurance","Total Female, 19-44 No Health Insurance"
0,Block Group 1; Census Tract 9602; Adair County...,45,Census Tract 9602; Adair County; Iowa,1.0,0.0
1,Block Group 2; Census Tract 9602; Adair County...,169,Census Tract 9602; Adair County; Iowa,1.0,0.0
2,Block Group 1; Census Tract 9603; Adair County...,100,Census Tract 9603; Adair County; Iowa,1.0,0.0
3,Block Group 2; Census Tract 9603; Adair County...,24,Census Tract 9603; Adair County; Iowa,1.0,0.0
4,Block Group 3; Census Tract 9603; Adair County...,91,Census Tract 9603; Adair County; Iowa,1.0,0.0
...,...,...,...,...,...
2695,Block Group 1; Census Tract 6804; Wright Count...,178,Census Tract 6804; Wright County; Iowa,1.0,0.0
2696,Block Group 1; Census Tract 6805; Wright Count...,125,Census Tract 6805; Wright County; Iowa,1.0,0.0
2697,Block Group 2; Census Tract 6805; Wright Count...,89,Census Tract 6805; Wright County; Iowa,1.0,0.0
2698,Block Group 3; Census Tract 6805; Wright Count...,213,Census Tract 6805; Wright County; Iowa,1.0,0.0
2699,Block Group 4; Census Tract 6805; Wright Count...,104,Census Tract 6805; Wright County; Iowa,1.0,0.0

In [87]:
columns_to_multiply = [
    'Total Female, 19-44 with Health Insurance',
       'Total Female, 19-44 No Health Insurance',
]

# Performing the multiplication
for column in columns_to_multiply:
    merged_df[column] = (merged_df[column] * merged_df['Total Female Age 18-44 years'])

# Display the modified DataFrame
merged_df

,Geographic Area Names,Total Female Age 18-44 years,Geographic Area Name,"Total Female, 19-44 with Health Insurance","Total Female, 19-44 No Health Insurance"
0,Block Group 1; Census Tract 9602; Adair County...,45,Census Tract 9602; Adair County; Iowa,45.0,0.0
1,Block Group 2; Census Tract 9602; Adair County...,169,Census Tract 9602; Adair County; Iowa,169.0,0.0
2,Block Group 1; Census Tract 9603; Adair County...,100,Census Tract 9603; Adair County; Iowa,100.0,0.0
3,Block Group 2; Census Tract 9603; Adair County...,24,Census Tract 9603; Adair County; Iowa,24.0,0.0
4,Block Group 3; Census Tract 9603; Adair County...,91,Census Tract 9603; Adair County; Iowa,91.0,0.0
...,...,...,...,...,...
2695,Block Group 1; Census Tract 6804; Wright Count...,178,Census Tract 6804; Wright County; Iowa,178.0,0.0
2696,Block Group 1; Census Tract 6805; Wright Count...,125,Census Tract 6805; Wright County; Iowa,125.0,0.0
2697,Block Group 2; Census Tract 6805; Wright Count...,89,Census Tract 6805; Wright County; Iowa,89.0,0.0
2698,Block Group 3; Census Tract 6805; Wright Count...,213,Census Tract 6805; Wright County; Iowa,213.0,0.0
2699,Block Group 4; Census Tract 6805; Wright Count...,104,Census Tract 6805; Wright County; Iowa,104.0,0.0

In [88]:
columns_to_round = [
'Total Female, 19-44 with Health Insurance',
       'Total Female, 19-44 No Health Insurance',
]

for index, row in merged_df.iterrows():
    # Round all but the last value
    for column in columns_to_round[:-1]:
        merged_df.at[index, column] = round(row[column])
    
    # Calculate the last value to ensure the sum matches the Population
    last_column = columns_to_round[-1]
    merged_df.at[index, last_column] = row['Total Female Age 18-44 years'] - sum([round(row[col]) for col in columns_to_round[:-1]])
    
merged_df.drop('Geographic Area Name', axis=1, inplace=True)
merged_df.drop('Total Female Age 18-44 years', axis=1, inplace=True)
merged_df.head()

,Geographic Area Names,"Total Female, 19-44 with Health Insurance","Total Female, 19-44 No Health Insurance"
0,Block Group 1; Census Tract 9602; Adair County...,45.0,0.0
1,Block Group 2; Census Tract 9602; Adair County...,169.0,0.0
2,Block Group 1; Census Tract 9603; Adair County...,100.0,0.0
3,Block Group 2; Census Tract 9603; Adair County...,24.0,0.0
4,Block Group 3; Census Tract 9603; Adair County...,91.0,0.0