In [3]:
import pandas as pd
RA_Georgia_BG=pd.read_csv('../../Obstetric accessibility visualization/Georgia/RA_Count_BG_level.csv')

In [6]:
RA_Georgia_BG.head()
RA_Georgia_BG.rename(columns=RA_Georgia_BG.iloc[0], inplace=True)
RA_Georgia_BG.columns

Index([                                        'Geography',
                                    'Geographic Area Name',
                                         'Estimate!!Total',
                                  'Margin of Error!!Total',
                                   'Estimate!!Total!!Male',
                            'Margin of Error!!Total!!Male',
                    'Estimate!!Total!!Male!!Under 5 years',
             'Margin of Error!!Total!!Male!!Under 5 years',
                     'Estimate!!Total!!Male!!5 to 9 years',
              'Margin of Error!!Total!!Male!!5 to 9 years',
       ...
          'Margin of Error!!Total!!Female!!67 to 69 years',
                 'Estimate!!Total!!Female!!70 to 74 years',
          'Margin of Error!!Total!!Female!!70 to 74 years',
                 'Estimate!!Total!!Female!!75 to 79 years',
          'Margin of Error!!Total!!Female!!75 to 79 years',
                 'Estimate!!Total!!Female!!80 to 84 years',
          'Margin of Error!!Total!!Female!!80 to 84 years',
              'Estimate!!Total!!Female!!85 years and over',
       'Margin of Error!!Total!!Female!!85 years and over',
                                                       nan],
      dtype='object', length=101)

In [11]:
RA_Georgia_BG_df = RA_Georgia_BG[[
    'Geographic Area Name',
    'Estimate!!Total!!Female!!18 and 19 years',
    'Estimate!!Total!!Female!!20 years',
    'Estimate!!Total!!Female!!22 to 24 years',
    'Estimate!!Total!!Female!!25 to 29 years',
    'Estimate!!Total!!Female!!30 to 34 years',
    'Estimate!!Total!!Female!!30 to 34 years',
    'Estimate!!Total!!Female!!35 to 39 years',
    'Estimate!!Total!!Female!!40 to 44 years'
]]

RA_Georgia_BG_df_copy = RA_Georgia_BG_df.copy()
RA_Georgia_BG_df_copy.drop(RA_Georgia_BG_df.index[0], inplace=True)
RA_Georgia_BG_df_copy

,Geographic Area Name,Estimate!!Total!!Female!!18 and 19 years,Estimate!!Total!!Female!!20 years,Estimate!!Total!!Female!!22 to 24 years,Estimate!!Total!!Female!!25 to 29 years,Estimate!!Total!!Female!!30 to 34 years,Estimate!!Total!!Female!!30 to 34 years,Estimate!!Total!!Female!!35 to 39 years,Estimate!!Total!!Female!!40 to 44 years
1,"Block Group 1, Census Tract 9501, Appling Coun...",0,0,44,16,0,0,13,55
2,"Block Group 2, Census Tract 9501, Appling Coun...",39,0,0,19,55,55,69,64
3,"Block Group 1, Census Tract 9502, Appling Coun...",28,19,27,89,53,53,56,37
4,"Block Group 2, Census Tract 9502, Appling Coun...",23,29,5,5,28,28,30,30
5,"Block Group 3, Census Tract 9502, Appling Coun...",22,9,0,57,24,24,11,0
...,...,...,...,...,...,...,...,...,...
5529,"Block Group 1, Census Tract 9505, Worth County...",5,0,21,52,58,58,21,45
5530,"Block Group 2, Census Tract 9505, Worth County...",26,22,11,23,90,90,22,40
5531,"Block Group 3, Census Tract 9505, Worth County...",0,0,56,45,0,0,17,88
5532,"Block Group 1, Census Tract 9506, Worth County...",4,0,50,21,45,45,31,35
5533,"Block Group 2, Census Tract 9506, Worth County...",0,0,0,25,6,6,6,24