In [2]:
import pandas as pd
RA_HealthInsurance=pd.read_csv('../../Obstetric accessibility visualization/Georgia/HealthInsuranceCounty.csv')

<h1>Health Insurance Coverage Status on a County Level</h1>

In [3]:
RA_HealthInsurance.rename(columns=RA_HealthInsurance.iloc[0], inplace=True)
list(RA_HealthInsurance.columns)

['Geography',
 'Geographic Area Name',
 'Estimate!!Total',
 'Margin of Error!!Total',
 'Annotation of Margin of Error!!Total',
 'Annotation of Estimate!!Total',
 'Estimate!!Total!!Male',
 'Annotation of Estimate!!Total!!Male',
 'Margin of Error!!Total!!Male',
 'Annotation of Margin of Error!!Total!!Male',
 'Estimate!!Total!!Male!!Under 6 years',
 'Annotation of Estimate!!Total!!Male!!Under 6 years',
 'Margin of Error!!Total!!Male!!Under 6 years',
 'Annotation of Margin of Error!!Total!!Male!!Under 6 years',
 'Estimate!!Total!!Male!!Under 6 years!!With health insurance coverage',
 'Margin of Error!!Total!!Male!!Under 6 years!!With health insurance coverage',
 'Annotation of Margin of Error!!Total!!Male!!Under 6 years!!With health insurance coverage',
 'Annotation of Estimate!!Total!!Male!!Under 6 years!!With health insurance coverage',
 'Estimate!!Total!!Male!!Under 6 years!!No health insurance coverage',
 'Margin of Error!!Total!!Male!!Under 6 years!!No health insurance coverage',
 'Annotation of Margin of Error!!Total!!Male!!Under 6 years!!No health insurance coverage',
 'Annotation of Estimate!!Total!!Male!!Under 6 years!!No health insurance coverage',
 'Estimate!!Total!!Male!!6 to 18 years',
 'Margin of Error!!Total!!Male!!6 to 18 years',
 'Annotation of Margin of Error!!Total!!Male!!6 to 18 years',
 'Annotation of Estimate!!Total!!Male!!6 to 18 years',
 'Estimate!!Total!!Male!!6 to 18 years!!With health insurance coverage',
 'Annotation of Estimate!!Total!!Male!!6 to 18 years!!With health insurance coverage',
 'Margin of Error!!Total!!Male!!6 to 18 years!!With health insurance coverage',
 'Annotation of Margin of Error!!Total!!Male!!6 to 18 years!!With health insurance coverage',
 'Estimate!!Total!!Male!!6 to 18 years!!No health insurance coverage',
 'Annotation of Estimate!!Total!!Male!!6 to 18 years!!No health insurance coverage',
 'Margin of Error!!Total!!Male!!6 to 18 years!!No health insurance coverage',
 'Annotation of Margin of Error!!Total!!Male!!6 to 18 years!!No health insurance coverage',
 'Estimate!!Total!!Male!!19 to 25 years',
 'Margin of Error!!Total!!Male!!19 to 25 years',
 'Annotation of Margin of Error!!Total!!Male!!19 to 25 years',
 'Annotation of Estimate!!Total!!Male!!19 to 25 years',
 'Estimate!!Total!!Male!!19 to 25 years!!With health insurance coverage',
 'Margin of Error!!Total!!Male!!19 to 25 years!!With health insurance coverage',
 'Annotation of Margin of Error!!Total!!Male!!19 to 25 years!!With health insurance coverage',
 'Annotation of Estimate!!Total!!Male!!19 to 25 years!!With health insurance coverage',
 'Estimate!!Total!!Male!!19 to 25 years!!No health insurance coverage',
 'Annotation of Estimate!!Total!!Male!!19 to 25 years!!No health insurance coverage',
 'Margin of Error!!Total!!Male!!19 to 25 years!!No health insurance coverage',
 'Annotation of Margin of Error!!Total!!Male!!19 to 25 years!!No health insurance coverage',
 'Estimate!!Total!!Male!!26 to 34 years',
 'Annotation of Estimate!!Total!!Male!!26 to 34 years',
 'Margin of Error!!Total!!Male!!26 to 34 years',
 'Annotation of Margin of Error!!Total!!Male!!26 to 34 years',
 'Estimate!!Total!!Male!!26 to 34 years!!With health insurance coverage',
 'Annotation of Estimate!!Total!!Male!!26 to 34 years!!With health insurance coverage',
 'Margin of Error!!Total!!Male!!26 to 34 years!!With health insurance coverage',
 'Annotation of Margin of Error!!Total!!Male!!26 to 34 years!!With health insurance coverage',
 'Estimate!!Total!!Male!!26 to 34 years!!No health insurance coverage',
 'Margin of Error!!Total!!Male!!26 to 34 years!!No health insurance coverage',
 'Annotation of Margin of Error!!Total!!Male!!26 to 34 years!!No health insurance coverage',
 'Annotation of Estimate!!Total!!Male!!26 to 34 years!!No health insurance coverage',
 'Estimate!!Total!!Male!!35 to 44 years',
 'Margin of Error!!Total!!Male!!35 to 44 years',
 'Annotation of Margin of Error!!Total!!Male!!35 to 44 years',
 'Annotation of Estimate!!Total!!Male!!35 to 44 years',
 'Estimate!!Total!!Male!!35 to 44 years!!With health insurance coverage',
 'Annotation of Estimate!!Total!!Male!!35 to 44 years!!With health insurance coverage',
 'Margin of Error!!Total!!Male!!35 to 44 years!!With health insurance coverage',
 'Annotation of Margin of Error!!Total!!Male!!35 to 44 years!!With health insurance coverage',
 'Estimate!!Total!!Male!!35 to 44 years!!No health insurance coverage',
 'Margin of Error!!Total!!Male!!35 to 44 years!!No health insurance coverage',
 'Annotation of Margin of Error!!Total!!Male!!35 to 44 years!!No health insurance coverage',
 'Annotation of Estimate!!Total!!Male!!35 to 44 years!!No health insurance coverage',
 'Estimate!!Total!!Male!!45 to 54 years',
 'Annotation of Estimate!!Total!!Male!!45 to 54 years',
 'Margin of Error!!Total!!Male!!45 to 54 years',
 'Annotation of Margin of Error!!Total!!Male!!45 to 54 years',
 'Estimate!!Total!!Male!!45 to 54 years!!With health insurance coverage',
 'Margin of Error!!Total!!Male!!45 to 54 years!!With health insurance coverage',
 'Annotation of Margin of Error!!Total!!Male!!45 to 54 years!!With health insurance coverage',
 'Annotation of Estimate!!Total!!Male!!45 to 54 years!!With health insurance coverage',
 'Estimate!!Total!!Male!!45 to 54 years!!No health insurance coverage',
 'Margin of Error!!Total!!Male!!45 to 54 years!!No health insurance coverage',
 'Annotation of Margin of Error!!Total!!Male!!45 to 54 years!!No health insurance coverage',
 'Annotation of Estimate!!Total!!Male!!45 to 54 years!!No health insurance coverage',
 'Estimate!!Total!!Male!!55 to 64 years',
 'Margin of Error!!Total!!Male!!55 to 64 years',
 'Annotation of Margin of Error!!Total!!Male!!55 to 64 years',
 'Annotation of Estimate!!Total!!Male!!55 to 64 years',
 'Estimate!!Total!!Male!!55 to 64 years!!With health insurance coverage',
 'Margin of Error!!Total!!Male!!55 to 64 years!!With health insurance coverage',
 'Annotation of Margin of Error!!Total!!Male!!55 to 64 years!!With health insurance coverage',
 'Annotation of Estimate!!Total!!Male!!55 to 64 years!!With health insurance coverage',
 'Estimate!!Total!!Male!!55 to 64 years!!No health insurance coverage',
 'Margin of Error!!Total!!Male!!55 to 64 years!!No health insurance coverage',
 'Annotation of Margin of Error!!Total!!Male!!55 to 64 years!!No health insurance coverage',
 'Annotation of Estimate!!Total!!Male!!55 to 64 years!!No health insurance coverage',
 'Estimate!!Total!!Male!!65 to 74 years',
 'Annotation of Estimate!!Total!!Male!!65 to 74 years',
 'Margin of Error!!Total!!Male!!65 to 74 years',
 'Annotation of Margin of Error!!Total!!Male!!65 to 74 years',
 'Estimate!!Total!!Male!!65 to 74 years!!With health insurance coverage',
 'Annotation of Estimate!!Total!!Male!!65 to 74 years!!With health insurance coverage',
 'Margin of Error!!Total!!Male!!65 to 74 years!!With health insurance coverage',
 'Annotation of Margin of Error!!Total!!Male!!65 to 74 years!!With health insurance coverage',
 'Estimate!!Total!!Male!!65 to 74 years!!No health insurance coverage',
 'Margin of Error!!Total!!Male!!65 to 74 years!!No health insurance coverage',
 'Annotation of Margin of Error!!Total!!Male!!65 to 74 years!!No health insurance coverage',
 'Annotation of Estimate!!Total!!Male!!65 to 74 years!!No health insurance coverage',
 'Estimate!!Total!!Male!!75 years and over',
 'Margin of Error!!Total!!Male!!75 years and over',
 'Annotation of Margin of Error!!Total!!Male!!75 years and over',
 'Annotation of Estimate!!Total!!Male!!75 years and over',
 'Estimate!!Total!!Male!!75 years and over!!With health insurance coverage',
 'Margin of Error!!Total!!Male!!75 years and over!!With health insurance coverage',
 'Annotation of Margin of Error!!Total!!Male!!75 years and over!!With health insurance coverage',
 'Annotation of Estimate!!Total!!Male!!75 years and over!!With health insurance coverage',
 'Estimate!!Total!!Male!!75 years and over!!No health insurance coverage',
 'Annotation of Estimate!!Total!!Male!!75 years and over!!No health insurance coverage',
 'Margin of Error!!Total!!Male!!75 years and over!!No health insurance coverage',
 'Annotation of Margin of Error!!Total!!Male!!75 years and over!!No health insurance coverage',
 'Estimate!!Total!!Female',
 'Annotation of Estimate!!Total!!Female',
 'Margin of Error!!Total!!Female',
 'Annotation of Margin of Error!!Total!!Female',
 'Estimate!!Total!!Female!!Under 6 years',
 'Margin of Error!!Total!!Female!!Under 6 years',
 'Annotation of Margin of Error!!Total!!Female!!Under 6 years',
 'Annotation of Estimate!!Total!!Female!!Under 6 years',
 'Estimate!!Total!!Female!!Under 6 years!!With health insurance coverage',
 'Margin of Error!!Total!!Female!!Under 6 years!!With health insurance coverage',
 'Annotation of Margin of Error!!Total!!Female!!Under 6 years!!With health insurance coverage',
 'Annotation of Estimate!!Total!!Female!!Under 6 years!!With health insurance coverage',
 'Estimate!!Total!!Female!!Under 6 years!!No health insurance coverage',
 'Margin of Error!!Total!!Female!!Under 6 years!!No health insurance coverage',
 'Annotation of Margin of Error!!Total!!Female!!Under 6 years!!No health insurance coverage',
 'Annotation of Estimate!!Total!!Female!!Under 6 years!!No health insurance coverage',
 'Estimate!!Total!!Female!!6 to 18 years',
 'Annotation of Estimate!!Total!!Female!!6 to 18 years',
 'Margin of Error!!Total!!Female!!6 to 18 years',
 'Annotation of Margin of Error!!Total!!Female!!6 to 18 years',
 'Estimate!!Total!!Female!!6 to 18 years!!With health insurance coverage',
 'Annotation of Estimate!!Total!!Female!!6 to 18 years!!With health insurance coverage',
 'Margin of Error!!Total!!Female!!6 to 18 years!!With health insurance coverage',
 'Annotation of Margin of Error!!Total!!Female!!6 to 18 years!!With health insurance coverage',
 'Estimate!!Total!!Female!!6 to 18 years!!No health insurance coverage',
 'Annotation of Estimate!!Total!!Female!!6 to 18 years!!No health insurance coverage',
 'Margin of Error!!Total!!Female!!6 to 18 years!!No health insurance coverage',
 'Annotation of Margin of Error!!Total!!Female!!6 to 18 years!!No health insurance coverage',
 'Estimate!!Total!!Female!!19 to 25 years',
 'Margin of Error!!Total!!Female!!19 to 25 years',
 'Annotation of Margin of Error!!Total!!Female!!19 to 25 years',
 'Annotation of Estimate!!Total!!Female!!19 to 25 years',
 'Estimate!!Total!!Female!!19 to 25 years!!With health insurance coverage',
 'Margin of Error!!Total!!Female!!19 to 25 years!!With health insurance coverage',
 'Annotation of Margin of Error!!Total!!Female!!19 to 25 years!!With health insurance coverage',
 'Annotation of Estimate!!Total!!Female!!19 to 25 years!!With health insurance coverage',
 'Estimate!!Total!!Female!!19 to 25 years!!No health insurance coverage',
 'Margin of Error!!Total!!Female!!19 to 25 years!!No health insurance coverage',
 'Annotation of Margin of Error!!Total!!Female!!19 to 25 years!!No health insurance coverage',
 'Annotation of Estimate!!Total!!Female!!19 to 25 years!!No health insurance coverage',
 'Estimate!!Total!!Female!!26 to 34 years',
 'Annotation of Estimate!!Total!!Female!!26 to 34 years',
 'Margin of Error!!Total!!Female!!26 to 34 years',
 'Annotation of Margin of Error!!Total!!Female!!26 to 34 years',
 'Estimate!!Total!!Female!!26 to 34 years!!With health insurance coverage',
 'Annotation of Estimate!!Total!!Female!!26 to 34 years!!With health insurance coverage',
 'Margin of Error!!Total!!Female!!26 to 34 years!!With health insurance coverage',
 'Annotation of Margin of Error!!Total!!Female!!26 to 34 years!!With health insurance coverage',
 'Estimate!!Total!!Female!!26 to 34 years!!No health insurance coverage',
 'Margin of Error!!Total!!Female!!26 to 34 years!!No health insurance coverage',
 'Annotation of Margin of Error!!Total!!Female!!26 to 34 years!!No health insurance coverage',
 'Annotation of Estimate!!Total!!Female!!26 to 34 years!!No health insurance coverage',
 'Estimate!!Total!!Female!!35 to 44 years',
 'Margin of Error!!Total!!Female!!35 to 44 years',
 'Annotation of Margin of Error!!Total!!Female!!35 to 44 years',
 'Annotation of Estimate!!Total!!Female!!35 to 44 years',
 'Estimate!!Total!!Female!!35 to 44 years!!With health insurance coverage',
 'Annotation of Estimate!!Total!!Female!!35 to 44 years!!With health insurance coverage',
 'Margin of Error!!Total!!Female!!35 to 44 years!!With health insurance coverage',
 'Annotation of Margin of Error!!Total!!Female!!35 to 44 years!!With health insurance coverage',
 'Estimate!!Total!!Female!!35 to 44 years!!No health insurance coverage',
 'Annotation of Estimate!!Total!!Female!!35 to 44 years!!No health insurance coverage',
 'Margin of Error!!Total!!Female!!35 to 44 years!!No health insurance coverage',
 'Annotation of Margin of Error!!Total!!Female!!35 to 44 years!!No health insurance coverage',
 'Estimate!!Total!!Female!!45 to 54 years',
 'Annotation of Estimate!!Total!!Female!!45 to 54 years',
 'Margin of Error!!Total!!Female!!45 to 54 years',
 'Annotation of Margin of Error!!Total!!Female!!45 to 54 years',
 'Estimate!!Total!!Female!!45 to 54 years!!With health insurance coverage',
 'Annotation of Estimate!!Total!!Female!!45 to 54 years!!With health insurance coverage',
 'Margin of Error!!Total!!Female!!45 to 54 years!!With health insurance coverage',
 'Annotation of Margin of Error!!Total!!Female!!45 to 54 years!!With health insurance coverage',
 'Estimate!!Total!!Female!!45 to 54 years!!No health insurance coverage',
 'Annotation of Estimate!!Total!!Female!!45 to 54 years!!No health insurance coverage',
 'Margin of Error!!Total!!Female!!45 to 54 years!!No health insurance coverage',
 'Annotation of Margin of Error!!Total!!Female!!45 to 54 years!!No health insurance coverage',
 'Estimate!!Total!!Female!!55 to 64 years',
 'Margin of Error!!Total!!Female!!55 to 64 years',
 'Annotation of Margin of Error!!Total!!Female!!55 to 64 years',
 'Annotation of Estimate!!Total!!Female!!55 to 64 years',
 'Estimate!!Total!!Female!!55 to 64 years!!With health insurance coverage',
 'Margin of Error!!Total!!Female!!55 to 64 years!!With health insurance coverage',
 'Annotation of Margin of Error!!Total!!Female!!55 to 64 years!!With health insurance coverage',
 'Annotation of Estimate!!Total!!Female!!55 to 64 years!!With health insurance coverage',
 'Estimate!!Total!!Female!!55 to 64 years!!No health insurance coverage',
 'Margin of Error!!Total!!Female!!55 to 64 years!!No health insurance coverage',
 'Annotation of Margin of Error!!Total!!Female!!55 to 64 years!!No health insurance coverage',
 'Annotation of Estimate!!Total!!Female!!55 to 64 years!!No health insurance coverage',
 'Estimate!!Total!!Female!!65 to 74 years',
 'Annotation of Estimate!!Total!!Female!!65 to 74 years',
 'Margin of Error!!Total!!Female!!65 to 74 years',
 'Annotation of Margin of Error!!Total!!Female!!65 to 74 years',
 'Estimate!!Total!!Female!!65 to 74 years!!With health insurance coverage',
 'Annotation of Estimate!!Total!!Female!!65 to 74 years!!With health insurance coverage',
 'Margin of Error!!Total!!Female!!65 to 74 years!!With health insurance coverage',
 'Annotation of Margin of Error!!Total!!Female!!65 to 74 years!!With health insurance coverage',
 'Estimate!!Total!!Female!!65 to 74 years!!No health insurance coverage',
 'Margin of Error!!Total!!Female!!65 to 74 years!!No health insurance coverage',
 'Annotation of Margin of Error!!Total!!Female!!65 to 74 years!!No health insurance coverage',
 'Annotation of Estimate!!Total!!Female!!65 to 74 years!!No health insurance coverage',
 'Estimate!!Total!!Female!!75 years and over',
 'Margin of Error!!Total!!Female!!75 years and over',
 'Annotation of Margin of Error!!Total!!Female!!75 years and over',
 'Annotation of Estimate!!Total!!Female!!75 years and over',
 'Estimate!!Total!!Female!!75 years and over!!With health insurance coverage',
 'Margin of Error!!Total!!Female!!75 years and over!!With health insurance coverage',
 'Annotation of Margin of Error!!Total!!Female!!75 years and over!!With health insurance coverage',
 'Annotation of Estimate!!Total!!Female!!75 years and over!!With health insurance coverage',
 'Estimate!!Total!!Female!!75 years and over!!No health insurance coverage',
 'Annotation of Estimate!!Total!!Female!!75 years and over!!No health insurance coverage',
 'Margin of Error!!Total!!Female!!75 years and over!!No health insurance coverage',
 'Annotation of Margin of Error!!Total!!Female!!75 years and over!!No health insurance coverage',
 nan]

In [4]:
RA_HealthInsurance_df = RA_HealthInsurance[[
    'Geographic Area Name',
    'Estimate!!Total!!Female!!19 to 25 years!!With health insurance coverage',
    'Estimate!!Total!!Female!!26 to 34 years!!With health insurance coverage',
    'Estimate!!Total!!Female!!35 to 44 years!!With health insurance coverage',
]]
RA_HealthInsurance_df_copy = RA_HealthInsurance_df.copy()
RA_HealthInsurance_df_copy.drop(RA_HealthInsurance_df.index[0], inplace=True)
RA_HealthInsurance_df_copy = RA_HealthInsurance_df_copy.set_index('Geographic Area Name')
RA_HealthInsurance_df_copy = RA_HealthInsurance_df_copy.iloc[1:]
RA_HealthInsurance_df_copy = RA_HealthInsurance_df_copy.astype(int)
RA_HealthInsurance_df_copy['Total Female, 19-44'] = RA_HealthInsurance_df_copy.iloc[:, 1:8].sum(axis=1)
RA_HealthInsurance_df_copy = RA_HealthInsurance_df_copy.iloc[:, -1:]
RA_HealthInsurance_df_copy = RA_HealthInsurance_df_copy.rename(columns={'Total Female, 19-44': 'Total Female, 19-44 with Health Insurance'})
RA_HealthInsurance_df_copy

                           Total Female, 19-44 with Health Insurance
Geographic Area Name
Atkinson County, Georgia                                         516
Bacon County, Georgia                                            972
Baker County, Georgia                                            236
Baldwin County, Georgia                                         3649
Banks County, Georgia                                           1804
...                                                              ...
Whitfield County, Georgia                                       8529
Wilcox County, Georgia                                           551
Wilkes County, Georgia                                           686
Wilkinson County, Georgia                                        778
Worth County, Georgia                                           1712

[158 rows x 1 columns]

In [5]:
RA_NoHealthInsurance_df = RA_HealthInsurance[[
    'Geographic Area Name',
    'Estimate!!Total!!Female!!19 to 25 years!!No health insurance coverage',
    'Estimate!!Total!!Female!!26 to 34 years!!No health insurance coverage',
    'Estimate!!Total!!Female!!35 to 44 years!!No health insurance coverage',
]]
RA_NoHealthInsurance_df_copy = RA_NoHealthInsurance_df.copy()
RA_NoHealthInsurance_df_copy.drop(RA_NoHealthInsurance_df.index[0], inplace=True)
RA_NoHealthInsurance_df_copy = RA_NoHealthInsurance_df_copy.set_index('Geographic Area Name')
RA_NoHealthInsurance_df_copy = RA_NoHealthInsurance_df_copy.iloc[1:]
RA_NoHealthInsurance_df_copy = RA_NoHealthInsurance_df_copy.astype(int)
RA_NoHealthInsurance_df_copy['Total Female, 19-44'] = RA_NoHealthInsurance_df_copy.iloc[:, 1:8].sum(axis=1)
RA_NoHealthInsurance_df_copy = RA_NoHealthInsurance_df_copy.iloc[:, -1:]
RA_NoHealthInsurance_df_copy = RA_NoHealthInsurance_df_copy.rename(columns={'Total Female, 19-44': 'Total Female, 19-44 No Health Insurance'})
RA_NoHealthInsurance_df_copy

                           Total Female, 19-44 No Health Insurance
Geographic Area Name
Atkinson County, Georgia                                       435
Bacon County, Georgia                                          453
Baker County, Georgia                                           51
Baldwin County, Georgia                                        787
Banks County, Georgia                                          475
...                                                            ...
Whitfield County, Georgia                                     4112
Wilcox County, Georgia                                         214
Wilkes County, Georgia                                         301
Wilkinson County, Georgia                                      171
Worth County, Georgia                                          719

[158 rows x 1 columns]

In [6]:
merged_df=RA_HealthInsurance_df_copy.merge(RA_NoHealthInsurance_df_copy, on='Geographic Area Name')
merged_df

,"Total Female, 19-44 with Health Insurance","Total Female, 19-44 No Health Insurance"
Geographic Area Name,,
"Atkinson County, Georgia",516,435
"Bacon County, Georgia",972,453
"Baker County, Georgia",236,51
"Baldwin County, Georgia",3649,787
"Banks County, Georgia",1804,475
...,...,...
"Whitfield County, Georgia",8529,4112
"Wilcox County, Georgia",551,214
"Wilkes County, Georgia",686,301
"Wilkinson County, Georgia",778,171
"Worth County, Georgia",1712,719

<h1>Health Insurance Coverage Status on a Block Group Level</h1>

In [7]:
def calculate_proportions(row):
    row_sum = row.sum()
    if row_sum != 0:
        return row / row_sum
    else:
        return row

# Apply the function to each row
proportion_df = merged_df.apply(calculate_proportions, axis=1)

# Display the resulting DataFrame
proportion_df=proportion_df.reset_index()

proportion_df

,Geographic Area Name,"Total Female, 19-44 with Health Insurance","Total Female, 19-44 No Health Insurance"
0,"Atkinson County, Georgia",0.542587,0.457413
1,"Bacon County, Georgia",0.682105,0.317895
2,"Baker County, Georgia",0.822300,0.177700
3,"Baldwin County, Georgia",0.822588,0.177412
4,"Banks County, Georgia",0.791575,0.208425
...,...,...,...
153,"Whitfield County, Georgia",0.674709,0.325291
154,"Wilcox County, Georgia",0.720261,0.279739
155,"Wilkes County, Georgia",0.695035,0.304965
156,"Wilkinson County, Georgia",0.819810,0.180190
157,"Worth County, Georgia",0.704237,0.295763

In [8]:
proportion_df['County'] = proportion_df['Geographic Area Name'].str.split(',').str[0]
proportion_df['County'] = proportion_df['County'].str.replace(' County', '')
proportion_df

,Geographic Area Name,"Total Female, 19-44 with Health Insurance","Total Female, 19-44 No Health Insurance",County
0,"Atkinson County, Georgia",0.542587,0.457413,Atkinson
1,"Bacon County, Georgia",0.682105,0.317895,Bacon
2,"Baker County, Georgia",0.822300,0.177700,Baker
3,"Baldwin County, Georgia",0.822588,0.177412,Baldwin
4,"Banks County, Georgia",0.791575,0.208425,Banks
...,...,...,...,...
153,"Whitfield County, Georgia",0.674709,0.325291,Whitfield
154,"Wilcox County, Georgia",0.720261,0.279739,Wilcox
155,"Wilkes County, Georgia",0.695035,0.304965,Wilkes
156,"Wilkinson County, Georgia",0.819810,0.180190,Wilkinson
157,"Worth County, Georgia",0.704237,0.295763,Worth

In [9]:
RA_Georgia=pd.read_csv('../../Obstetric accessibility visualization/Georgia/BG_County_numbers.csv')
merged_df = pd.merge(RA_Georgia, proportion_df, on='County')
columns_to_multiply = [
'Total Female, 19-44 with Health Insurance','Total Female, 19-44 No Health Insurance'	
]

# Performing the multiplication
for column in columns_to_multiply:
    merged_df[column] = (merged_df[column] * merged_df['Population'])

# Display the modified DataFrame
merged_df

,Geography,County,Population,Geographic Area Name,"Total Female, 19-44 with Health Insurance","Total Female, 19-44 No Health Insurance"
0,1500000US130210131023,Bibb,103,"Bibb County, Georgia",79.762162,23.237838
1,1500000US130210131024,Bibb,184,"Bibb County, Georgia",142.487746,41.512254
2,1500000US130210132014,Bibb,122,"Bibb County, Georgia",94.475571,27.524429
3,1500000US130210131022,Bibb,365,"Bibb County, Georgia",282.652322,82.347678
4,1500000US130210131011,Bibb,441,"Bibb County, Georgia",341.505956,99.494044
...,...,...,...,...,...,...
5069,1500000US130939701003,Dooly,112,"Dooly County, Georgia",73.836378,38.163622
5070,1500000US130939701002,Dooly,269,"Dooly County, Georgia",177.339158,91.660842
5071,1500000US130939701001,Dooly,183,"Dooly County, Georgia",120.643368,62.356632
5072,1500000US130939703002,Dooly,205,"Dooly County, Georgia",135.146942,69.853058
5073,1500000US130939703004,Dooly,150,"Dooly County, Georgia",98.888006,51.111994

In [10]:
columns_to_round = [
 'Total Female, 19-44 with Health Insurance','Total Female, 19-44 No Health Insurance'	
]

for index, row in merged_df.iterrows():
    # Round all but the last value
    for column in columns_to_round[:-1]:
        merged_df.at[index, column] = round(row[column])
    
    # Calculate the last value to ensure the sum matches the Population
    last_column = columns_to_round[-1]
    merged_df.at[index, last_column] = row['Population'] - sum([round(row[col]) for col in columns_to_round[:-1]])

merged_df

,Geography,County,Population,Geographic Area Name,"Total Female, 19-44 with Health Insurance","Total Female, 19-44 No Health Insurance"
0,1500000US130210131023,Bibb,103,"Bibb County, Georgia",80.0,23.0
1,1500000US130210131024,Bibb,184,"Bibb County, Georgia",142.0,42.0
2,1500000US130210132014,Bibb,122,"Bibb County, Georgia",94.0,28.0
3,1500000US130210131022,Bibb,365,"Bibb County, Georgia",283.0,82.0
4,1500000US130210131011,Bibb,441,"Bibb County, Georgia",342.0,99.0
...,...,...,...,...,...,...
5069,1500000US130939701003,Dooly,112,"Dooly County, Georgia",74.0,38.0
5070,1500000US130939701002,Dooly,269,"Dooly County, Georgia",177.0,92.0
5071,1500000US130939701001,Dooly,183,"Dooly County, Georgia",121.0,62.0
5072,1500000US130939703002,Dooly,205,"Dooly County, Georgia",135.0,70.0
5073,1500000US130939703004,Dooly,150,"Dooly County, Georgia",99.0,51.0

<h1>Health Insurance Coverage Status on a Census Tract Level</h1>

In [11]:
import pandas as pd
RA_HealthInsurance_CT=pd.read_csv('../../Obstetric accessibility visualization/Georgia/HealthInsurancebyCensusTracts.csv')

In [12]:
RA_HealthInsurance_CT.rename(columns=RA_HealthInsurance_CT.iloc[0], inplace=True)
list(RA_HealthInsurance_CT.columns)

['Geography',
 'Geographic Area Name',
 'Estimate!!Total',
 'Margin of Error!!Total',
 'Estimate!!Total!!Male',
 'Margin of Error!!Total!!Male',
 'Estimate!!Total!!Male!!Under 6 years',
 'Margin of Error!!Total!!Male!!Under 6 years',
 'Estimate!!Total!!Male!!Under 6 years!!With health insurance coverage',
 'Margin of Error!!Total!!Male!!Under 6 years!!With health insurance coverage',
 'Estimate!!Total!!Male!!Under 6 years!!No health insurance coverage',
 'Margin of Error!!Total!!Male!!Under 6 years!!No health insurance coverage',
 'Estimate!!Total!!Male!!6 to 17 years',
 'Margin of Error!!Total!!Male!!6 to 17 years',
 'Estimate!!Total!!Male!!6 to 17 years!!With health insurance coverage',
 'Margin of Error!!Total!!Male!!6 to 17 years!!With health insurance coverage',
 'Estimate!!Total!!Male!!6 to 17 years!!No health insurance coverage',
 'Margin of Error!!Total!!Male!!6 to 17 years!!No health insurance coverage',
 'Estimate!!Total!!Male!!18 to 24 years',
 'Margin of Error!!Total!!Male!!18 to 24 years',
 'Estimate!!Total!!Male!!18 to 24 years!!With health insurance coverage',
 'Margin of Error!!Total!!Male!!18 to 24 years!!With health insurance coverage',
 'Estimate!!Total!!Male!!18 to 24 years!!No health insurance coverage',
 'Margin of Error!!Total!!Male!!18 to 24 years!!No health insurance coverage',
 'Estimate!!Total!!Male!!25 to 34 years',
 'Margin of Error!!Total!!Male!!25 to 34 years',
 'Estimate!!Total!!Male!!25 to 34 years!!With health insurance coverage',
 'Margin of Error!!Total!!Male!!25 to 34 years!!With health insurance coverage',
 'Estimate!!Total!!Male!!25 to 34 years!!No health insurance coverage',
 'Margin of Error!!Total!!Male!!25 to 34 years!!No health insurance coverage',
 'Estimate!!Total!!Male!!35 to 44 years',
 'Margin of Error!!Total!!Male!!35 to 44 years',
 'Estimate!!Total!!Male!!35 to 44 years!!With health insurance coverage',
 'Margin of Error!!Total!!Male!!35 to 44 years!!With health insurance coverage',
 'Estimate!!Total!!Male!!35 to 44 years!!No health insurance coverage',
 'Margin of Error!!Total!!Male!!35 to 44 years!!No health insurance coverage',
 'Estimate!!Total!!Male!!45 to 54 years',
 'Margin of Error!!Total!!Male!!45 to 54 years',
 'Estimate!!Total!!Male!!45 to 54 years!!With health insurance coverage',
 'Margin of Error!!Total!!Male!!45 to 54 years!!With health insurance coverage',
 'Estimate!!Total!!Male!!45 to 54 years!!No health insurance coverage',
 'Margin of Error!!Total!!Male!!45 to 54 years!!No health insurance coverage',
 'Estimate!!Total!!Male!!55 to 64 years',
 'Margin of Error!!Total!!Male!!55 to 64 years',
 'Estimate!!Total!!Male!!55 to 64 years!!With health insurance coverage',
 'Margin of Error!!Total!!Male!!55 to 64 years!!With health insurance coverage',
 'Estimate!!Total!!Male!!55 to 64 years!!No health insurance coverage',
 'Margin of Error!!Total!!Male!!55 to 64 years!!No health insurance coverage',
 'Estimate!!Total!!Male!!65 to 74 years',
 'Margin of Error!!Total!!Male!!65 to 74 years',
 'Estimate!!Total!!Male!!65 to 74 years!!With health insurance coverage',
 'Margin of Error!!Total!!Male!!65 to 74 years!!With health insurance coverage',
 'Estimate!!Total!!Male!!65 to 74 years!!No health insurance coverage',
 'Margin of Error!!Total!!Male!!65 to 74 years!!No health insurance coverage',
 'Estimate!!Total!!Male!!75 years and over',
 'Margin of Error!!Total!!Male!!75 years and over',
 'Estimate!!Total!!Male!!75 years and over!!With health insurance coverage',
 'Margin of Error!!Total!!Male!!75 years and over!!With health insurance coverage',
 'Estimate!!Total!!Male!!75 years and over!!No health insurance coverage',
 'Margin of Error!!Total!!Male!!75 years and over!!No health insurance coverage',
 'Estimate!!Total!!Female',
 'Margin of Error!!Total!!Female',
 'Estimate!!Total!!Female!!Under 6 years',
 'Margin of Error!!Total!!Female!!Under 6 years',
 'Estimate!!Total!!Female!!Under 6 years!!With health insurance coverage',
 'Margin of Error!!Total!!Female!!Under 6 years!!With health insurance coverage',
 'Estimate!!Total!!Female!!Under 6 years!!No health insurance coverage',
 'Margin of Error!!Total!!Female!!Under 6 years!!No health insurance coverage',
 'Estimate!!Total!!Female!!6 to 17 years',
 'Margin of Error!!Total!!Female!!6 to 17 years',
 'Estimate!!Total!!Female!!6 to 17 years!!With health insurance coverage',
 'Margin of Error!!Total!!Female!!6 to 17 years!!With health insurance coverage',
 'Estimate!!Total!!Female!!6 to 17 years!!No health insurance coverage',
 'Margin of Error!!Total!!Female!!6 to 17 years!!No health insurance coverage',
 'Estimate!!Total!!Female!!18 to 24 years',
 'Margin of Error!!Total!!Female!!18 to 24 years',
 'Estimate!!Total!!Female!!18 to 24 years!!With health insurance coverage',
 'Margin of Error!!Total!!Female!!18 to 24 years!!With health insurance coverage',
 'Estimate!!Total!!Female!!18 to 24 years!!No health insurance coverage',
 'Margin of Error!!Total!!Female!!18 to 24 years!!No health insurance coverage',
 'Estimate!!Total!!Female!!25 to 34 years',
 'Margin of Error!!Total!!Female!!25 to 34 years',
 'Estimate!!Total!!Female!!25 to 34 years!!With health insurance coverage',
 'Margin of Error!!Total!!Female!!25 to 34 years!!With health insurance coverage',
 'Estimate!!Total!!Female!!25 to 34 years!!No health insurance coverage',
 'Margin of Error!!Total!!Female!!25 to 34 years!!No health insurance coverage',
 'Estimate!!Total!!Female!!35 to 44 years',
 'Margin of Error!!Total!!Female!!35 to 44 years',
 'Estimate!!Total!!Female!!35 to 44 years!!With health insurance coverage',
 'Margin of Error!!Total!!Female!!35 to 44 years!!With health insurance coverage',
 'Estimate!!Total!!Female!!35 to 44 years!!No health insurance coverage',
 'Margin of Error!!Total!!Female!!35 to 44 years!!No health insurance coverage',
 'Estimate!!Total!!Female!!45 to 54 years',
 'Margin of Error!!Total!!Female!!45 to 54 years',
 'Estimate!!Total!!Female!!45 to 54 years!!With health insurance coverage',
 'Margin of Error!!Total!!Female!!45 to 54 years!!With health insurance coverage',
 'Estimate!!Total!!Female!!45 to 54 years!!No health insurance coverage',
 'Margin of Error!!Total!!Female!!45 to 54 years!!No health insurance coverage',
 'Estimate!!Total!!Female!!55 to 64 years',
 'Margin of Error!!Total!!Female!!55 to 64 years',
 'Estimate!!Total!!Female!!55 to 64 years!!With health insurance coverage',
 'Margin of Error!!Total!!Female!!55 to 64 years!!With health insurance coverage',
 'Estimate!!Total!!Female!!55 to 64 years!!No health insurance coverage',
 'Margin of Error!!Total!!Female!!55 to 64 years!!No health insurance coverage',
 'Estimate!!Total!!Female!!65 to 74 years',
 'Margin of Error!!Total!!Female!!65 to 74 years',
 'Estimate!!Total!!Female!!65 to 74 years!!With health insurance coverage',
 'Margin of Error!!Total!!Female!!65 to 74 years!!With health insurance coverage',
 'Estimate!!Total!!Female!!65 to 74 years!!No health insurance coverage',
 'Margin of Error!!Total!!Female!!65 to 74 years!!No health insurance coverage',
 'Estimate!!Total!!Female!!75 years and over',
 'Margin of Error!!Total!!Female!!75 years and over',
 'Estimate!!Total!!Female!!75 years and over!!With health insurance coverage',
 'Margin of Error!!Total!!Female!!75 years and over!!With health insurance coverage',
 'Estimate!!Total!!Female!!75 years and over!!No health insurance coverage',
 'Margin of Error!!Total!!Female!!75 years and over!!No health insurance coverage',
 'Race/Ethnic Group',
 'Population Groups',
 nan]

In [13]:
RA_HealthInsurance_df = RA_HealthInsurance_CT[[
    'Geographic Area Name',
    'Estimate!!Total!!Female!!18 to 24 years!!With health insurance coverage',
    'Estimate!!Total!!Female!!25 to 34 years!!With health insurance coverage',
    'Estimate!!Total!!Female!!35 to 44 years!!With health insurance coverage',
]]
RA_HealthInsurance_df_copy = RA_HealthInsurance_df.copy()
RA_HealthInsurance_df_copy.drop(RA_HealthInsurance_df.index[0], inplace=True)
RA_HealthInsurance_df_copy = RA_HealthInsurance_df_copy.set_index('Geographic Area Name')
RA_HealthInsurance_df_copy = RA_HealthInsurance_df_copy.iloc[1:]
RA_HealthInsurance_df_copy = RA_HealthInsurance_df_copy.astype(int)
RA_HealthInsurance_df_copy['Total Female, 19-44'] = RA_HealthInsurance_df_copy.iloc[:, 1:8].sum(axis=1)
RA_HealthInsurance_df_copy = RA_HealthInsurance_df_copy.iloc[:, -1:]
RA_HealthInsurance_df_copy = RA_HealthInsurance_df_copy.rename(columns={'Total Female, 19-44': 'Total Female, 19-44 with Health Insurance'})
RA_HealthInsurance_df_copy

                                             Total Female, 19-44 with Health Insurance
Geographic Area Name
Census Tract 9502, Appling County, Georgia                                         284
Census Tract 9503, Appling County, Georgia                                         492
Census Tract 9504; Appling County; Georgia                                         101
Census Tract 9505; Appling County; Georgia                                         402
Census Tract 9601; Atkinson County; Georgia                                         89
...                                                                                ...
Census Tract 9501; Worth County; Georgia                                           252
Census Tract 9502, Worth County, Georgia                                           649
Census Tract 9504; Worth County; Georgia                                           258
Census Tract 9505; Worth County; Georgia                                           373
Census Tract 9506; Worth County; Georgia                                            93

[1954 rows x 1 columns]

In [14]:
RA_NoHealthInsurance_df = RA_HealthInsurance_CT[[
    'Geographic Area Name',
    'Estimate!!Total!!Female!!18 to 24 years!!No health insurance coverage',
    'Estimate!!Total!!Female!!25 to 34 years!!No health insurance coverage',
    'Estimate!!Total!!Female!!35 to 44 years!!No health insurance coverage',
]]
RA_NoHealthInsurance_df_copy = RA_NoHealthInsurance_df.copy()
RA_NoHealthInsurance_df_copy.drop(RA_NoHealthInsurance_df.index[0], inplace=True)
RA_NoHealthInsurance_df_copy = RA_NoHealthInsurance_df_copy.set_index('Geographic Area Name')
RA_NoHealthInsurance_df_copy = RA_NoHealthInsurance_df_copy.iloc[1:]
RA_NoHealthInsurance_df_copy = RA_NoHealthInsurance_df_copy.astype(int)
RA_NoHealthInsurance_df_copy['Total Female, 19-44'] = RA_NoHealthInsurance_df_copy.iloc[:, 1:8].sum(axis=1)
RA_NoHealthInsurance_df_copy = RA_NoHealthInsurance_df_copy.iloc[:, -1:]
RA_NoHealthInsurance_df_copy = RA_NoHealthInsurance_df_copy.rename(columns={'Total Female, 19-44': 'Total Female, 19-44 No Health Insurance'})
RA_NoHealthInsurance_df_copy

                                             Total Female, 19-44 No Health Insurance
Geographic Area Name
Census Tract 9502, Appling County, Georgia                                       219
Census Tract 9503, Appling County, Georgia                                       193
Census Tract 9504; Appling County; Georgia                                        60
Census Tract 9505; Appling County; Georgia                                       164
Census Tract 9601; Atkinson County; Georgia                                      149
...                                                                              ...
Census Tract 9501; Worth County; Georgia                                         103
Census Tract 9502, Worth County, Georgia                                         438
Census Tract 9504; Worth County; Georgia                                         202
Census Tract 9505; Worth County; Georgia                                         180
Census Tract 9506; Worth County; Georgia                                         130

[1954 rows x 1 columns]

In [15]:
merged_df=RA_HealthInsurance_df_copy.merge(RA_NoHealthInsurance_df_copy, on='Geographic Area Name')
merged_df

,"Total Female, 19-44 with Health Insurance","Total Female, 19-44 No Health Insurance"
Geographic Area Name,,
"Census Tract 9502, Appling County, Georgia",284,219
"Census Tract 9503, Appling County, Georgia",492,193
Census Tract 9504; Appling County; Georgia,101,60
Census Tract 9505; Appling County; Georgia,402,164
Census Tract 9601; Atkinson County; Georgia,89,149
...,...,...
Census Tract 9501; Worth County; Georgia,252,103
"Census Tract 9502, Worth County, Georgia",649,438
Census Tract 9504; Worth County; Georgia,258,202
Census Tract 9505; Worth County; Georgia,373,180
Census Tract 9506; Worth County; Georgia,93,130

<h1>Health Insurance Coverage Status on a BG Level using Census Tract</h1>

In [16]:
def calculate_proportions(row):
    with_insurance = row['Total Female, 19-44 with Health Insurance']
    without_insurance = row['Total Female, 19-44 No Health Insurance']
    total = with_insurance + without_insurance

    if total != 0:
        row['Total Female, 19-44 with Health Insurance'] = with_insurance / total
        row['Total Female, 19-44 No Health Insurance'] = without_insurance / total

    return row

# Apply the function to each row
proportion_df = merged_df.apply(calculate_proportions, axis=1)

# Display the resulting DataFrame
proportion_df

,"Total Female, 19-44 with Health Insurance","Total Female, 19-44 No Health Insurance"
Geographic Area Name,,
"Census Tract 9502, Appling County, Georgia",0.564612,0.435388
"Census Tract 9503, Appling County, Georgia",0.718248,0.281752
Census Tract 9504; Appling County; Georgia,0.627329,0.372671
Census Tract 9505; Appling County; Georgia,0.710247,0.289753
Census Tract 9601; Atkinson County; Georgia,0.373950,0.626050
...,...,...
Census Tract 9501; Worth County; Georgia,0.709859,0.290141
"Census Tract 9502, Worth County, Georgia",0.597056,0.402944
Census Tract 9504; Worth County; Georgia,0.560870,0.439130
Census Tract 9505; Worth County; Georgia,0.674503,0.325497
Census Tract 9506; Worth County; Georgia,0.417040,0.582960

In [17]:
proportion_df=proportion_df.reset_index()
proportion_df

,Geographic Area Name,"Total Female, 19-44 with Health Insurance","Total Female, 19-44 No Health Insurance"
0,"Census Tract 9502, Appling County, Georgia",0.564612,0.435388
1,"Census Tract 9503, Appling County, Georgia",0.718248,0.281752
2,Census Tract 9504; Appling County; Georgia,0.627329,0.372671
3,Census Tract 9505; Appling County; Georgia,0.710247,0.289753
4,Census Tract 9601; Atkinson County; Georgia,0.373950,0.626050
...,...,...,...
1949,Census Tract 9501; Worth County; Georgia,0.709859,0.290141
1950,"Census Tract 9502, Worth County, Georgia",0.597056,0.402944
1951,Census Tract 9504; Worth County; Georgia,0.560870,0.439130
1952,Census Tract 9505; Worth County; Georgia,0.674503,0.325497
1953,Census Tract 9506; Worth County; Georgia,0.417040,0.582960

In [18]:
import pandas as pd
RA_Georgia_BG=pd.read_csv('../../Obstetric accessibility visualization/Georgia/RA_Count_BG_level.csv')
RA_Georgia_BG.head()
RA_Georgia_BG.rename(columns=RA_Georgia_BG.iloc[0], inplace=True)
RA_Georgia_BG.columns
RA_Georgia_BG_df = RA_Georgia_BG[[
    'Geographic Area Name',
    'Estimate!!Total!!Female!!18 and 19 years',
    'Estimate!!Total!!Female!!20 years',
    'Estimate!!Total!!Female!!22 to 24 years',
    'Estimate!!Total!!Female!!25 to 29 years',
    'Estimate!!Total!!Female!!30 to 34 years',
    'Estimate!!Total!!Female!!30 to 34 years',
    'Estimate!!Total!!Female!!35 to 39 years',
    'Estimate!!Total!!Female!!40 to 44 years'
]]

RA_Georgia_BG_df_copy = RA_Georgia_BG_df.copy()
RA_Georgia_BG_df_copy.drop(RA_Georgia_BG_df.index[0], inplace=True)
age_columns = [
    'Estimate!!Total!!Female!!18 and 19 years',
    'Estimate!!Total!!Female!!20 years',
    'Estimate!!Total!!Female!!22 to 24 years',
    'Estimate!!Total!!Female!!25 to 29 years',
    'Estimate!!Total!!Female!!30 to 34 years',
    'Estimate!!Total!!Female!!30 to 34 years',
    'Estimate!!Total!!Female!!35 to 39 years',
    'Estimate!!Total!!Female!!40 to 44 years'
]

for col in age_columns:
    if col in RA_Georgia_BG_df_copy.columns:
        RA_Georgia_BG_df_copy[col] = RA_Georgia_BG_df_copy[col].astype(str)  # Ensure it's a string
        RA_Georgia_BG_df_copy[col] = RA_Georgia_BG_df_copy[col].apply(lambda x: pd.to_numeric(x, errors='coerce'))

# Create the new column by summing the specified columns
RA_Georgia_BG_df_copy['Total Female Age 18-44 years'] = RA_Georgia_BG_df_copy[age_columns].sum(axis=1)

# Drop all other columns except 'Geographic Area Name' and the new column
RA_Georgia_BG_df_copy = RA_Georgia_BG_df_copy[['Geographic Area Name', 'Total Female Age 18-44 years']]
RA_Georgia_BG_df_copy.rename(columns={'Geographic Area Name': 'Geographic Area Names'}, inplace=True)
# Display the resulting DataFrame
RA_Georgia_BG_df_copy

RA_Georgia_BG_df_copy['Geographic Area Name'] = RA_Georgia_BG_df_copy['Geographic Area Names'].str.extract(r'Block Group \d+, (.*)')

RA_Georgia_BG_df_copy.head()

,Geographic Area Names,Total Female Age 18-44 years,Geographic Area Name
1,"Block Group 1, Census Tract 9501, Appling Coun...",128,"Census Tract 9501, Appling County, Georgia"
2,"Block Group 2, Census Tract 9501, Appling Coun...",411,"Census Tract 9501, Appling County, Georgia"
3,"Block Group 1, Census Tract 9502, Appling Coun...",468,"Census Tract 9502, Appling County, Georgia"
4,"Block Group 2, Census Tract 9502, Appling Coun...",234,"Census Tract 9502, Appling County, Georgia"
5,"Block Group 3, Census Tract 9502, Appling Coun...",195,"Census Tract 9502, Appling County, Georgia"

In [19]:
merged_df = pd.merge(RA_Georgia_BG_df_copy, proportion_df, on='Geographic Area Name')
columns_to_multiply = [
    'Total Female, 19-44 with Health Insurance',
       'Total Female, 19-44 No Health Insurance',
]

# Performing the multiplication
for column in columns_to_multiply:
    merged_df[column] = (merged_df[column] * merged_df['Total Female Age 18-44 years'])

# Display the modified DataFrame
merged_df

,Geographic Area Names,Total Female Age 18-44 years,Geographic Area Name,"Total Female, 19-44 with Health Insurance","Total Female, 19-44 No Health Insurance"
0,"Block Group 1, Census Tract 9502, Appling Coun...",468,"Census Tract 9502, Appling County, Georgia",264.238569,203.761431
1,"Block Group 2, Census Tract 9502, Appling Coun...",234,"Census Tract 9502, Appling County, Georgia",132.119284,101.880716
2,"Block Group 3, Census Tract 9502, Appling Coun...",195,"Census Tract 9502, Appling County, Georgia",110.099404,84.900596
3,"Block Group 1, Census Tract 9503, Appling Coun...",328,"Census Tract 9503, Appling County, Georgia",235.585401,92.414599
4,"Block Group 2, Census Tract 9503, Appling Coun...",537,"Census Tract 9503, Appling County, Georgia",385.699270,151.300730
...,...,...,...,...,...
2372,"Block Group 5, Census Tract 8, Whitfield Count...",367,"Census Tract 8, Whitfield County, Georgia",286.200463,80.799537
2373,"Block Group 1, Census Tract 9502, Worth County...",199,"Census Tract 9502, Worth County, Georgia",118.814167,80.185833
2374,"Block Group 2, Census Tract 9502, Worth County...",768,"Census Tract 9502, Worth County, Georgia",458.539098,309.460902
2375,"Block Group 3, Census Tract 9502, Worth County...",688,"Census Tract 9502, Worth County, Georgia",410.774609,277.225391
2376,"Block Group 4, Census Tract 9502, Worth County...",341,"Census Tract 9502, Worth County, Georgia",203.596136,137.403864

In [20]:
columns_to_round = [
'Total Female, 19-44 with Health Insurance',
       'Total Female, 19-44 No Health Insurance',
]

for index, row in merged_df.iterrows():
    # Round all but the last value
    for column in columns_to_round[:-1]:
        merged_df.at[index, column] = round(row[column])
    
    # Calculate the last value to ensure the sum matches the Population
    last_column = columns_to_round[-1]
    merged_df.at[index, last_column] = row['Total Female Age 18-44 years'] - sum([round(row[col]) for col in columns_to_round[:-1]])
    
merged_df.drop('Geographic Area Name', axis=1, inplace=True)
merged_df.drop('Total Female Age 18-44 years', axis=1, inplace=True)
merged_df.head()

,Geographic Area Names,"Total Female, 19-44 with Health Insurance","Total Female, 19-44 No Health Insurance"
0,"Block Group 1, Census Tract 9502, Appling Coun...",264.0,204.0
1,"Block Group 2, Census Tract 9502, Appling Coun...",132.0,102.0
2,"Block Group 3, Census Tract 9502, Appling Coun...",110.0,85.0
3,"Block Group 1, Census Tract 9503, Appling Coun...",236.0,92.0
4,"Block Group 2, Census Tract 9503, Appling Coun...",386.0,151.0

In [21]:
merged_df.to_csv('Distribution across Health Insurance.csv', index=False)

<h1>Educational Qualification by County</h1>

In [114]:

RA_EducationByCounty=pd.read_csv('../../Obstetric accessibility visualization/Georgia/EdicationBySex&AgeCounty.csv')

In [115]:
RA_EducationByCounty.rename(columns=RA_EducationByCounty.iloc[0], inplace=True)
list(RA_EducationByCounty.columns)
# Get a list of columns that start with 'Estimate', converting column names to strings
estimate_columns = [col for col in RA_EducationByCounty.columns if str(col).startswith('Estimate')]
print(estimate_columns)

['Estimate!!Total', 'Estimate!!Total!!Male', 'Estimate!!Total!!Male!!18 to 24 years', 'Estimate!!Total!!Male!!18 to 24 years!!Less than 9th grade', 'Estimate!!Total!!Male!!18 to 24 years!!9th to 12th grade, no diploma', 'Estimate!!Total!!Male!!18 to 24 years!!High school graduate (includes equivalency)', 'Estimate!!Total!!Male!!18 to 24 years!!Some college, no degree', "Estimate!!Total!!Male!!18 to 24 years!!Associate's degree", "Estimate!!Total!!Male!!18 to 24 years!!Bachelor's degree", 'Estimate!!Total!!Male!!18 to 24 years!!Graduate or professional degree', 'Estimate!!Total!!Male!!25 to 34 years', 'Estimate!!Total!!Male!!25 to 34 years!!Less than 9th grade', 'Estimate!!Total!!Male!!25 to 34 years!!9th to 12th grade, no diploma', 'Estimate!!Total!!Male!!25 to 34 years!!High school graduate (includes equivalency)', 'Estimate!!Total!!Male!!25 to 34 years!!Some college, no degree', "Estimate!!Total!!Male!!25 to 34 years!!Associate's degree", "Estimate!!Total!!Male!!25 to 34 years!!Bachelor's degree", 'Estimate!!Total!!Male!!25 to 34 years!!Graduate or professional degree', 'Estimate!!Total!!Male!!35 to 44 years', 'Estimate!!Total!!Male!!35 to 44 years!!Less than 9th grade', 'Estimate!!Total!!Male!!35 to 44 years!!9th to 12th grade, no diploma', 'Estimate!!Total!!Male!!35 to 44 years!!High school graduate (includes equivalency)', 'Estimate!!Total!!Male!!35 to 44 years!!Some college, no degree', "Estimate!!Total!!Male!!35 to 44 years!!Associate's degree", "Estimate!!Total!!Male!!35 to 44 years!!Bachelor's degree", 'Estimate!!Total!!Male!!35 to 44 years!!Graduate or professional degree', 'Estimate!!Total!!Male!!45 to 64 years', 'Estimate!!Total!!Male!!45 to 64 years!!Less than 9th grade', 'Estimate!!Total!!Male!!45 to 64 years!!9th to 12th grade, no diploma', 'Estimate!!Total!!Male!!45 to 64 years!!High school graduate (includes equivalency)', 'Estimate!!Total!!Male!!45 to 64 years!!Some college, no degree', "Estimate!!Total!!Male!!45 to 64 years!!Associate's degree", "Estimate!!Total!!Male!!45 to 64 years!!Bachelor's degree", 'Estimate!!Total!!Male!!45 to 64 years!!Graduate or professional degree', 'Estimate!!Total!!Male!!65 years and over', 'Estimate!!Total!!Male!!65 years and over!!Less than 9th grade', 'Estimate!!Total!!Male!!65 years and over!!9th to 12th grade, no diploma', 'Estimate!!Total!!Male!!65 years and over!!High school graduate (includes equivalency)', 'Estimate!!Total!!Male!!65 years and over!!Some college, no degree', "Estimate!!Total!!Male!!65 years and over!!Associate's degree", "Estimate!!Total!!Male!!65 years and over!!Bachelor's degree", 'Estimate!!Total!!Male!!65 years and over!!Graduate or professional degree', 'Estimate!!Total!!Female', 'Estimate!!Total!!Female!!18 to 24 years', 'Estimate!!Total!!Female!!18 to 24 years!!Less than 9th grade', 'Estimate!!Total!!Female!!18 to 24 years!!9th to 12th grade, no diploma', 'Estimate!!Total!!Female!!18 to 24 years!!High school graduate (includes equivalency)', 'Estimate!!Total!!Female!!18 to 24 years!!Some college, no degree', "Estimate!!Total!!Female!!18 to 24 years!!Associate's degree", "Estimate!!Total!!Female!!18 to 24 years!!Bachelor's degree", 'Estimate!!Total!!Female!!18 to 24 years!!Graduate or professional degree', 'Estimate!!Total!!Female!!25 to 34 years', 'Estimate!!Total!!Female!!25 to 34 years!!Less than 9th grade', 'Estimate!!Total!!Female!!25 to 34 years!!9th to 12th grade, no diploma', 'Estimate!!Total!!Female!!25 to 34 years!!High school graduate (includes equivalency)', 'Estimate!!Total!!Female!!25 to 34 years!!Some college, no degree', "Estimate!!Total!!Female!!25 to 34 years!!Associate's degree", "Estimate!!Total!!Female!!25 to 34 years!!Bachelor's degree", 'Estimate!!Total!!Female!!25 to 34 years!!Graduate or professional degree', 'Estimate!!Total!!Female!!35 to 44 years', 'Estimate!!Total!!Female!!35 to 44 years!!Less than 9th grade', 'Estimate!!Total!!Female!!35 to 44 years!!9th to 12th grade, no diploma', 'Estimate!!Total!!Female!!35 to 44 years!!High school graduate (includes equivalency)', 'Estimate!!Total!!Female!!35 to 44 years!!Some college, no degree', "Estimate!!Total!!Female!!35 to 44 years!!Associate's degree", "Estimate!!Total!!Female!!35 to 44 years!!Bachelor's degree", 'Estimate!!Total!!Female!!35 to 44 years!!Graduate or professional degree', 'Estimate!!Total!!Female!!45 to 64 years', 'Estimate!!Total!!Female!!45 to 64 years!!Less than 9th grade', 'Estimate!!Total!!Female!!45 to 64 years!!9th to 12th grade, no diploma', 'Estimate!!Total!!Female!!45 to 64 years!!High school graduate (includes equivalency)', 'Estimate!!Total!!Female!!45 to 64 years!!Some college, no degree', "Estimate!!Total!!Female!!45 to 64 years!!Associate's degree", "Estimate!!Total!!Female!!45 to 64 years!!Bachelor's degree", 'Estimate!!Total!!Female!!45 to 64 years!!Graduate or professional degree', 'Estimate!!Total!!Female!!65 years and over', 'Estimate!!Total!!Female!!65 years and over!!Less than 9th grade', 'Estimate!!Total!!Female!!65 years and over!!9th to 12th grade, no diploma', 'Estimate!!Total!!Female!!65 years and over!!High school graduate (includes equivalency)', 'Estimate!!Total!!Female!!65 years and over!!Some college, no degree', "Estimate!!Total!!Female!!65 years and over!!Associate's degree", "Estimate!!Total!!Female!!65 years and over!!Bachelor's degree", 'Estimate!!Total!!Female!!65 years and over!!Graduate or professional degree']

In [116]:
RA_EducationByCounty_df = RA_EducationByCounty[[
    'Geographic Area Name',
    # Columns for 18 to 24 years
    'Estimate!!Total!!Female!!18 to 24 years!!Less than 9th grade',
    'Estimate!!Total!!Female!!18 to 24 years!!9th to 12th grade, no diploma',
    'Estimate!!Total!!Female!!18 to 24 years!!High school graduate (includes equivalency)',
    'Estimate!!Total!!Female!!18 to 24 years!!Some college, no degree',
    "Estimate!!Total!!Female!!18 to 24 years!!Associate's degree",
    "Estimate!!Total!!Female!!18 to 24 years!!Bachelor's degree",
    'Estimate!!Total!!Female!!18 to 24 years!!Graduate or professional degree',
    # Columns for 25 to 34 years
    'Estimate!!Total!!Female!!25 to 34 years!!Less than 9th grade',
    'Estimate!!Total!!Female!!25 to 34 years!!9th to 12th grade, no diploma',
    'Estimate!!Total!!Female!!25 to 34 years!!High school graduate (includes equivalency)',
    'Estimate!!Total!!Female!!25 to 34 years!!Some college, no degree',
    "Estimate!!Total!!Female!!25 to 34 years!!Associate's degree",
    "Estimate!!Total!!Female!!25 to 34 years!!Bachelor's degree",
    'Estimate!!Total!!Female!!25 to 34 years!!Graduate or professional degree',
    # Columns for 35 to 44 years
    'Estimate!!Total!!Female!!35 to 44 years!!Less than 9th grade',
    'Estimate!!Total!!Female!!35 to 44 years!!9th to 12th grade, no diploma',
    'Estimate!!Total!!Female!!35 to 44 years!!High school graduate (includes equivalency)',
    'Estimate!!Total!!Female!!35 to 44 years!!Some college, no degree',
    "Estimate!!Total!!Female!!35 to 44 years!!Associate's degree",
    "Estimate!!Total!!Female!!35 to 44 years!!Bachelor's degree",
    'Estimate!!Total!!Female!!35 to 44 years!!Graduate or professional degree'
]]

In [117]:
RA_EducationByCounty_df.head()

,Geographic Area Name,Estimate!!Total!!Female!!18 to 24 years!!Less than 9th grade,"Estimate!!Total!!Female!!18 to 24 years!!9th to 12th grade, no diploma",Estimate!!Total!!Female!!18 to 24 years!!High school graduate (includes equivalency),"Estimate!!Total!!Female!!18 to 24 years!!Some college, no degree",Estimate!!Total!!Female!!18 to 24 years!!Associate's degree,Estimate!!Total!!Female!!18 to 24 years!!Bachelor's degree,Estimate!!Total!!Female!!18 to 24 years!!Graduate or professional degree,Estimate!!Total!!Female!!25 to 34 years!!Less than 9th grade,"Estimate!!Total!!Female!!25 to 34 years!!9th to 12th grade, no diploma",...,Estimate!!Total!!Female!!25 to 34 years!!Associate's degree,Estimate!!Total!!Female!!25 to 34 years!!Bachelor's degree,Estimate!!Total!!Female!!25 to 34 years!!Graduate or professional degree,Estimate!!Total!!Female!!35 to 44 years!!Less than 9th grade,"Estimate!!Total!!Female!!35 to 44 years!!9th to 12th grade, no diploma",Estimate!!Total!!Female!!35 to 44 years!!High school graduate (includes equivalency),"Estimate!!Total!!Female!!35 to 44 years!!Some college, no degree",Estimate!!Total!!Female!!35 to 44 years!!Associate's degree,Estimate!!Total!!Female!!35 to 44 years!!Bachelor's degree,Estimate!!Total!!Female!!35 to 44 years!!Graduate or professional degree
0,Geographic Area Name,Estimate!!Total!!Female!!18 to 24 years!!Less ...,Estimate!!Total!!Female!!18 to 24 years!!9th t...,Estimate!!Total!!Female!!18 to 24 years!!High ...,Estimate!!Total!!Female!!18 to 24 years!!Some ...,Estimate!!Total!!Female!!18 to 24 years!!Assoc...,Estimate!!Total!!Female!!18 to 24 years!!Bache...,Estimate!!Total!!Female!!18 to 24 years!!Gradu...,Estimate!!Total!!Female!!25 to 34 years!!Less ...,Estimate!!Total!!Female!!25 to 34 years!!9th t...,...,Estimate!!Total!!Female!!25 to 34 years!!Assoc...,Estimate!!Total!!Female!!25 to 34 years!!Bache...,Estimate!!Total!!Female!!25 to 34 years!!Gradu...,Estimate!!Total!!Female!!35 to 44 years!!Less ...,Estimate!!Total!!Female!!35 to 44 years!!9th t...,Estimate!!Total!!Female!!35 to 44 years!!High ...,Estimate!!Total!!Female!!35 to 44 years!!Some ...,Estimate!!Total!!Female!!35 to 44 years!!Assoc...,Estimate!!Total!!Female!!35 to 44 years!!Bache...,Estimate!!Total!!Female!!35 to 44 years!!Gradu...
1,"Appling County, Georgia",19,87,427,107,21,4,14,153,171,...,73,75,50,29,77,486,165,111,121,82
2,"Atkinson County, Georgia",15,65,131,139,23,0,0,54,76,...,124,22,9,56,88,141,72,36,58,55
3,"Bacon County, Georgia",30,66,156,123,31,10,0,0,83,...,72,80,50,48,113,227,183,157,56,20
4,"Baker County, Georgia",0,18,91,56,0,0,0,3,12,...,30,28,14,0,20,32,41,62,4,13

In [118]:
import pandas as pd

# Assume RA_EducationByCounty is a predefined DataFrame with the required data

# Columns for different educational categories across the age groups
education_categories = [
    'Less than 9th grade',
    '9th to 12th grade, no diploma',
    'High school graduate (includes equivalency)',
    'Some college, no degree',
    "Associate's degree",
    "Bachelor's degree",
    'Graduate or professional degree'
]

# Create an empty DataFrame to store the summed data
final_df = pd.DataFrame()

# Sum the values for each educational category across the age groups
for category in education_categories:
    final_df[f'Estimate!!Total!!Female!!18 to 44 years!!{category}'] = (
        pd.to_numeric(RA_EducationByCounty[f'Estimate!!Total!!Female!!18 to 24 years!!{category}'], errors='coerce') +
        pd.to_numeric(RA_EducationByCounty[f'Estimate!!Total!!Female!!25 to 34 years!!{category}'], errors='coerce') +
        pd.to_numeric(RA_EducationByCounty[f'Estimate!!Total!!Female!!35 to 44 years!!{category}'], errors='coerce')
    )

# Convert columns from string to int after handling missing values
final_df = final_df.fillna(0).astype(int)

# Add the 'Geographic Area Name' to the final DataFrame
final_df['Geographic Area Name'] = RA_EducationByCounty['Geographic Area Name']

# Group by 'Geographic Area Name' and sum the values (if necessary, depends on the data structure)
final_df = final_df.groupby('Geographic Area Name').sum()

# Display the final DataFrame
final_df

,Estimate!!Total!!Female!!18 to 44 years!!Less than 9th grade,"Estimate!!Total!!Female!!18 to 44 years!!9th to 12th grade, no diploma",Estimate!!Total!!Female!!18 to 44 years!!High school graduate (includes equivalency),"Estimate!!Total!!Female!!18 to 44 years!!Some college, no degree",Estimate!!Total!!Female!!18 to 44 years!!Associate's degree,Estimate!!Total!!Female!!18 to 44 years!!Bachelor's degree,Estimate!!Total!!Female!!18 to 44 years!!Graduate or professional degree
Geographic Area Name,,,,,,,
"Appling County, Georgia",201,335,1272,526,205,200,146
"Atkinson County, Georgia",125,229,473,230,183,80,64
"Bacon County, Georgia",78,262,585,502,260,146,70
"Baker County, Georgia",3,50,153,141,92,32,27
"Baldwin County, Georgia",114,685,1963,4081,735,1062,543
...,...,...,...,...,...,...,...
"Whitfield County, Georgia",1796,3113,4737,5126,1093,1699,699
"Wilcox County, Georgia",45,97,493,199,98,78,36
"Wilkes County, Georgia",123,230,492,329,199,57,64
"Wilkinson County, Georgia",23,99,611,367,133,123,45
"Worth County, Georgia",73,597,1014,921,342,255,120

<h1>Educational Qualification by Block Groups</h1>

In [119]:
def calculate_proportions(row):
    row_sum = row.sum()
    if row_sum != 0:
        return row / row_sum
    else:
        return row

# Apply the function to each row
proportion_df = final_df.apply(calculate_proportions, axis=1)

# Display the resulting DataFrame
proportion_df=proportion_df.reset_index()

proportion_df

,Geographic Area Name,Estimate!!Total!!Female!!18 to 44 years!!Less than 9th grade,"Estimate!!Total!!Female!!18 to 44 years!!9th to 12th grade, no diploma",Estimate!!Total!!Female!!18 to 44 years!!High school graduate (includes equivalency),"Estimate!!Total!!Female!!18 to 44 years!!Some college, no degree",Estimate!!Total!!Female!!18 to 44 years!!Associate's degree,Estimate!!Total!!Female!!18 to 44 years!!Bachelor's degree,Estimate!!Total!!Female!!18 to 44 years!!Graduate or professional degree
0,"Appling County, Georgia",0.069671,0.116118,0.440901,0.182322,0.071057,0.069324,0.050607
1,"Atkinson County, Georgia",0.090318,0.165462,0.341763,0.166185,0.132225,0.057803,0.046243
2,"Bacon County, Georgia",0.040988,0.137677,0.307409,0.263794,0.136626,0.076721,0.036784
3,"Baker County, Georgia",0.006024,0.100402,0.307229,0.283133,0.184739,0.064257,0.054217
4,"Baldwin County, Georgia",0.012414,0.074594,0.213765,0.444408,0.080039,0.115648,0.059131
...,...,...,...,...,...,...,...,...
155,"Whitfield County, Georgia",0.098341,0.170454,0.259377,0.280677,0.059848,0.093030,0.038274
156,"Wilcox County, Georgia",0.043021,0.092734,0.471319,0.190249,0.093690,0.074570,0.034417
157,"Wilkes County, Georgia",0.082329,0.153949,0.329317,0.220214,0.133199,0.038153,0.042838
158,"Wilkinson County, Georgia",0.016417,0.070664,0.436117,0.261956,0.094932,0.087794,0.032120
159,"Worth County, Georgia",0.021975,0.179711,0.305238,0.277243,0.102950,0.076761,0.036123

In [120]:
proportion_df['County'] = proportion_df['Geographic Area Name'].str.split(',').str[0]
proportion_df['County'] = proportion_df['County'].str.replace(' County', '')
proportion_df

,Geographic Area Name,Estimate!!Total!!Female!!18 to 44 years!!Less than 9th grade,"Estimate!!Total!!Female!!18 to 44 years!!9th to 12th grade, no diploma",Estimate!!Total!!Female!!18 to 44 years!!High school graduate (includes equivalency),"Estimate!!Total!!Female!!18 to 44 years!!Some college, no degree",Estimate!!Total!!Female!!18 to 44 years!!Associate's degree,Estimate!!Total!!Female!!18 to 44 years!!Bachelor's degree,Estimate!!Total!!Female!!18 to 44 years!!Graduate or professional degree,County
0,"Appling County, Georgia",0.069671,0.116118,0.440901,0.182322,0.071057,0.069324,0.050607,Appling
1,"Atkinson County, Georgia",0.090318,0.165462,0.341763,0.166185,0.132225,0.057803,0.046243,Atkinson
2,"Bacon County, Georgia",0.040988,0.137677,0.307409,0.263794,0.136626,0.076721,0.036784,Bacon
3,"Baker County, Georgia",0.006024,0.100402,0.307229,0.283133,0.184739,0.064257,0.054217,Baker
4,"Baldwin County, Georgia",0.012414,0.074594,0.213765,0.444408,0.080039,0.115648,0.059131,Baldwin
...,...,...,...,...,...,...,...,...,...
155,"Whitfield County, Georgia",0.098341,0.170454,0.259377,0.280677,0.059848,0.093030,0.038274,Whitfield
156,"Wilcox County, Georgia",0.043021,0.092734,0.471319,0.190249,0.093690,0.074570,0.034417,Wilcox
157,"Wilkes County, Georgia",0.082329,0.153949,0.329317,0.220214,0.133199,0.038153,0.042838,Wilkes
158,"Wilkinson County, Georgia",0.016417,0.070664,0.436117,0.261956,0.094932,0.087794,0.032120,Wilkinson
159,"Worth County, Georgia",0.021975,0.179711,0.305238,0.277243,0.102950,0.076761,0.036123,Worth

In [122]:
print(proportion_df.columns)

Index(['Geographic Area Name',
       'Estimate!!Total!!Female!!18 to 44 years!!Less than 9th grade',
       'Estimate!!Total!!Female!!18 to 44 years!!9th to 12th grade, no diploma',
       'Estimate!!Total!!Female!!18 to 44 years!!High school graduate (includes equivalency)',
       'Estimate!!Total!!Female!!18 to 44 years!!Some college, no degree',
       'Estimate!!Total!!Female!!18 to 44 years!!Associate's degree',
       'Estimate!!Total!!Female!!18 to 44 years!!Bachelor's degree',
       'Estimate!!Total!!Female!!18 to 44 years!!Graduate or professional degree',
       'County'],
      dtype='object')

In [125]:
RA_Georgia=pd.read_csv('../../Obstetric accessibility visualization/Georgia/BG_County_numbers.csv')
merged_df = pd.merge(RA_Georgia, proportion_df, on='County')
columns_to_multiply = [
'Estimate!!Total!!Female!!18 to 44 years!!Less than 9th grade',
       'Estimate!!Total!!Female!!18 to 44 years!!9th to 12th grade, no diploma',
       'Estimate!!Total!!Female!!18 to 44 years!!High school graduate (includes equivalency)',
       'Estimate!!Total!!Female!!18 to 44 years!!Some college, no degree',
    'Estimate!!Total!!Female!!18 to 44 years!!Associate\'s degree',
       'Estimate!!Total!!Female!!18 to 44 years!!Bachelor\'s degree',
       'Estimate!!Total!!Female!!18 to 44 years!!Graduate or professional degree']

# Performing the multiplication
for column in columns_to_multiply:
    merged_df[column] = (merged_df[column] * merged_df['Population'])

# Display the modified DataFrame
merged_df

,Geography,County,Population,Geographic Area Name,Estimate!!Total!!Female!!18 to 44 years!!Less than 9th grade,"Estimate!!Total!!Female!!18 to 44 years!!9th to 12th grade, no diploma",Estimate!!Total!!Female!!18 to 44 years!!High school graduate (includes equivalency),"Estimate!!Total!!Female!!18 to 44 years!!Some college, no degree",Estimate!!Total!!Female!!18 to 44 years!!Associate's degree,Estimate!!Total!!Female!!18 to 44 years!!Bachelor's degree,Estimate!!Total!!Female!!18 to 44 years!!Graduate or professional degree
0,1500000US130210131023,Bibb,103,"Bibb County, Georgia",2.139519,9.314038,27.578397,32.420841,7.748624,15.796780,8.001800
1,1500000US130210131024,Bibb,184,"Bibb County, Georgia",3.822053,16.638671,49.266263,57.916843,13.842202,28.219491,14.294478
2,1500000US130210132014,Bibb,122,"Bibb County, Georgia",2.534187,11.032162,32.665674,38.401385,9.177982,18.710750,9.477860
3,1500000US130210131022,Bibb,365,"Bibb County, Georgia",7.581790,33.006059,97.729271,114.889389,27.458716,55.978882,28.355894
4,1500000US130210131011,Bibb,441,"Bibb County, Georgia",9.160464,39.878553,118.078380,138.811563,33.176147,67.634759,34.260135
...,...,...,...,...,...,...,...,...,...,...,...
5083,1500000US130939701003,Dooly,112,"Dooly County, Georgia",4.401487,10.587361,47.881041,37.472119,3.152416,6.304833,2.200743
5084,1500000US130939701002,Dooly,269,"Dooly County, Georgia",10.571429,25.428571,115.000000,90.000000,7.571429,15.142857,5.285714
5085,1500000US130939701001,Dooly,183,"Dooly County, Georgia",7.191715,17.298991,78.234201,61.226766,5.150823,10.301646,3.595858
5086,1500000US130939703002,Dooly,205,"Dooly County, Georgia",8.056293,19.378651,87.639405,68.587361,5.770048,11.540096,4.028147
5087,1500000US130939703004,Dooly,150,"Dooly County, Georgia",5.894849,14.179501,64.126394,50.185874,4.221986,8.443972,2.947424

In [127]:
columns_to_round = [
'Estimate!!Total!!Female!!18 to 44 years!!Less than 9th grade',
       'Estimate!!Total!!Female!!18 to 44 years!!9th to 12th grade, no diploma',
       'Estimate!!Total!!Female!!18 to 44 years!!High school graduate (includes equivalency)',
       'Estimate!!Total!!Female!!18 to 44 years!!Some college, no degree',
    'Estimate!!Total!!Female!!18 to 44 years!!Associate\'s degree',
       'Estimate!!Total!!Female!!18 to 44 years!!Bachelor\'s degree',
       'Estimate!!Total!!Female!!18 to 44 years!!Graduate or professional degree'	
]

for index, row in merged_df.iterrows():
    # Round all but the last value
    for column in columns_to_round[:-1]:
        merged_df.at[index, column] = round(row[column])
    
    # Calculate the last value to ensure the sum matches the Population
    last_column = columns_to_round[-1]
    merged_df.at[index, last_column] = row['Population'] - sum([round(row[col]) for col in columns_to_round[:-1]])

merged_df

,Geography,County,Population,Geographic Area Name,Estimate!!Total!!Female!!18 to 44 years!!Less than 9th grade,"Estimate!!Total!!Female!!18 to 44 years!!9th to 12th grade, no diploma",Estimate!!Total!!Female!!18 to 44 years!!High school graduate (includes equivalency),"Estimate!!Total!!Female!!18 to 44 years!!Some college, no degree",Estimate!!Total!!Female!!18 to 44 years!!Associate's degree,Estimate!!Total!!Female!!18 to 44 years!!Bachelor's degree,Estimate!!Total!!Female!!18 to 44 years!!Graduate or professional degree
0,1500000US130210131023,Bibb,103,"Bibb County, Georgia",2.0,9.0,28.0,32.0,8.0,16.0,8.0
1,1500000US130210131024,Bibb,184,"Bibb County, Georgia",4.0,17.0,49.0,58.0,14.0,28.0,14.0
2,1500000US130210132014,Bibb,122,"Bibb County, Georgia",3.0,11.0,33.0,38.0,9.0,19.0,9.0
3,1500000US130210131022,Bibb,365,"Bibb County, Georgia",8.0,33.0,98.0,115.0,27.0,56.0,28.0
4,1500000US130210131011,Bibb,441,"Bibb County, Georgia",9.0,40.0,118.0,139.0,33.0,68.0,34.0
...,...,...,...,...,...,...,...,...,...,...,...
5083,1500000US130939701003,Dooly,112,"Dooly County, Georgia",4.0,11.0,48.0,37.0,3.0,6.0,3.0
5084,1500000US130939701002,Dooly,269,"Dooly County, Georgia",11.0,25.0,115.0,90.0,8.0,15.0,5.0
5085,1500000US130939701001,Dooly,183,"Dooly County, Georgia",7.0,17.0,78.0,61.0,5.0,10.0,5.0
5086,1500000US130939703002,Dooly,205,"Dooly County, Georgia",8.0,19.0,88.0,69.0,6.0,12.0,3.0
5087,1500000US130939703004,Dooly,150,"Dooly County, Georgia",6.0,14.0,64.0,50.0,4.0,8.0,4.0

<h1>Educational Qualification by Census Tract</h1>

In [72]:

RA_EducationByCT=pd.read_csv('../../Obstetric accessibility visualization/Georgia/EdicationBySex&AgeCT.csv')
RA_EducationByCT.rename(columns=RA_EducationByCT.iloc[0], inplace=True)
# Filtering columns that contain both 'Estimate' and 'Female'
filtered_columns = [col for col in RA_EducationByCT.columns if 'Estimate' in str(col) and 'Female' in str(col) and 'Annotation' not in str(col) and 'Margin of Error!' not in str(col) and 'Less than high school graduate' in str(col)]

# Creating a new DataFrame with the filtered columns
#filtered_df = RA_EducationByCT[filtered_columns]

# Displaying the new DataFrame
print(filtered_columns)

['Estimate!!Female!!Population 18 to 24 years!!Less than high school graduate', 'Estimate!!Female!!POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL!!Less than high school graduate', 'Estimate!!Female!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS)!!Population 25 years and over with earnings!!Less than high school graduate', 'Estimate!!Percent Female!!Population 18 to 24 years!!Less than high school graduate', 'Estimate!!Percent Female!!POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL!!Less than high school graduate', 'Estimate!!Percent Female!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS)!!Population 25 years and over with earnings!!Less than high school graduate']

/var/folders/_2/chm4htkx0yj_5655k61rx6tc0000gn/T/ipykernel_96287/4104623566.py:1: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,234,235,236,237,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,322,323,324,325,326,327,328,329,334,335,336,337,338,339,340,341,346,347,348,349,350,351,352,353,358,359,360,361,362,363,364,365,370,371,372,373,374,375,376,377,382,383,384,385,386,387,388,389,478,479,480,481,482,483,484,485,486,487,488,489,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,834,835,836,837,838,839,840,841,846,847,848,849,850,851,852,853,858,859,860,861,862,863,864,865,870,871,872,873,874,875,876,877,882,883,884,885,886,887,888,889,894,895,896,897,898,899,900,901,990,991,992,993,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1218,1219,1220,1221,1222,1223,1224,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235,1236,1237,1238,1239,1240,1241,1306,1307,1308,1309,1310,1311,1312,1313,1314,1315,1316,1317,1318,1319,1320,1321,1322,1323,1324,1325,1326,1327,1328,1329,1330,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340,1341,1358,1359,1360,1361,1362,1363,1364,1365,1370,1371,1372,1373,1374,1375,1376,1377,1506,1507,1508,1509,1510,1511,1512,1513) have mixed types. Specify dtype option on import or set low_memory=False.
  RA_EducationByCT=pd.read_csv('../../Obstetric accessibility visualization/Georgia/EdicationBySex&AgeCT.csv')

In [73]:
RA_EducationByCT_df = RA_EducationByCT[[
    'Geographic Area Name',
    # Columns for 18 to 24 years
    'Estimate!!Female!!Population 18 to 24 years!!High school graduate (includes equivalency)', 
    "Estimate!!Female!!Population 18 to 24 years!!Some college or associate's degree", 
    "Estimate!!Female!!Population 18 to 24 years!!Bachelor's degree or higher",
    # Columns for 25 to 34 years
    'Estimate!!Female!!Population 25 years and over!!Population 25 to 34 years!!High school graduate or higher', 
    "Estimate!!Female!!Population 25 years and over!!Population 25 to 34 years!!Bachelor's degree or higher",
    # Columns for 35 to 44 years
    'Estimate!!Female!!Population 25 years and over!!Population 35 to 44 years!!High school graduate or higher', 
    "Estimate!!Female!!Population 25 years and over!!Population 35 to 44 years!!Bachelor's degree or higher"
]]
for col in [
    'Estimate!!Female!!Population 18 to 24 years!!High school graduate (includes equivalency)',
    "Estimate!!Female!!Population 18 to 24 years!!Some college or associate's degree",
    "Estimate!!Female!!Population 18 to 24 years!!Bachelor's degree or higher",
    'Estimate!!Female!!Population 25 years and over!!Population 25 to 34 years!!High school graduate or higher',
    "Estimate!!Female!!Population 25 years and over!!Population 25 to 34 years!!Bachelor's degree or higher",
    'Estimate!!Female!!Population 25 years and over!!Population 35 to 44 years!!High school graduate or higher',
    "Estimate!!Female!!Population 25 years and over!!Population 35 to 44 years!!Bachelor's degree or higher"
]:
    RA_EducationByCT_df[col] = pd.to_numeric(RA_EducationByCT_df[col], errors='coerce')

RA_EducationByCT_df['Estimate!!Female!!Population 18 to 24 years!!Population 25 to 34 years!!High school graduate or higher'] = (
    RA_EducationByCT_df['Estimate!!Female!!Population 18 to 24 years!!High school graduate (includes equivalency)'] +
    RA_EducationByCT_df["Estimate!!Female!!Population 18 to 24 years!!Some college or associate's degree"]
)

/var/folders/_2/chm4htkx0yj_5655k61rx6tc0000gn/T/ipykernel_96287/1946141871.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RA_EducationByCT_df[col] = pd.to_numeric(RA_EducationByCT_df[col], errors='coerce')
/var/folders/_2/chm4htkx0yj_5655k61rx6tc0000gn/T/ipykernel_96287/1946141871.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RA_EducationByCT_df['Estimate!!Female!!Population 18 to 24 years!!Population 25 to 34 years!!High school graduate or higher'] = (

In [209]:
# Summing for "High school graduate or higher" across all age groups
RA_EducationByCT_df['Estimate!!Female!!Population 18 to 44 years!!High school graduate or higher'] = (
    RA_EducationByCT_df['Estimate!!Female!!Population 18 to 24 years!!High school graduate (includes equivalency)'] +
    RA_EducationByCT_df['Estimate!!Female!!Population 25 years and over!!Population 25 to 34 years!!High school graduate or higher'] +
    RA_EducationByCT_df['Estimate!!Female!!Population 25 years and over!!Population 35 to 44 years!!High school graduate or higher']
)

# Summing for "Bachelor's degree or higher" across all age groups
RA_EducationByCT_df['Estimate!!Female!!Population 18 to 44 years!!Bachelor\'s degree or higher'] = (
    RA_EducationByCT_df["Estimate!!Female!!Population 18 to 24 years!!Bachelor's degree or higher"] +
    RA_EducationByCT_df["Estimate!!Female!!Population 25 years and over!!Population 25 to 34 years!!Bachelor's degree or higher"] +
    RA_EducationByCT_df["Estimate!!Female!!Population 25 years and over!!Population 35 to 44 years!!Bachelor's degree or higher"]
)

# The final DataFrame
final_df = RA_EducationByCT_df[['Geographic Area Name', 
                                'Estimate!!Female!!Population 18 to 44 years!!High school graduate or higher',
                                'Estimate!!Female!!Population 18 to 44 years!!Bachelor\'s degree or higher']]

final_df = final_df.drop(final_df.index[0])
numeric_columns_sum = final_df.iloc[:, 1:].sum().sum()

print(numeric_columns_sum)
final_df

1977634.0

/var/folders/_2/chm4htkx0yj_5655k61rx6tc0000gn/T/ipykernel_96287/2447290711.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RA_EducationByCT_df['Estimate!!Female!!Population 18 to 44 years!!High school graduate or higher'] = (
/var/folders/_2/chm4htkx0yj_5655k61rx6tc0000gn/T/ipykernel_96287/2447290711.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RA_EducationByCT_df['Estimate!!Female!!Population 18 to 44 years!!Bachelor\'s degree or higher'] = (

,Geographic Area Name,Estimate!!Female!!Population 18 to 44 years!!High school graduate or higher,Estimate!!Female!!Population 18 to 44 years!!Bachelor's degree or higher
1,"Census Tract 9501, Appling County, Georgia",330.0,83.0
2,"Census Tract 9502, Appling County, Georgia",429.0,67.0
3,"Census Tract 9503, Appling County, Georgia",804.0,48.0
4,"Census Tract 9504, Appling County, Georgia",159.0,41.0
5,"Census Tract 9505, Appling County, Georgia",481.0,107.0
...,...,...,...
1965,"Census Tract 9501, Worth County, Georgia",286.0,29.0
1966,"Census Tract 9502, Worth County, Georgia",858.0,204.0
1967,"Census Tract 9504, Worth County, Georgia",373.0,45.0
1968,"Census Tract 9505, Worth County, Georgia",538.0,55.0
1969,"Census Tract 9506, Worth County, Georgia",197.0,42.0

<h1>Educational Qualification on a BG level using Census Tract</h1>

In [210]:
def calculate_proportions(row):
    high_school_or_higher = row['Estimate!!Female!!Population 18 to 44 years!!High school graduate or higher']
    bachelors_or_higher = row['Estimate!!Female!!Population 18 to 44 years!!Bachelor\'s degree or higher']
    total = high_school_or_higher + bachelors_or_higher

    if total != 0:
        row['Estimate!!Female!!Population 18 to 44 years!!High school graduate or higher'] = high_school_or_higher / total
        row['Estimate!!Female!!Population 18 to 44 years!!Bachelor\'s degree or higher'] = bachelors_or_higher / total

    return row

# Apply the function to each row of the DataFrame
if isinstance(final_df, pd.DataFrame):
    proportion_df = final_df.apply(calculate_proportions, axis=1)
else:
    print("The object 'df' is not a DataFrame.")

# Display the resulting DataFrame
proportion_df

,Geographic Area Name,Estimate!!Female!!Population 18 to 44 years!!High school graduate or higher,Estimate!!Female!!Population 18 to 44 years!!Bachelor's degree or higher
1,"Census Tract 9501, Appling County, Georgia",0.799031,0.200969
2,"Census Tract 9502, Appling County, Georgia",0.864919,0.135081
3,"Census Tract 9503, Appling County, Georgia",0.943662,0.056338
4,"Census Tract 9504, Appling County, Georgia",0.795000,0.205000
5,"Census Tract 9505, Appling County, Georgia",0.818027,0.181973
...,...,...,...
1965,"Census Tract 9501, Worth County, Georgia",0.907937,0.092063
1966,"Census Tract 9502, Worth County, Georgia",0.807910,0.192090
1967,"Census Tract 9504, Worth County, Georgia",0.892344,0.107656
1968,"Census Tract 9505, Worth County, Georgia",0.907251,0.092749
1969,"Census Tract 9506, Worth County, Georgia",0.824268,0.175732

In [211]:
import pandas as pd
RA_Georgia_BG=pd.read_csv('../../Obstetric accessibility visualization/Georgia/RA_Count_BG_level.csv')
RA_Georgia_BG.head()
RA_Georgia_BG.rename(columns=RA_Georgia_BG.iloc[0], inplace=True)
RA_Georgia_BG.columns
RA_Georgia_BG_df = RA_Georgia_BG[[
    'Geographic Area Name',
    'Estimate!!Total!!Female!!18 and 19 years',
    'Estimate!!Total!!Female!!20 years',
    'Estimate!!Total!!Female!!22 to 24 years',
    'Estimate!!Total!!Female!!25 to 29 years',
    'Estimate!!Total!!Female!!30 to 34 years',
    'Estimate!!Total!!Female!!30 to 34 years',
    'Estimate!!Total!!Female!!35 to 39 years',
    'Estimate!!Total!!Female!!40 to 44 years'
]]

RA_Georgia_BG_df_copy = RA_Georgia_BG_df.copy()
RA_Georgia_BG_df_copy.drop(RA_Georgia_BG_df.index[0], inplace=True)
age_columns = [
    'Estimate!!Total!!Female!!18 and 19 years',
    'Estimate!!Total!!Female!!20 years',
    'Estimate!!Total!!Female!!22 to 24 years',
    'Estimate!!Total!!Female!!25 to 29 years',
    'Estimate!!Total!!Female!!30 to 34 years',
    'Estimate!!Total!!Female!!30 to 34 years',
    'Estimate!!Total!!Female!!35 to 39 years',
    'Estimate!!Total!!Female!!40 to 44 years'
]

for col in age_columns:
    if col in RA_Georgia_BG_df_copy.columns:
        RA_Georgia_BG_df_copy[col] = RA_Georgia_BG_df_copy[col].astype(str)  # Ensure it's a string
        RA_Georgia_BG_df_copy[col] = RA_Georgia_BG_df_copy[col].apply(lambda x: pd.to_numeric(x, errors='coerce'))

# Create the new column by summing the specified columns
RA_Georgia_BG_df_copy['Total Female Age 18-44 years'] = RA_Georgia_BG_df_copy[age_columns].sum(axis=1)

# Drop all other columns except 'Geographic Area Name' and the new column
RA_Georgia_BG_df_copy = RA_Georgia_BG_df_copy[['Geographic Area Name', 'Total Female Age 18-44 years']]
RA_Georgia_BG_df_copy.rename(columns={'Geographic Area Name': 'Geographic Area Names'}, inplace=True)
# Display the resulting DataFrame
RA_Georgia_BG_df_copy

RA_Georgia_BG_df_copy['Geographic Area Name'] = RA_Georgia_BG_df_copy['Geographic Area Names'].str.extract(r'Block Group \d+, (.*)')

RA_Georgia_BG_df_copy.head()

,Geographic Area Names,Total Female Age 18-44 years,Geographic Area Name
1,"Block Group 1, Census Tract 9501, Appling Coun...",128,"Census Tract 9501, Appling County, Georgia"
2,"Block Group 2, Census Tract 9501, Appling Coun...",411,"Census Tract 9501, Appling County, Georgia"
3,"Block Group 1, Census Tract 9502, Appling Coun...",468,"Census Tract 9502, Appling County, Georgia"
4,"Block Group 2, Census Tract 9502, Appling Coun...",234,"Census Tract 9502, Appling County, Georgia"
5,"Block Group 3, Census Tract 9502, Appling Coun...",195,"Census Tract 9502, Appling County, Georgia"

In [212]:
merged_df = pd.merge(RA_Georgia_BG_df_copy, proportion_df, on='Geographic Area Name')
columns_to_multiply = [
    'Estimate!!Female!!Population 18 to 44 years!!High school graduate or higher',
       'Estimate!!Female!!Population 18 to 44 years!!Bachelor\'s degree or higher',
]

# Performing the multiplication
for column in columns_to_multiply:
    merged_df[column] = (merged_df[column] * merged_df['Total Female Age 18-44 years'])

# Display the modified DataFrame
merged_df

,Geographic Area Names,Total Female Age 18-44 years,Geographic Area Name,Estimate!!Female!!Population 18 to 44 years!!High school graduate or higher,Estimate!!Female!!Population 18 to 44 years!!Bachelor's degree or higher
0,"Block Group 1, Census Tract 9501, Appling Coun...",128,"Census Tract 9501, Appling County, Georgia",102.276029,25.723971
1,"Block Group 2, Census Tract 9501, Appling Coun...",411,"Census Tract 9501, Appling County, Georgia",328.401937,82.598063
2,"Block Group 1, Census Tract 9502, Appling Coun...",468,"Census Tract 9502, Appling County, Georgia",404.782258,63.217742
3,"Block Group 2, Census Tract 9502, Appling Coun...",234,"Census Tract 9502, Appling County, Georgia",202.391129,31.608871
4,"Block Group 3, Census Tract 9502, Appling Coun...",195,"Census Tract 9502, Appling County, Georgia",168.659274,26.340726
...,...,...,...,...,...
5528,"Block Group 1, Census Tract 9505, Worth County...",376,"Census Tract 9505, Worth County, Georgia",341.126476,34.873524
5529,"Block Group 2, Census Tract 9505, Worth County...",504,"Census Tract 9505, Worth County, Georgia",457.254637,46.745363
5530,"Block Group 3, Census Tract 9505, Worth County...",206,"Census Tract 9505, Worth County, Georgia",186.893761,19.106239
5531,"Block Group 1, Census Tract 9506, Worth County...",321,"Census Tract 9506, Worth County, Georgia",264.589958,56.410042
5532,"Block Group 2, Census Tract 9506, Worth County...",79,"Census Tract 9506, Worth County, Georgia",65.117155,13.882845

In [214]:
columns_to_round = [
 'Estimate!!Female!!Population 18 to 44 years!!High school graduate or higher',
       'Estimate!!Female!!Population 18 to 44 years!!Bachelor\'s degree or higher'
]

for index, row in merged_df.iterrows():
    # Round all but the last value
    for column in columns_to_round[:-1]:
        merged_df.at[index, column] = round(row[column])
    
    # Calculate the last value to ensure the sum matches the Population
    last_column = columns_to_round[-1]
    merged_df.at[index, last_column] = row['Total Female Age 18-44 years'] - sum([round(row[col]) for col in columns_to_round[:-1]])
    
merged_df.drop('Geographic Area Name', axis=1, inplace=True)
merged_df.drop('Total Female Age 18-44 years', axis=1, inplace=True)
merged_df.head()

,Geographic Area Names,Estimate!!Female!!Population 18 to 44 years!!High school graduate or higher,Estimate!!Female!!Population 18 to 44 years!!Bachelor's degree or higher
0,"Block Group 1, Census Tract 9501, Appling Coun...",102.0,26.0
1,"Block Group 2, Census Tract 9501, Appling Coun...",328.0,83.0
2,"Block Group 1, Census Tract 9502, Appling Coun...",405.0,63.0
3,"Block Group 2, Census Tract 9502, Appling Coun...",202.0,32.0
4,"Block Group 3, Census Tract 9502, Appling Coun...",169.0,26.0

In [22]:
merged_df.to_csv('Distribution_across_Educational_Qualification.csv', index=False)

<h1>Count of Women across different Marital Status for age 15 years and over on a Census Tract level</h1>

In [227]:

RA_marital_Status_ByCT=pd.read_csv('../../Obstetric accessibility visualization/Georgia/MaritalStatus_CensusTRACT.csv')
RA_marital_Status_ByCT.rename(columns=RA_marital_Status_ByCT.iloc[0], inplace=True)
# Filtering columns that contain both 'Estimate' and 'Female'
filtered_columns = [col for col in RA_marital_Status_ByCT.columns if 'Estimate' in str(col) and 'Female' in str(col) and 'Annotation' not in str(col) and 'Margin of Error!' not in str(col) ]

# Creating a new DataFrame with the filtered columns
#filtered_df = RA_EducationByCT[filtered_columns]

# Displaying the new DataFrame
#print(RA_marital_Status_ByCT.columns)

In [228]:
RA_marital_Status_ByCT = RA_marital_Status_ByCT[[
    'Geographic Area Name',
    'Estimate!!Total!!Female!!Never married', 
    'Estimate!!Total!!Female!!Now married (except separated)',
    'Estimate!!Total!!Female!!Separated',
    'Estimate!!Total!!Female!!Widowed',
    'Estimate!!Total!!Female!!Divorced'
]]
RA_marital_Status_ByCT
# Dropping the first row of the DataFrame
RA_marital_Status_ByCT_dropped = RA_marital_Status_ByCT.drop(RA_marital_Status_ByCT.index[0])

# Display the DataFrame after dropping the first row
RA_marital_Status_ByCT_dropped.head()
#numeric_columns_sum = RA_marital_Status_ByCT_dropped.iloc[:, 1:].sum().sum()
RA_marital_Status_ByCT_dropped.set_index('Geographic Area Name', inplace=True)
#print(numeric_columns_sum)

In [229]:
RA_marital_Status_ByCT_dropped

,Estimate!!Total!!Female!!Never married,Estimate!!Total!!Female!!Now married (except separated),Estimate!!Total!!Female!!Separated,Estimate!!Total!!Female!!Widowed,Estimate!!Total!!Female!!Divorced
Geographic Area Name,,,,,
"Census Tract 9501, Appling County, Georgia",199,638,0,148,80
"Census Tract 9502, Appling County, Georgia",205,471,0,83,137
"Census Tract 9503, Appling County, Georgia",329,848,21,304,266
"Census Tract 9504, Appling County, Georgia",105,212,16,83,59
"Census Tract 9505, Appling County, Georgia",226,678,53,117,169
...,...,...,...,...,...
"Census Tract 9501, Worth County, Georgia",195,489,8,73,129
"Census Tract 9502, Worth County, Georgia",319,1064,198,342,345
"Census Tract 9504, Worth County, Georgia",250,844,15,127,119
"Census Tract 9505, Worth County, Georgia",143,468,0,85,86
"Census Tract 9506, Worth County, Georgia",44,493,0,45,87

In [231]:
# Step 1: Rename columns
RA_marital_Status_ByCT_dropped = RA_marital_Status_ByCT_dropped.rename(columns={
    'Estimate!!Total!!Female!!Never married': 'Never Married',
    'Estimate!!Total!!Female!!Separated': 'Separated',
    'Estimate!!Total!!Female!!Widowed': 'Widowed',
    'Estimate!!Total!!Female!!Divorced': 'Divorced',
    'Estimate!!Total!!Female!!Now married (except separated)':'Now Married'
})
RA_marital_Status_ByCT_dropped

,Never Married,Now Married,Separated,Widowed,Divorced
Geographic Area Name,,,,,
"Census Tract 9501, Appling County, Georgia",199,638,0,148,80
"Census Tract 9502, Appling County, Georgia",205,471,0,83,137
"Census Tract 9503, Appling County, Georgia",329,848,21,304,266
"Census Tract 9504, Appling County, Georgia",105,212,16,83,59
"Census Tract 9505, Appling County, Georgia",226,678,53,117,169
...,...,...,...,...,...
"Census Tract 9501, Worth County, Georgia",195,489,8,73,129
"Census Tract 9502, Worth County, Georgia",319,1064,198,342,345
"Census Tract 9504, Worth County, Georgia",250,844,15,127,119
"Census Tract 9505, Worth County, Georgia",143,468,0,85,86
"Census Tract 9506, Worth County, Georgia",44,493,0,45,87

In [232]:
# Ensure the columns are numeric
RA_marital_Status_ByCT_dropped['Now Married'] = pd.to_numeric(RA_marital_Status_ByCT_dropped['Now Married'], errors='coerce')
RA_marital_Status_ByCT_dropped['Widowed'] = pd.to_numeric(RA_marital_Status_ByCT_dropped['Widowed'], errors='coerce')
RA_marital_Status_ByCT_dropped['Divorced'] = pd.to_numeric(RA_marital_Status_ByCT_dropped['Divorced'], errors='coerce')

# Replace NaN with 0 (if appropriate)
RA_marital_Status_ByCT_dropped[['Now Married', 'Widowed', 'Divorced']] = RA_marital_Status_ByCT_dropped[['Now Married', 'Widowed', 'Divorced']].fillna(0)

# Recalculate 'Now Married' column
RA_marital_Status_ByCT_dropped['Now Married'] = RA_marital_Status_ByCT_dropped['Now Married'] - (RA_marital_Status_ByCT_dropped['Widowed'] + RA_marital_Status_ByCT_dropped['Divorced'])

RA_marital_Status_ByCT_dropped

,Never Married,Now Married,Separated,Widowed,Divorced
Geographic Area Name,,,,,
"Census Tract 9501, Appling County, Georgia",199,410,0,148,80
"Census Tract 9502, Appling County, Georgia",205,251,0,83,137
"Census Tract 9503, Appling County, Georgia",329,278,21,304,266
"Census Tract 9504, Appling County, Georgia",105,70,16,83,59
"Census Tract 9505, Appling County, Georgia",226,392,53,117,169
...,...,...,...,...,...
"Census Tract 9501, Worth County, Georgia",195,287,8,73,129
"Census Tract 9502, Worth County, Georgia",319,377,198,342,345
"Census Tract 9504, Worth County, Georgia",250,598,15,127,119
"Census Tract 9505, Worth County, Georgia",143,297,0,85,86
"Census Tract 9506, Worth County, Georgia",44,361,0,45,87

<H1>Count of Women across different Marital Status for age 15 years and over on a BG LEVEL uisng Census Tract</H1>

In [234]:
# List of columns to calculate proportions
columns = ['Never Married', 'Now Married', 'Separated', 'Widowed', 'Divorced']

# Convert all relevant columns to numeric
RA_marital_Status_ByCT_dropped[columns] = RA_marital_Status_ByCT_dropped[columns].apply(pd.to_numeric, errors='coerce')

# Replace NaN with 0 (if that's appropriate for your data)
RA_marital_Status_ByCT_dropped[columns] = RA_marital_Status_ByCT_dropped[columns].fillna(0)

# Calculate the sum of all these columns for each row
total = RA_marital_Status_ByCT_dropped[columns].sum(axis=1)

# Calculate the proportion for each column
for column in columns:
    RA_marital_Status_ByCT_dropped[column] = RA_marital_Status_ByCT_dropped[column] / total

RA_marital_Status_ByCT_dropped

,Never Married,Now Married,Separated,Widowed,Divorced
Geographic Area Name,,,,,
"Census Tract 9501, Appling County, Georgia",0.237754,0.489845,0.000000,0.176822,0.095579
"Census Tract 9502, Appling County, Georgia",0.303254,0.371302,0.000000,0.122781,0.202663
"Census Tract 9503, Appling County, Georgia",0.274624,0.232053,0.017529,0.253756,0.222037
"Census Tract 9504, Appling County, Georgia",0.315315,0.210210,0.048048,0.249249,0.177177
"Census Tract 9505, Appling County, Georgia",0.236155,0.409613,0.055381,0.122257,0.176594
...,...,...,...,...,...
"Census Tract 9501, Worth County, Georgia",0.281792,0.414740,0.011561,0.105491,0.186416
"Census Tract 9502, Worth County, Georgia",0.201771,0.238457,0.125237,0.216319,0.218216
"Census Tract 9504, Worth County, Georgia",0.225428,0.539225,0.013526,0.114518,0.107304
"Census Tract 9505, Worth County, Georgia",0.234043,0.486088,0.000000,0.139116,0.140753
"Census Tract 9506, Worth County, Georgia",0.081937,0.672253,0.000000,0.083799,0.162011

In [235]:
proportion_df=RA_marital_Status_ByCT_dropped.reset_index()
proportion_df

,Geographic Area Name,Never Married,Now Married,Separated,Widowed,Divorced
0,"Census Tract 9501, Appling County, Georgia",0.237754,0.489845,0.000000,0.176822,0.095579
1,"Census Tract 9502, Appling County, Georgia",0.303254,0.371302,0.000000,0.122781,0.202663
2,"Census Tract 9503, Appling County, Georgia",0.274624,0.232053,0.017529,0.253756,0.222037
3,"Census Tract 9504, Appling County, Georgia",0.315315,0.210210,0.048048,0.249249,0.177177
4,"Census Tract 9505, Appling County, Georgia",0.236155,0.409613,0.055381,0.122257,0.176594
...,...,...,...,...,...,...
1964,"Census Tract 9501, Worth County, Georgia",0.281792,0.414740,0.011561,0.105491,0.186416
1965,"Census Tract 9502, Worth County, Georgia",0.201771,0.238457,0.125237,0.216319,0.218216
1966,"Census Tract 9504, Worth County, Georgia",0.225428,0.539225,0.013526,0.114518,0.107304
1967,"Census Tract 9505, Worth County, Georgia",0.234043,0.486088,0.000000,0.139116,0.140753
1968,"Census Tract 9506, Worth County, Georgia",0.081937,0.672253,0.000000,0.083799,0.162011

In [236]:
import pandas as pd
RA_Georgia_BG=pd.read_csv('../../Obstetric accessibility visualization/Georgia/RA_Count_BG_level.csv')
RA_Georgia_BG.head()
RA_Georgia_BG.rename(columns=RA_Georgia_BG.iloc[0], inplace=True)
RA_Georgia_BG.columns
RA_Georgia_BG_df = RA_Georgia_BG[[
    'Geographic Area Name',
    'Estimate!!Total!!Female!!18 and 19 years',
    'Estimate!!Total!!Female!!20 years',
    'Estimate!!Total!!Female!!22 to 24 years',
    'Estimate!!Total!!Female!!25 to 29 years',
    'Estimate!!Total!!Female!!30 to 34 years',
    'Estimate!!Total!!Female!!30 to 34 years',
    'Estimate!!Total!!Female!!35 to 39 years',
    'Estimate!!Total!!Female!!40 to 44 years'
]]

RA_Georgia_BG_df_copy = RA_Georgia_BG_df.copy()
RA_Georgia_BG_df_copy.drop(RA_Georgia_BG_df.index[0], inplace=True)
age_columns = [
    'Estimate!!Total!!Female!!18 and 19 years',
    'Estimate!!Total!!Female!!20 years',
    'Estimate!!Total!!Female!!22 to 24 years',
    'Estimate!!Total!!Female!!25 to 29 years',
    'Estimate!!Total!!Female!!30 to 34 years',
    'Estimate!!Total!!Female!!30 to 34 years',
    'Estimate!!Total!!Female!!35 to 39 years',
    'Estimate!!Total!!Female!!40 to 44 years'
]

for col in age_columns:
    if col in RA_Georgia_BG_df_copy.columns:
        RA_Georgia_BG_df_copy[col] = RA_Georgia_BG_df_copy[col].astype(str)  # Ensure it's a string
        RA_Georgia_BG_df_copy[col] = RA_Georgia_BG_df_copy[col].apply(lambda x: pd.to_numeric(x, errors='coerce'))

# Create the new column by summing the specified columns
RA_Georgia_BG_df_copy['Total Female Age 18-44 years'] = RA_Georgia_BG_df_copy[age_columns].sum(axis=1)

# Drop all other columns except 'Geographic Area Name' and the new column
RA_Georgia_BG_df_copy = RA_Georgia_BG_df_copy[['Geographic Area Name', 'Total Female Age 18-44 years']]
RA_Georgia_BG_df_copy.rename(columns={'Geographic Area Name': 'Geographic Area Names'}, inplace=True)
# Display the resulting DataFrame
RA_Georgia_BG_df_copy

RA_Georgia_BG_df_copy['Geographic Area Name'] = RA_Georgia_BG_df_copy['Geographic Area Names'].str.extract(r'Block Group \d+, (.*)')

RA_Georgia_BG_df_copy.head()

,Geographic Area Names,Total Female Age 18-44 years,Geographic Area Name
1,"Block Group 1, Census Tract 9501, Appling Coun...",128,"Census Tract 9501, Appling County, Georgia"
2,"Block Group 2, Census Tract 9501, Appling Coun...",411,"Census Tract 9501, Appling County, Georgia"
3,"Block Group 1, Census Tract 9502, Appling Coun...",468,"Census Tract 9502, Appling County, Georgia"
4,"Block Group 2, Census Tract 9502, Appling Coun...",234,"Census Tract 9502, Appling County, Georgia"
5,"Block Group 3, Census Tract 9502, Appling Coun...",195,"Census Tract 9502, Appling County, Georgia"

In [238]:

merged_df = pd.merge(RA_Georgia_BG_df_copy, proportion_df, on='Geographic Area Name')
columns_to_multiply = [
    'Never Married',	
    'Now Married',
    'Separated',	'Widowed',
    'Divorced'
]

# Performing the multiplication
for column in columns_to_multiply:
    merged_df[column] = (merged_df[column] * merged_df['Total Female Age 18-44 years'])

# Display the modified DataFrame
merged_df

,Geographic Area Names,Total Female Age 18-44 years,Geographic Area Name,Never Married,Now Married,Separated,Widowed,Divorced
0,"Block Group 1, Census Tract 9501, Appling Coun...",128,"Census Tract 9501, Appling County, Georgia",30.432497,62.700119,0.0,22.633214,12.234170
1,"Block Group 2, Census Tract 9501, Appling Coun...",411,"Census Tract 9501, Appling County, Georgia",97.716846,201.326165,0.0,72.673835,39.283154
2,"Block Group 1, Census Tract 9502, Appling Coun...",468,"Census Tract 9502, Appling County, Georgia",141.923077,173.769231,0.0,57.461538,94.846154
3,"Block Group 2, Census Tract 9502, Appling Coun...",234,"Census Tract 9502, Appling County, Georgia",70.961538,86.884615,0.0,28.730769,47.423077
4,"Block Group 3, Census Tract 9502, Appling Coun...",195,"Census Tract 9502, Appling County, Georgia",59.134615,72.403846,0.0,23.942308,39.519231
...,...,...,...,...,...,...,...,...
5528,"Block Group 1, Census Tract 9505, Worth County...",376,"Census Tract 9505, Worth County, Georgia",88.000000,182.769231,0.0,52.307692,52.923077
5529,"Block Group 2, Census Tract 9505, Worth County...",504,"Census Tract 9505, Worth County, Georgia",117.957447,244.988543,0.0,70.114566,70.939444
5530,"Block Group 3, Census Tract 9505, Worth County...",206,"Census Tract 9505, Worth County, Georgia",48.212766,100.134206,0.0,28.657938,28.995090
5531,"Block Group 1, Census Tract 9506, Worth County...",321,"Census Tract 9506, Worth County, Georgia",26.301676,215.793296,0.0,26.899441,52.005587
5532,"Block Group 2, Census Tract 9506, Worth County...",79,"Census Tract 9506, Worth County, Georgia",6.472998,53.108007,0.0,6.620112,12.798883

In [243]:
import math

columns_to_round = ['Never Married', 'Now Married', 'Separated', 'Widowed', 'Divorced']

for index, row in merged_df.iterrows():
    total_rounded_sum = 0

    # Round all but the last value
    for column in columns_to_round[:-1]:
        value = row[column]
        if math.isfinite(value):  # Check if the value is neither NaN nor infinite
            rounded_value = round(value)
            merged_df.at[index, column] = rounded_value
            total_rounded_sum += rounded_value
        else:
            # Keep the NaN or infinite value, or handle it differently if needed
            merged_df.at[index, column] = value

    # Calculate the last value to ensure the sum matches the Population
    last_column = columns_to_round[-1]
    last_value = row[last_column]
    if math.isfinite(last_value):
        merged_df.at[index, last_column] = round(row['Total Female Age 18-44 years'] - total_rounded_sum)
    else:
        # Keep the NaN or infinite value, or handle it differently if needed
        merged_df.at[index, last_column] = last_value
merged_df.drop('Geographic Area Name', axis=1, inplace=True)
merged_df.drop('Total Female Age 18-44 years', axis=1, inplace=True)
merged_df

,Geographic Area Names,Never Married,Now Married,Separated,Widowed,Divorced
0,"Block Group 1, Census Tract 9501, Appling Coun...",30.0,63.0,0.0,23.0,12.0
1,"Block Group 2, Census Tract 9501, Appling Coun...",98.0,201.0,0.0,73.0,39.0
2,"Block Group 1, Census Tract 9502, Appling Coun...",142.0,174.0,0.0,57.0,95.0
3,"Block Group 2, Census Tract 9502, Appling Coun...",71.0,87.0,0.0,29.0,47.0
4,"Block Group 3, Census Tract 9502, Appling Coun...",59.0,72.0,0.0,24.0,40.0
...,...,...,...,...,...,...
5528,"Block Group 1, Census Tract 9505, Worth County...",88.0,183.0,0.0,52.0,53.0
5529,"Block Group 2, Census Tract 9505, Worth County...",118.0,245.0,0.0,70.0,71.0
5530,"Block Group 3, Census Tract 9505, Worth County...",48.0,100.0,0.0,29.0,29.0
5531,"Block Group 1, Census Tract 9506, Worth County...",26.0,216.0,0.0,27.0,52.0
5532,"Block Group 2, Census Tract 9506, Worth County...",6.0,53.0,0.0,7.0,13.0

In [23]:
merged_df.to_csv('Distribution_across_Marital_Status.csv', index=False)

<h1>Count of Women across different Marital Status for age 15 years and over on a County level</h1>

In [131]:

RA_marital_Status_ByCT=pd.read_csv('../../Obstetric accessibility visualization/Georgia/MaritalStatus_County.csv')
RA_marital_Status_ByCT.rename(columns=RA_marital_Status_ByCT.iloc[0], inplace=True)
# Filtering columns that contain both 'Estimate' and 'Female'
filtered_columns = [col for col in RA_marital_Status_ByCT.columns if 'Estimate' in str(col) and 'Female' in str(col) and 'Annotation' not in str(col) and 'Margin of Error!' not in str(col) ]

# Creating a new DataFrame with the filtered columns
#filtered_df = RA_EducationByCT[filtered_columns]

# Displaying the new DataFrame
print(filtered_columns)

['Estimate!!Total!!Female', 'Estimate!!Total!!Female!!Never married', 'Estimate!!Total!!Female!!Now married', 'Estimate!!Total!!Female!!Now married!!Married, spouse present', 'Estimate!!Total!!Female!!Now married!!Married, spouse absent', 'Estimate!!Total!!Female!!Now married!!Married, spouse absent!!Separated', 'Estimate!!Total!!Female!!Now married!!Married, spouse absent!!Other', 'Estimate!!Total!!Female!!Widowed', 'Estimate!!Total!!Female!!Divorced']

In [140]:
RA_marital_Status_ByCT = RA_marital_Status_ByCT[[
    'Geographic Area Name',
    'Estimate!!Total!!Female!!Never married', 
    'Estimate!!Total!!Female!!Now married', 
    'Estimate!!Total!!Female!!Now married!!Married, spouse present',
    'Estimate!!Total!!Female!!Now married!!Married, spouse absent', 
    'Estimate!!Total!!Female!!Now married!!Married, spouse absent!!Separated', 
    'Estimate!!Total!!Female!!Now married!!Married, spouse absent!!Other', 
    'Estimate!!Total!!Female!!Widowed',
    'Estimate!!Total!!Female!!Divorced'
]]
# Convert relevant columns to numeric
RA_marital_Status_ByCT['Estimate!!Total!!Female!!Now married'] = pd.to_numeric(RA_marital_Status_ByCT['Estimate!!Total!!Female!!Now married'], errors='coerce')
RA_marital_Status_ByCT['Estimate!!Total!!Female!!Now married!!Married, spouse absent!!Separated'] = pd.to_numeric(RA_marital_Status_ByCT['Estimate!!Total!!Female!!Now married!!Married, spouse absent!!Separated'], errors='coerce')

# Create the new column 'Estimate!!Total!!Female!!Now married (except separated)'
RA_marital_Status_ByCT['Estimate!!Total!!Female!!Now married (except separated)'] = RA_marital_Status_ByCT['Estimate!!Total!!Female!!Now married'] - RA_marital_Status_ByCT['Estimate!!Total!!Female!!Now married!!Married, spouse absent!!Separated']

# Keep only the specified columns in the final DataFrame
final_df = RA_marital_Status_ByCT[[
    'Geographic Area Name',
    'Estimate!!Total!!Female!!Never married', 
    'Estimate!!Total!!Female!!Now married (except separated)',
    'Estimate!!Total!!Female!!Widowed',
    'Estimate!!Total!!Female!!Divorced'
]]


final_df_dropped = final_df.drop(final_df.index[0])
final_df_dropped

,Geographic Area Name,Estimate!!Total!!Female!!Never married,Estimate!!Total!!Female!!Now married (except separated),Estimate!!Total!!Female!!Widowed,Estimate!!Total!!Female!!Divorced
1,"Appling County, Georgia",1807,3477.0,959,901
2,"Atkinson County, Georgia",753,1560.0,417,298
3,"Bacon County, Georgia",962,2400.0,392,532
4,"Baker County, Georgia",393,648.0,240,156
5,"Baldwin County, Georgia",7779,6751.0,1821,1992
...,...,...,...,...,...
155,"Whitfield County, Georgia",9715,21117.0,4317,4645
156,"Wilcox County, Georgia",706,1342.0,462,330
157,"Wilkes County, Georgia",1347,1753.0,578,475
158,"Wilkinson County, Georgia",1191,1705.0,494,348
159,"Worth County, Georgia",2022,4148.0,904,1198

<h1>Count of Women across different Marital Status for age 15 years and over on a Block Group level</h1>

In [142]:
def calculate_proportions(row):
    row_sum = row[1:].sum()  # Exclude the first column which is 'Geographic Area Name'
    if row_sum != 0:
        # Calculate proportions for the numeric parts of the row
        proportioned_values = row[1:] / row_sum
        # Combine the first column (unchanged) with the calculated proportions
        new_row = pd.Series([row[0]] + proportioned_values.tolist(), index=row.index)
        return new_row
    else:
        return row

# Apply the function to each row and create a new DataFrame
new_df = final_df_dropped.apply(calculate_proportions, axis=1)

# Display the resulting DataFrame
new_df

,Geographic Area Name,Estimate!!Total!!Female!!Never married,Estimate!!Total!!Female!!Now married (except separated),Estimate!!Total!!Female!!Widowed,Estimate!!Total!!Female!!Divorced
1,"Appling County, Georgia",0.252940,0.486702,0.134239,0.126120
2,"Atkinson County, Georgia",0.248679,0.515192,0.137715,0.098415
3,"Bacon County, Georgia",0.224452,0.559963,0.091461,0.124125
4,"Baker County, Georgia",0.273486,0.450939,0.167015,0.108559
5,"Baldwin County, Georgia",0.424085,0.368042,0.099275,0.108597
...,...,...,...,...,...
155,"Whitfield County, Georgia",0.244132,0.530658,0.108484,0.116726
156,"Wilcox County, Georgia",0.248592,0.472535,0.162676,0.116197
157,"Wilkes County, Georgia",0.324344,0.422105,0.139176,0.114375
158,"Wilkinson County, Georgia",0.318620,0.456126,0.132156,0.093098
159,"Worth County, Georgia",0.244439,0.501451,0.109284,0.144826

In [146]:
new_df['County'] = new_df['Geographic Area Name'].str.split(',').str[0]
new_df['County'] = new_df['County'].str.replace(' County', '')
print(new_df.columns)

Index(['Geography', 'County', 'Population', 'Geographic Area Name',
       'Estimate!!Total!!Female!!18 to 44 years!!Less than 9th grade',
       'Estimate!!Total!!Female!!18 to 44 years!!9th to 12th grade, no diploma',
       'Estimate!!Total!!Female!!18 to 44 years!!High school graduate (includes equivalency)',
       'Estimate!!Total!!Female!!18 to 44 years!!Some college, no degree',
       'Estimate!!Total!!Female!!18 to 44 years!!Associate's degree',
       'Estimate!!Total!!Female!!18 to 44 years!!Bachelor's degree',
       'Estimate!!Total!!Female!!18 to 44 years!!Graduate or professional degree'],
      dtype='object')

In [147]:
RA_Georgia=pd.read_csv('../../Obstetric accessibility visualization/Georgia/BG_County_numbers.csv')
new_df = pd.merge(RA_Georgia, proportion_df, on='County')
columns_to_multiply = [
'Estimate!!Total!!Female!!18 to 44 years!!Less than 9th grade',
       'Estimate!!Total!!Female!!18 to 44 years!!9th to 12th grade, no diploma',
       'Estimate!!Total!!Female!!18 to 44 years!!High school graduate (includes equivalency)',
       'Estimate!!Total!!Female!!18 to 44 years!!Some college, no degree',
       'Estimate!!Total!!Female!!18 to 44 years!!Associate\'s degree',
       'Estimate!!Total!!Female!!18 to 44 years!!Bachelor\'s degree',
       'Estimate!!Total!!Female!!18 to 44 years!!Graduate or professional degree'	
]

# Performing the multiplication
for column in columns_to_multiply:
    new_df[column] = (new_df[column] * new_df['Population'])

# Display the modified DataFrame
new_df

,Geography,County,Population,Geographic Area Name,Estimate!!Total!!Female!!18 to 44 years!!Less than 9th grade,"Estimate!!Total!!Female!!18 to 44 years!!9th to 12th grade, no diploma",Estimate!!Total!!Female!!18 to 44 years!!High school graduate (includes equivalency),"Estimate!!Total!!Female!!18 to 44 years!!Some college, no degree",Estimate!!Total!!Female!!18 to 44 years!!Associate's degree,Estimate!!Total!!Female!!18 to 44 years!!Bachelor's degree,Estimate!!Total!!Female!!18 to 44 years!!Graduate or professional degree
0,1500000US130210131023,Bibb,103,"Bibb County, Georgia",2.139519,9.314038,27.578397,32.420841,7.748624,15.796780,8.001800
1,1500000US130210131024,Bibb,184,"Bibb County, Georgia",3.822053,16.638671,49.266263,57.916843,13.842202,28.219491,14.294478
2,1500000US130210132014,Bibb,122,"Bibb County, Georgia",2.534187,11.032162,32.665674,38.401385,9.177982,18.710750,9.477860
3,1500000US130210131022,Bibb,365,"Bibb County, Georgia",7.581790,33.006059,97.729271,114.889389,27.458716,55.978882,28.355894
4,1500000US130210131011,Bibb,441,"Bibb County, Georgia",9.160464,39.878553,118.078380,138.811563,33.176147,67.634759,34.260135
...,...,...,...,...,...,...,...,...,...,...,...
5083,1500000US130939701003,Dooly,112,"Dooly County, Georgia",4.401487,10.587361,47.881041,37.472119,3.152416,6.304833,2.200743
5084,1500000US130939701002,Dooly,269,"Dooly County, Georgia",10.571429,25.428571,115.000000,90.000000,7.571429,15.142857,5.285714
5085,1500000US130939701001,Dooly,183,"Dooly County, Georgia",7.191715,17.298991,78.234201,61.226766,5.150823,10.301646,3.595858
5086,1500000US130939703002,Dooly,205,"Dooly County, Georgia",8.056293,19.378651,87.639405,68.587361,5.770048,11.540096,4.028147
5087,1500000US130939703004,Dooly,150,"Dooly County, Georgia",5.894849,14.179501,64.126394,50.185874,4.221986,8.443972,2.947424

In [148]:
columns_to_round = [
 'Estimate!!Total!!Female!!18 to 44 years!!Less than 9th grade',
       'Estimate!!Total!!Female!!18 to 44 years!!9th to 12th grade, no diploma',
       'Estimate!!Total!!Female!!18 to 44 years!!High school graduate (includes equivalency)',
       'Estimate!!Total!!Female!!18 to 44 years!!Some college, no degree',
       'Estimate!!Total!!Female!!18 to 44 years!!Associate\'s degree',
       'Estimate!!Total!!Female!!18 to 44 years!!Bachelor\'s degree',
       'Estimate!!Total!!Female!!18 to 44 years!!Graduate or professional degree'	
]

for index, row in new_df.iterrows():
    # Round all but the last value
    for column in columns_to_round[:-1]:
        new_df.at[index, column] = round(row[column])
    
    # Calculate the last value to ensure the sum matches the Population
    last_column = columns_to_round[-1]
    new_df.at[index, last_column] = row['Population'] - sum([round(row[col]) for col in columns_to_round[:-1]])

new_df

,Geography,County,Population,Geographic Area Name,Estimate!!Total!!Female!!18 to 44 years!!Less than 9th grade,"Estimate!!Total!!Female!!18 to 44 years!!9th to 12th grade, no diploma",Estimate!!Total!!Female!!18 to 44 years!!High school graduate (includes equivalency),"Estimate!!Total!!Female!!18 to 44 years!!Some college, no degree",Estimate!!Total!!Female!!18 to 44 years!!Associate's degree,Estimate!!Total!!Female!!18 to 44 years!!Bachelor's degree,Estimate!!Total!!Female!!18 to 44 years!!Graduate or professional degree
0,1500000US130210131023,Bibb,103,"Bibb County, Georgia",2.0,9.0,28.0,32.0,8.0,16.0,8.0
1,1500000US130210131024,Bibb,184,"Bibb County, Georgia",4.0,17.0,49.0,58.0,14.0,28.0,14.0
2,1500000US130210132014,Bibb,122,"Bibb County, Georgia",3.0,11.0,33.0,38.0,9.0,19.0,9.0
3,1500000US130210131022,Bibb,365,"Bibb County, Georgia",8.0,33.0,98.0,115.0,27.0,56.0,28.0
4,1500000US130210131011,Bibb,441,"Bibb County, Georgia",9.0,40.0,118.0,139.0,33.0,68.0,34.0
...,...,...,...,...,...,...,...,...,...,...,...
5083,1500000US130939701003,Dooly,112,"Dooly County, Georgia",4.0,11.0,48.0,37.0,3.0,6.0,3.0
5084,1500000US130939701002,Dooly,269,"Dooly County, Georgia",11.0,25.0,115.0,90.0,8.0,15.0,5.0
5085,1500000US130939701001,Dooly,183,"Dooly County, Georgia",7.0,17.0,78.0,61.0,5.0,10.0,5.0
5086,1500000US130939703002,Dooly,205,"Dooly County, Georgia",8.0,19.0,88.0,69.0,6.0,12.0,3.0
5087,1500000US130939703004,Dooly,150,"Dooly County, Georgia",6.0,14.0,64.0,50.0,4.0,8.0,4.0

<h1>Class of Female Workers By County</h1>

In [79]:


ClassofWorkerByCounty=pd.read_csv('../../Obstetric accessibility visualization/Georgia/Class of Worker by Sex by County.csv')
ClassofWorkerByCounty.head()

,GEO_ID,NAME,S2408_C01_001E,S2408_C01_001M,S2408_C01_002E,S2408_C01_002M,S2408_C01_003E,S2408_C01_003M,S2408_C01_004E,S2408_C01_004M,...,S2408_C05_005M,S2408_C05_006E,S2408_C05_006M,S2408_C05_007E,S2408_C05_007M,S2408_C05_008E,S2408_C05_008M,S2408_C05_009E,S2408_C05_009M,Unnamed: 92
0,Geography,Geographic Area Name,Estimate!!Total!!Civilian employed population ...,Margin of Error!!Total MOE!!Civilian employed ...,Estimate!!Total!!Civilian employed population ...,Margin of Error!!Total MOE!!Civilian employed ...,Estimate!!Total!!Civilian employed population ...,Margin of Error!!Total MOE!!Civilian employed ...,Estimate!!Total!!Civilian employed population ...,Margin of Error!!Total MOE!!Civilian employed ...,...,Margin of Error!!Percent Female MOE!!Civilian ...,Estimate!!Percent Female!!Civilian employed po...,Margin of Error!!Percent Female MOE!!Civilian ...,Estimate!!Percent Female!!Civilian employed po...,Margin of Error!!Percent Female MOE!!Civilian ...,Estimate!!Percent Female!!Civilian employed po...,Margin of Error!!Percent Female MOE!!Civilian ...,Estimate!!Percent Female!!Civilian employed po...,Margin of Error!!Percent Female MOE!!Civilian ...,NaN
1,0500000US13001,"Appling County, Georgia",6951,390,5213,347,4926,353,287,128,...,18.6,54.8,13.6,77.3,11.0,44.0,29.0,23.9,14.4,NaN
2,0500000US13003,"Atkinson County, Georgia",3289,194,2640,151,2540,161,100,75,...,22.3,80.4,14.5,52.2,24.4,81.5,33.6,20.5,15.4,NaN
3,0500000US13005,"Bacon County, Georgia",4345,256,3076,245,2865,266,211,91,...,15.0,63.7,16.7,89.7,10.6,55.0,51.0,29.9,14.1,NaN
4,0500000US13007,"Baker County, Georgia",1286,156,827,125,815,126,12,17,...,23.0,70.6,18.0,85.0,14.4,0.0,77.3,17.2,17.9,NaN

In [80]:
ClassofWorkerByCounty.head()
ClassofWorkerByCounty.rename(columns=ClassofWorkerByCounty.iloc[0], inplace=True)
# Assume ClassofWorkerByCounty.columns is your list of column names
columns_list = list(ClassofWorkerByCounty.columns)

# Filter out columns containing the word "female", making sure to handle non-string types
female_columns = [col for col in columns_list if isinstance(col, str) and 'female' in col.lower() and 'estimate' in col.lower() ]

In [81]:
ClassofWorkerByCounty_df=ClassofWorkerByCounty[['Geography',
 'Geographic Area Name',
    'Estimate!!Female!!Civilian employed population 16 years and over',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Private for-profit wage and salary workers',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Private for-profit wage and salary workers!!Employee of private company workers',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Private for-profit wage and salary workers!!Self-employed in own incorporated business workers',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Private not-for-profit wage and salary workers',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Local government workers',
 'Estimate!!Female!!Civilian employed population 16 years and over!!State government workers',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Federal government workers',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Self-employed in own not incorporated business workers and unpaid family workers'
]]
ClassofWorkerByCounty_df = ClassofWorkerByCounty_df.drop(ClassofWorkerByCounty_df.index[0])
ClassofWorkerByCounty_df.rename(columns=lambda x: x.replace('Estimate!!Female!!Civilian employed population 16 years and over!!', ''), inplace=True)

ClassofWorkerByCounty_df.head()

,Geography,Geographic Area Name,Estimate!!Female!!Civilian employed population 16 years and over,Private for-profit wage and salary workers,Private for-profit wage and salary workers!!Employee of private company workers,Private for-profit wage and salary workers!!Self-employed in own incorporated business workers,Private not-for-profit wage and salary workers,Local government workers,State government workers,Federal government workers,Self-employed in own not incorporated business workers and unpaid family workers
1,0500000US13001,"Appling County, Georgia",3102,2111,2038,73,185,268,406,48,84
2,0500000US13003,"Atkinson County, Georgia",1359,1020,1000,20,27,193,59,22,38
3,0500000US13005,"Bacon County, Georgia",2079,1373,1327,46,114,247,243,22,80
4,0500000US13007,"Baker County, Georgia",684,398,386,12,55,108,108,0,15
5,0500000US13009,"Baldwin County, Georgia",8677,4826,4725,101,573,1061,1845,92,280

In [152]:
columns_to_drop = [
    'Estimate!!Female!!Civilian employed population 16 years and over', 
    'Private for-profit wage and salary workers!!Employee of private company workers',
    'Private for-profit wage and salary workers!!Self-employed in own incorporated business workers'
]

# Dropping the specified columns
ClassofWorkerByCounty_df = ClassofWorkerByCounty_df.drop(columns=columns_to_drop)
ClassofWorkerByCounty_df

,Geography,Geographic Area Name,Private for-profit wage and salary workers,Private not-for-profit wage and salary workers,Local government workers,State government workers,Federal government workers,Self-employed in own not incorporated business workers and unpaid family workers
1,0500000US13001,"Appling County, Georgia",2111,185,268,406,48,84
2,0500000US13003,"Atkinson County, Georgia",1020,27,193,59,22,38
3,0500000US13005,"Bacon County, Georgia",1373,114,247,243,22,80
4,0500000US13007,"Baker County, Georgia",398,55,108,108,0,15
5,0500000US13009,"Baldwin County, Georgia",4826,573,1061,1845,92,280
...,...,...,...,...,...,...,...,...
155,0500000US13313,"Whitfield County, Georgia",15730,1082,2098,655,165,645
156,0500000US13315,"Wilcox County, Georgia",633,50,115,254,4,63
157,0500000US13317,"Wilkes County, Georgia",1341,108,157,200,40,71
158,0500000US13319,"Wilkinson County, Georgia",1008,128,180,179,33,74
159,0500000US13321,"Worth County, Georgia",2528,292,219,477,131,210

<h1>Class of Female Workers By Block Groups</h1>

In [155]:
numeric_cols = ClassofWorkerByCounty_df.columns.drop(['Geographic Area Name', 'Geography']) # Adjust as needed
ClassofWorkerByCounty_df[numeric_cols] = ClassofWorkerByCounty_df[numeric_cols].apply(pd.to_numeric, errors='coerce')

# Function to calculate proportions
def calculate_proportions(row):
    # Select only numeric columns for the sum
    row_sum = row[numeric_cols].sum()
    if row_sum != 0:
        row[numeric_cols] = row[numeric_cols] / row_sum
    return row

# Apply the function to each row
proportion_df = ClassofWorkerByCounty_df.apply(calculate_proportions, axis=1)

# Display the resulting DataFrame
proportion_df

,Geography,Geographic Area Name,Private for-profit wage and salary workers,Private not-for-profit wage and salary workers,Local government workers,State government workers,Federal government workers,Self-employed in own not incorporated business workers and unpaid family workers
1,0500000US13001,"Appling County, Georgia",0.680529,0.059639,0.086396,0.130883,0.015474,0.027079
2,0500000US13003,"Atkinson County, Georgia",0.750552,0.019868,0.142016,0.043414,0.016188,0.027962
3,0500000US13005,"Bacon County, Georgia",0.660414,0.054834,0.118807,0.116883,0.010582,0.038480
4,0500000US13007,"Baker County, Georgia",0.581871,0.080409,0.157895,0.157895,0.000000,0.021930
5,0500000US13009,"Baldwin County, Georgia",0.556183,0.066037,0.122277,0.212631,0.010603,0.032269
...,...,...,...,...,...,...,...,...
155,0500000US13313,"Whitfield County, Georgia",0.772025,0.053104,0.102969,0.032147,0.008098,0.031656
156,0500000US13315,"Wilcox County, Georgia",0.565684,0.044683,0.102770,0.226988,0.003575,0.056300
157,0500000US13317,"Wilkes County, Georgia",0.699531,0.056338,0.081899,0.104330,0.020866,0.037037
158,0500000US13319,"Wilkinson County, Georgia",0.629213,0.079900,0.112360,0.111735,0.020599,0.046192
159,0500000US13321,"Worth County, Georgia",0.655432,0.075707,0.056780,0.123671,0.033964,0.054446

In [158]:
proportion_df['County'] = proportion_df['Geographic Area Name'].str.split(',').str[0]
proportion_df['County'] = proportion_df['County'].str.replace(' County', '')
print(proportion_df.columns)

Index(['Geography', 'Geographic Area Name',
       'Private for-profit wage and salary workers',
       'Private not-for-profit wage and salary workers',
       'Local government workers', 'State government workers',
       'Federal government workers',
       'Self-employed in own not incorporated business workers and unpaid family workers',
       'County'],
      dtype='object')

In [160]:
RA_Georgia=pd.read_csv('../../Obstetric accessibility visualization/Georgia/BG_County_numbers.csv')
merged_df = pd.merge(RA_Georgia, proportion_df, on='County')
columns_to_multiply = [
'Private for-profit wage and salary workers',
       'Private not-for-profit wage and salary workers',
       'Local government workers', 'State government workers',
       'Federal government workers',
       'Self-employed in own not incorporated business workers and unpaid family workers'
]

# Performing the multiplication
for column in columns_to_multiply:
    merged_df[column] = (merged_df[column] * merged_df['Population'])

# Display the modified DataFrame

merged_df = merged_df.drop(columns=['Geography_y'])

In [162]:
columns_to_round = [
 'Private for-profit wage and salary workers',
       'Private not-for-profit wage and salary workers',
       'Local government workers', 'State government workers',
       'Federal government workers',
       'Self-employed in own not incorporated business workers and unpaid family workers'
]

for index, row in merged_df.iterrows():
    # Round all but the last value
    for column in columns_to_round[:-1]:
        merged_df.at[index, column] = round(row[column])
    
    # Calculate the last value to ensure the sum matches the Population
    last_column = columns_to_round[-1]
    merged_df.at[index, last_column] = row['Population'] - sum([round(row[col]) for col in columns_to_round[:-1]])

merged_df

,Geography_x,County,Population,Geographic Area Name,Private for-profit wage and salary workers,Private not-for-profit wage and salary workers,Local government workers,State government workers,Federal government workers,Self-employed in own not incorporated business workers and unpaid family workers
0,1500000US130210131023,Bibb,103,"Bibb County, Georgia",73.0,9.0,9.0,6.0,3.0,3.0
1,1500000US130210131024,Bibb,184,"Bibb County, Georgia",131.0,16.0,16.0,10.0,5.0,6.0
2,1500000US130210132014,Bibb,122,"Bibb County, Georgia",87.0,11.0,11.0,7.0,3.0,3.0
3,1500000US130210131022,Bibb,365,"Bibb County, Georgia",259.0,32.0,32.0,20.0,10.0,12.0
4,1500000US130210131011,Bibb,441,"Bibb County, Georgia",313.0,38.0,38.0,24.0,12.0,16.0
...,...,...,...,...,...,...,...,...,...,...
5083,1500000US130939701003,Dooly,112,"Dooly County, Georgia",68.0,5.0,14.0,13.0,5.0,7.0
5084,1500000US130939701002,Dooly,269,"Dooly County, Georgia",163.0,12.0,34.0,31.0,11.0,18.0
5085,1500000US130939701001,Dooly,183,"Dooly County, Georgia",111.0,8.0,23.0,21.0,8.0,12.0
5086,1500000US130939703002,Dooly,205,"Dooly County, Georgia",124.0,9.0,26.0,23.0,8.0,15.0
5087,1500000US130939703004,Dooly,150,"Dooly County, Georgia",91.0,7.0,19.0,17.0,6.0,10.0

<h1>Class of Female Workers By Census Tract</h1>

In [82]:

ClassofWorkerByCT=pd.read_csv('../../Obstetric accessibility visualization/Georgia/Class of Worker by Sex by CT.csv')

In [83]:
ClassofWorkerByCounty.head()
ClassofWorkerByCT.rename(columns=ClassofWorkerByCT.iloc[0], inplace=True)
# Assume ClassofWorkerByCounty.columns is your list of column names
columns_list = list(ClassofWorkerByCT.columns)

# Filter out columns containing the word "female", making sure to handle non-string types
female_columns = [col for col in columns_list if isinstance(col, str) and 'female' in col.lower() and 'estimate' in col.lower() ]

In [84]:
ClassofWorkerByCT_df=ClassofWorkerByCT[['Geography',
 'Geographic Area Name',
    'Estimate!!Female!!Civilian employed population 16 years and over',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Private for-profit wage and salary workers',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Private for-profit wage and salary workers!!Employee of private company workers',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Private for-profit wage and salary workers!!Self-employed in own incorporated business workers',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Private not-for-profit wage and salary workers',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Local government workers',
 'Estimate!!Female!!Civilian employed population 16 years and over!!State government workers',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Federal government workers',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Self-employed in own not incorporated business workers and unpaid family workers'
]]
ClassofWorkerByCT_df = ClassofWorkerByCT_df.drop(ClassofWorkerByCT_df.index[0])
ClassofWorkerByCT_df.rename(columns=lambda x: x.replace('Estimate!!Female!!Civilian employed population 16 years and over!!', ''), inplace=True)

ClassofWorkerByCT_df.head()

,Geography,Geographic Area Name,Estimate!!Female!!Civilian employed population 16 years and over,Private for-profit wage and salary workers,Private for-profit wage and salary workers!!Employee of private company workers,Private for-profit wage and salary workers!!Self-employed in own incorporated business workers,Private not-for-profit wage and salary workers,Local government workers,State government workers,Federal government workers,Self-employed in own not incorporated business workers and unpaid family workers
1,1400000US13001950100,"Census Tract 9501, Appling County, Georgia",506,320,320,0,72,38,76,0,0
2,1400000US13001950200,"Census Tract 9502, Appling County, Georgia",742,506,476,30,39,10,126,31,30
3,1400000US13001950300,"Census Tract 9503, Appling County, Georgia",902,669,635,34,0,103,130,0,0
4,1400000US13001950400,"Census Tract 9504, Appling County, Georgia",257,173,173,0,7,51,9,0,17
5,1400000US13001950500,"Census Tract 9505, Appling County, Georgia",695,443,434,9,67,66,65,17,37

In [244]:
ClassofWorkerByCT_df.drop('Estimate!!Female!!Civilian employed population 16 years and over', axis=1, inplace=True)
ClassofWorkerByCT_df.drop('Private for-profit wage and salary workers', axis=1, inplace=True)
ClassofWorkerByCT_df

,Geography,Geographic Area Name,Private for-profit wage and salary workers!!Employee of private company workers,Private for-profit wage and salary workers!!Self-employed in own incorporated business workers,Private not-for-profit wage and salary workers,Local government workers,State government workers,Federal government workers,Self-employed in own not incorporated business workers and unpaid family workers
1,1400000US13001950100,"Census Tract 9501, Appling County, Georgia",320,0,72,38,76,0,0
2,1400000US13001950200,"Census Tract 9502, Appling County, Georgia",476,30,39,10,126,31,30
3,1400000US13001950300,"Census Tract 9503, Appling County, Georgia",635,34,0,103,130,0,0
4,1400000US13001950400,"Census Tract 9504, Appling County, Georgia",173,0,7,51,9,0,17
5,1400000US13001950500,"Census Tract 9505, Appling County, Georgia",434,9,67,66,65,17,37
...,...,...,...,...,...,...,...,...,...
1965,1400000US13321950100,"Census Tract 9501, Worth County, Georgia",357,0,21,44,46,34,23
1966,1400000US13321950200,"Census Tract 9502, Worth County, Georgia",919,0,154,82,186,30,96
1967,1400000US13321950400,"Census Tract 9504, Worth County, Georgia",442,33,57,3,64,13,49
1968,1400000US13321950500,"Census Tract 9505, Worth County, Georgia",558,25,0,90,120,43,32
1969,1400000US13321950600,"Census Tract 9506, Worth County, Georgia",185,9,60,0,61,11,10

<h1>Class of Female Workers By Block Group using Census Tract</h1>

In [248]:
categories = [
    'Private for-profit wage and salary workers!!Employee of private company workers',
    'Private for-profit wage and salary workers!!Self-employed in own incorporated business workers',
    'Private not-for-profit wage and salary workers',
    'Local government workers',
    'State government workers',
    'Federal government workers',
    'Self-employed in own not incorporated business workers and unpaid family workers'
]

# Convert all relevant columns to numeric
ClassofWorkerByCT_df[categories] = ClassofWorkerByCT_df[categories].apply(pd.to_numeric, errors='coerce')

# Replace NaN with 0 (if appropriate for your data)
ClassofWorkerByCT_df[categories] = ClassofWorkerByCT_df[categories].fillna(0)

# Calculate the sum of all these categories for each row
total = ClassofWorkerByCT_df[categories].sum(axis=1)

# Calculate the proportion for each column
for category in categories:
    ClassofWorkerByCT_df[category] = ClassofWorkerByCT_df[category] / total

ClassofWorkerByCT_df

,Geography,Geographic Area Name,Private for-profit wage and salary workers!!Employee of private company workers,Private for-profit wage and salary workers!!Self-employed in own incorporated business workers,Private not-for-profit wage and salary workers,Local government workers,State government workers,Federal government workers,Self-employed in own not incorporated business workers and unpaid family workers
1,1400000US13001950100,"Census Tract 9501, Appling County, Georgia",0.632411,0.000000,0.142292,0.075099,0.150198,0.000000,0.000000
2,1400000US13001950200,"Census Tract 9502, Appling County, Georgia",0.641509,0.040431,0.052561,0.013477,0.169811,0.041779,0.040431
3,1400000US13001950300,"Census Tract 9503, Appling County, Georgia",0.703991,0.037694,0.000000,0.114191,0.144124,0.000000,0.000000
4,1400000US13001950400,"Census Tract 9504, Appling County, Georgia",0.673152,0.000000,0.027237,0.198444,0.035019,0.000000,0.066148
5,1400000US13001950500,"Census Tract 9505, Appling County, Georgia",0.624460,0.012950,0.096403,0.094964,0.093525,0.024460,0.053237
...,...,...,...,...,...,...,...,...,...
1965,1400000US13321950100,"Census Tract 9501, Worth County, Georgia",0.680000,0.000000,0.040000,0.083810,0.087619,0.064762,0.043810
1966,1400000US13321950200,"Census Tract 9502, Worth County, Georgia",0.626449,0.000000,0.104976,0.055896,0.126789,0.020450,0.065440
1967,1400000US13321950400,"Census Tract 9504, Worth County, Georgia",0.668684,0.049924,0.086233,0.004539,0.096823,0.019667,0.074130
1968,1400000US13321950500,"Census Tract 9505, Worth County, Georgia",0.642857,0.028802,0.000000,0.103687,0.138249,0.049539,0.036866
1969,1400000US13321950600,"Census Tract 9506, Worth County, Georgia",0.550595,0.026786,0.178571,0.000000,0.181548,0.032738,0.029762

In [249]:
import pandas as pd
RA_Georgia_BG=pd.read_csv('../../Obstetric accessibility visualization/Georgia/RA_Count_BG_level.csv')
RA_Georgia_BG.head()
RA_Georgia_BG.rename(columns=RA_Georgia_BG.iloc[0], inplace=True)
RA_Georgia_BG.columns
RA_Georgia_BG_df = RA_Georgia_BG[[
    'Geographic Area Name',
    'Estimate!!Total!!Female!!18 and 19 years',
    'Estimate!!Total!!Female!!20 years',
    'Estimate!!Total!!Female!!22 to 24 years',
    'Estimate!!Total!!Female!!25 to 29 years',
    'Estimate!!Total!!Female!!30 to 34 years',
    'Estimate!!Total!!Female!!30 to 34 years',
    'Estimate!!Total!!Female!!35 to 39 years',
    'Estimate!!Total!!Female!!40 to 44 years'
]]

RA_Georgia_BG_df_copy = RA_Georgia_BG_df.copy()
RA_Georgia_BG_df_copy.drop(RA_Georgia_BG_df.index[0], inplace=True)
age_columns = [
    'Estimate!!Total!!Female!!18 and 19 years',
    'Estimate!!Total!!Female!!20 years',
    'Estimate!!Total!!Female!!22 to 24 years',
    'Estimate!!Total!!Female!!25 to 29 years',
    'Estimate!!Total!!Female!!30 to 34 years',
    'Estimate!!Total!!Female!!30 to 34 years',
    'Estimate!!Total!!Female!!35 to 39 years',
    'Estimate!!Total!!Female!!40 to 44 years'
]

for col in age_columns:
    if col in RA_Georgia_BG_df_copy.columns:
        RA_Georgia_BG_df_copy[col] = RA_Georgia_BG_df_copy[col].astype(str)  # Ensure it's a string
        RA_Georgia_BG_df_copy[col] = RA_Georgia_BG_df_copy[col].apply(lambda x: pd.to_numeric(x, errors='coerce'))

# Create the new column by summing the specified columns
RA_Georgia_BG_df_copy['Total Female Age 18-44 years'] = RA_Georgia_BG_df_copy[age_columns].sum(axis=1)

# Drop all other columns except 'Geographic Area Name' and the new column
RA_Georgia_BG_df_copy = RA_Georgia_BG_df_copy[['Geographic Area Name', 'Total Female Age 18-44 years']]
RA_Georgia_BG_df_copy.rename(columns={'Geographic Area Name': 'Geographic Area Names'}, inplace=True)
# Display the resulting DataFrame
RA_Georgia_BG_df_copy

RA_Georgia_BG_df_copy['Geographic Area Name'] = RA_Georgia_BG_df_copy['Geographic Area Names'].str.extract(r'Block Group \d+, (.*)')

RA_Georgia_BG_df_copy.head()

,Geographic Area Names,Total Female Age 18-44 years,Geographic Area Name
1,"Block Group 1, Census Tract 9501, Appling Coun...",128,"Census Tract 9501, Appling County, Georgia"
2,"Block Group 2, Census Tract 9501, Appling Coun...",411,"Census Tract 9501, Appling County, Georgia"
3,"Block Group 1, Census Tract 9502, Appling Coun...",468,"Census Tract 9502, Appling County, Georgia"
4,"Block Group 2, Census Tract 9502, Appling Coun...",234,"Census Tract 9502, Appling County, Georgia"
5,"Block Group 3, Census Tract 9502, Appling Coun...",195,"Census Tract 9502, Appling County, Georgia"

In [250]:
merged_df = pd.merge(RA_Georgia_BG_df_copy, ClassofWorkerByCT_df, on='Geographic Area Name')
columns_to_multiply = [
    'Private for-profit wage and salary workers!!Employee of private company workers',
    'Private for-profit wage and salary workers!!Self-employed in own incorporated business workers',
    'Private not-for-profit wage and salary workers',
    'Local government workers',
    'State government workers',
    'Federal government workers',
    'Self-employed in own not incorporated business workers and unpaid family workers'
]

# Performing the multiplication
for column in columns_to_multiply:
    merged_df[column] = (merged_df[column] * merged_df['Total Female Age 18-44 years'])

# Display the modified DataFrame
merged_df

,Geographic Area Names,Total Female Age 18-44 years,Geographic Area Name,Geography,Private for-profit wage and salary workers!!Employee of private company workers,Private for-profit wage and salary workers!!Self-employed in own incorporated business workers,Private not-for-profit wage and salary workers,Local government workers,State government workers,Federal government workers,Self-employed in own not incorporated business workers and unpaid family workers
0,"Block Group 1, Census Tract 9501, Appling Coun...",128,"Census Tract 9501, Appling County, Georgia",1400000US13001950100,80.948617,0.000000,18.213439,9.612648,19.225296,0.000000,0.000000
1,"Block Group 2, Census Tract 9501, Appling Coun...",411,"Census Tract 9501, Appling County, Georgia",1400000US13001950100,259.920949,0.000000,58.482213,30.865613,61.731225,0.000000,0.000000
2,"Block Group 1, Census Tract 9502, Appling Coun...",468,"Census Tract 9502, Appling County, Georgia",1400000US13001950200,300.226415,18.921833,24.598383,6.307278,79.471698,19.552561,18.921833
3,"Block Group 2, Census Tract 9502, Appling Coun...",234,"Census Tract 9502, Appling County, Georgia",1400000US13001950200,150.113208,9.460916,12.299191,3.153639,39.735849,9.776280,9.460916
4,"Block Group 3, Census Tract 9502, Appling Coun...",195,"Census Tract 9502, Appling County, Georgia",1400000US13001950200,125.094340,7.884097,10.249326,2.628032,33.113208,8.146900,7.884097
...,...,...,...,...,...,...,...,...,...,...,...
5528,"Block Group 1, Census Tract 9505, Worth County...",376,"Census Tract 9505, Worth County, Georgia",1400000US13321950500,241.714286,10.829493,0.000000,38.986175,51.981567,18.626728,13.861751
5529,"Block Group 2, Census Tract 9505, Worth County...",504,"Census Tract 9505, Worth County, Georgia",1400000US13321950500,324.000000,14.516129,0.000000,52.258065,69.677419,24.967742,18.580645
5530,"Block Group 3, Census Tract 9505, Worth County...",206,"Census Tract 9505, Worth County, Georgia",1400000US13321950500,132.428571,5.933180,0.000000,21.359447,28.479263,10.205069,7.594470
5531,"Block Group 1, Census Tract 9506, Worth County...",321,"Census Tract 9506, Worth County, Georgia",1400000US13321950600,176.741071,8.598214,57.321429,0.000000,58.276786,10.508929,9.553571
5532,"Block Group 2, Census Tract 9506, Worth County...",79,"Census Tract 9506, Worth County, Georgia",1400000US13321950600,43.497024,2.116071,14.107143,0.000000,14.342262,2.586310,2.351190

In [252]:
import math

columns_to_round = [
    'Private for-profit wage and salary workers!!Employee of private company workers',
    'Private for-profit wage and salary workers!!Self-employed in own incorporated business workers',
    'Private not-for-profit wage and salary workers',
    'Local government workers',
    'State government workers',
    'Federal government workers',
    'Self-employed in own not incorporated business workers and unpaid family workers'
]

for index, row in merged_df.iterrows():
    rounded_sum = 0

    # Round all but the last value
    for column in columns_to_round[:-1]:
        value = row[column]
        if not math.isnan(value):  # Check if the value is not NaN
            rounded_value = round(value)
            merged_df.at[index, column] = rounded_value
            rounded_sum += rounded_value
        else:
            merged_df.at[index, column] = value  # Keep the NaN or handle it differently if needed

    # Calculate the last value to ensure the sum matches the Population
    last_column = columns_to_round[-1]
    last_value = row[last_column]
    if not math.isnan(last_value):
        # Subtract the rounded sum from the total and assign it to the last column
        merged_df.at[index, last_column] = row['Total Female Age 18-44 years'] - rounded_sum
    else:
        merged_df.at[index, last_column] = last_value  # Keep the NaN or handle it differently if needed

# Drop columns as needed
merged_df.drop('Geographic Area Name', axis=1, inplace=True)
merged_df.drop('Total Female Age 18-44 years', axis=1, inplace=True)

merged_df.head()

,Geographic Area Names,Geography,Private for-profit wage and salary workers!!Employee of private company workers,Private for-profit wage and salary workers!!Self-employed in own incorporated business workers,Private not-for-profit wage and salary workers,Local government workers,State government workers,Federal government workers,Self-employed in own not incorporated business workers and unpaid family workers
0,"Block Group 1, Census Tract 9501, Appling Coun...",1400000US13001950100,81.0,0.0,18.0,10.0,19.0,0.0,0.0
1,"Block Group 2, Census Tract 9501, Appling Coun...",1400000US13001950100,260.0,0.0,58.0,31.0,62.0,0.0,0.0
2,"Block Group 1, Census Tract 9502, Appling Coun...",1400000US13001950200,300.0,19.0,25.0,6.0,79.0,20.0,19.0
3,"Block Group 2, Census Tract 9502, Appling Coun...",1400000US13001950200,150.0,9.0,12.0,3.0,40.0,10.0,10.0
4,"Block Group 3, Census Tract 9502, Appling Coun...",1400000US13001950200,125.0,8.0,10.0,3.0,33.0,8.0,8.0

In [24]:
merged_df.to_csv('Distribution_across_Class_of_Workers.csv', index=False)

<h1>Industry Of Female Workers By County</h1>

In [85]:

IndustryOfWorkerByCounty=pd.read_csv('../../Obstetric accessibility visualization/Georgia/Industry By Sex by County.csv')

In [86]:

IndustryOfWorkerByCounty.rename(columns=IndustryOfWorkerByCounty.iloc[0], inplace=True)
# Assume ClassofWorkerByCounty.columns is your list of column names
columns_list = list(IndustryOfWorkerByCounty.columns)

# Filter out columns containing the word "female", making sure to handle non-string types
female_columns = [col for col in columns_list if isinstance(col, str) and 'female' in col.lower() and 'estimate' in col.lower() ]

In [87]:
IndustryOfWorkerByCounty_df=IndustryOfWorkerByCounty[['Geography',
 'Geographic Area Name',
    'Estimate!!Female!!Civilian employed population 16 years and over',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Agriculture, forestry, fishing and hunting, and mining',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Agriculture, forestry, fishing and hunting, and mining!!Agriculture, forestry, fishing and hunting',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Agriculture, forestry, fishing and hunting, and mining!!Mining, quarrying, and oil and gas extraction',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Construction',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Manufacturing',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Wholesale trade',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Retail trade',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Transportation and warehousing, and utilities',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Transportation and warehousing, and utilities!!Transportation and warehousing',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Transportation and warehousing, and utilities!!Utilities',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Information',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Finance and insurance, and real estate and rental and leasing',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Finance and insurance, and real estate and rental and leasing!!Finance and insurance',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Finance and insurance, and real estate and rental and leasing!!Real estate and rental and leasing',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Professional, scientific, and management, and administrative and waste management services',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Professional, scientific, and management, and administrative and waste management services!!Professional, scientific, and technical services',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Professional, scientific, and management, and administrative and waste management services!!Management of companies and enterprises',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Professional, scientific, and management, and administrative and waste management services!!Administrative and support and waste management services',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Educational services, and health care and social assistance',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Educational services, and health care and social assistance!!Educational services',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Educational services, and health care and social assistance!!Health care and social assistance',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Arts, entertainment, and recreation, and accommodation and food services',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Arts, entertainment, and recreation, and accommodation and food services!!Arts, entertainment, and recreation',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Arts, entertainment, and recreation, and accommodation and food services!!Accommodation and food services',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Other services, except public administration',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Public administration']]
IndustryOfWorkerByCounty_df = IndustryOfWorkerByCounty_df.drop(IndustryOfWorkerByCounty_df.index[0])
import pandas as pd

# Assuming your DataFrame is named df

# Renaming the columns by removing the repetitive prefix
IndustryOfWorkerByCounty_df.rename(columns=lambda x: x.replace('Estimate!!Female!!Civilian employed population 16 years and over!!', ''), inplace=True)

# Now, df has the updated column names


IndustryOfWorkerByCounty_df.head()

,Geography,Geographic Area Name,Estimate!!Female!!Civilian employed population 16 years and over,"Agriculture, forestry, fishing and hunting, and mining","Agriculture, forestry, fishing and hunting, and mining!!Agriculture, forestry, fishing and hunting","Agriculture, forestry, fishing and hunting, and mining!!Mining, quarrying, and oil and gas extraction",Construction,Manufacturing,Wholesale trade,Retail trade,...,"Professional, scientific, and management, and administrative and waste management services!!Management of companies and enterprises","Professional, scientific, and management, and administrative and waste management services!!Administrative and support and waste management services","Educational services, and health care and social assistance","Educational services, and health care and social assistance!!Educational services","Educational services, and health care and social assistance!!Health care and social assistance","Arts, entertainment, and recreation, and accommodation and food services","Arts, entertainment, and recreation, and accommodation and food services!!Arts, entertainment, and recreation","Arts, entertainment, and recreation, and accommodation and food services!!Accommodation and food services","Other services, except public administration",Public administration
1,0500000US13001,"Appling County, Georgia",3102,125,125,0,53,245,64,516,...,0,47,1184,600,584,241,8,233,239,127
2,0500000US13003,"Atkinson County, Georgia",1359,68,68,0,0,213,59,241,...,0,30,450,246,204,98,0,98,26,36
3,0500000US13005,"Bacon County, Georgia",2079,80,80,0,17,170,13,272,...,0,29,1021,367,654,88,0,88,40,63
4,0500000US13007,"Baker County, Georgia",684,19,19,0,15,53,32,83,...,0,14,213,100,113,28,0,28,33,115
5,0500000US13009,"Baldwin County, Georgia",8677,118,88,30,38,315,17,818,...,0,140,3886,1870,2016,991,125,866,564,1083

In [164]:
columns_to_drop = [
    'Estimate!!Female!!Civilian employed population 16 years and over', 
    'Agriculture, forestry, fishing and hunting, and mining!!Agriculture, forestry, fishing and hunting',
    'Agriculture, forestry, fishing and hunting, and mining!!Mining, quarrying, and oil and gas extraction'
]

# Dropping the specified columns
IndustryOfWorkerByCounty_df = IndustryOfWorkerByCounty_df.drop(columns=columns_to_drop)
IndustryOfWorkerByCounty_df

,Geography,Geographic Area Name,"Agriculture, forestry, fishing and hunting, and mining",Construction,Manufacturing,Wholesale trade,Retail trade,"Transportation and warehousing, and utilities","Transportation and warehousing, and utilities!!Transportation and warehousing","Transportation and warehousing, and utilities!!Utilities",...,"Professional, scientific, and management, and administrative and waste management services!!Management of companies and enterprises","Professional, scientific, and management, and administrative and waste management services!!Administrative and support and waste management services","Educational services, and health care and social assistance","Educational services, and health care and social assistance!!Educational services","Educational services, and health care and social assistance!!Health care and social assistance","Arts, entertainment, and recreation, and accommodation and food services","Arts, entertainment, and recreation, and accommodation and food services!!Arts, entertainment, and recreation","Arts, entertainment, and recreation, and accommodation and food services!!Accommodation and food services","Other services, except public administration",Public administration
1,0500000US13001,"Appling County, Georgia",125,53,245,64,516,84,67,17,...,0,47,1184,600,584,241,8,233,239,127
2,0500000US13003,"Atkinson County, Georgia",68,0,213,59,241,23,23,0,...,0,30,450,246,204,98,0,98,26,36
3,0500000US13005,"Bacon County, Georgia",80,17,170,13,272,93,93,0,...,0,29,1021,367,654,88,0,88,40,63
4,0500000US13007,"Baker County, Georgia",19,15,53,32,83,8,0,8,...,0,14,213,100,113,28,0,28,33,115
5,0500000US13009,"Baldwin County, Georgia",118,38,315,17,818,55,37,18,...,0,140,3886,1870,2016,991,125,866,564,1083
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,0500000US13313,"Whitfield County, Georgia",26,353,6352,483,2393,432,314,118,...,0,733,4870,2341,2529,1957,376,1581,839,456
156,0500000US13315,"Wilcox County, Georgia",4,12,94,36,135,10,0,10,...,0,3,462,183,279,52,0,52,100,150
157,0500000US13317,"Wilkes County, Georgia",25,5,254,0,238,57,50,7,...,0,0,866,300,566,112,36,76,166,49
158,0500000US13319,"Wilkinson County, Georgia",22,37,84,0,168,55,50,5,...,0,40,576,200,376,96,22,74,110,182
159,0500000US13321,"Worth County, Georgia",30,31,341,137,557,92,92,0,...,8,73,1445,506,939,298,8,290,175,254

<h1>Industry Of Female Workers By Block Group Levels</h1>

In [165]:
numeric_cols = IndustryOfWorkerByCounty_df.columns.drop(['Geographic Area Name', 'Geography']) # Adjust as needed
IndustryOfWorkerByCounty_df[numeric_cols] = IndustryOfWorkerByCounty_df[numeric_cols].apply(pd.to_numeric, errors='coerce')

# Function to calculate proportions
def calculate_proportions(row):
    # Select only numeric columns for the sum
    row_sum = row[numeric_cols].sum()
    if row_sum != 0:
        row[numeric_cols] = row[numeric_cols] / row_sum
    return row

# Apply the function to each row
proportion_df = IndustryOfWorkerByCounty_df.apply(calculate_proportions, axis=1)

# Display the resulting DataFrame
proportion_df

,Geography,Geographic Area Name,"Agriculture, forestry, fishing and hunting, and mining",Construction,Manufacturing,Wholesale trade,Retail trade,"Transportation and warehousing, and utilities","Transportation and warehousing, and utilities!!Transportation and warehousing","Transportation and warehousing, and utilities!!Utilities",...,"Professional, scientific, and management, and administrative and waste management services!!Management of companies and enterprises","Professional, scientific, and management, and administrative and waste management services!!Administrative and support and waste management services","Educational services, and health care and social assistance","Educational services, and health care and social assistance!!Educational services","Educational services, and health care and social assistance!!Health care and social assistance","Arts, entertainment, and recreation, and accommodation and food services","Arts, entertainment, and recreation, and accommodation and food services!!Arts, entertainment, and recreation","Arts, entertainment, and recreation, and accommodation and food services!!Accommodation and food services","Other services, except public administration",Public administration
1,0500000US13001,"Appling County, Georgia",0.025907,0.010984,0.050777,0.013264,0.106943,0.017409,0.013886,0.003523,...,0.000000,0.009741,0.245389,0.124352,0.121036,0.049948,0.001658,0.048290,0.049534,0.026321
2,0500000US13003,"Atkinson County, Georgia",0.032771,0.000000,0.102651,0.028434,0.116145,0.011084,0.011084,0.000000,...,0.000000,0.014458,0.216867,0.118554,0.098313,0.047229,0.000000,0.047229,0.012530,0.017349
3,0500000US13005,"Bacon County, Georgia",0.023035,0.004895,0.048949,0.003743,0.078318,0.026778,0.026778,0.000000,...,0.000000,0.008350,0.293982,0.105672,0.188310,0.025338,0.000000,0.025338,0.011517,0.018140
4,0500000US13007,"Baker County, Georgia",0.019038,0.015030,0.053106,0.032064,0.083166,0.008016,0.000000,0.008016,...,0.000000,0.014028,0.213427,0.100200,0.113226,0.028056,0.000000,0.028056,0.033066,0.115230
5,0500000US13009,"Baldwin County, Georgia",0.008230,0.002650,0.021970,0.001186,0.057051,0.003836,0.002581,0.001255,...,0.000000,0.009764,0.271028,0.130423,0.140605,0.069117,0.008718,0.060399,0.039336,0.075534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,0500000US13313,"Whitfield County, Georgia",0.000876,0.011898,0.214096,0.016280,0.080657,0.014561,0.010583,0.003977,...,0.000000,0.024706,0.164144,0.078904,0.085240,0.065961,0.012673,0.053288,0.028279,0.015370
156,0500000US13315,"Wilcox County, Georgia",0.002343,0.007030,0.055067,0.021090,0.079086,0.005858,0.000000,0.005858,...,0.000000,0.001757,0.270650,0.107206,0.163445,0.030463,0.000000,0.030463,0.058582,0.087873
157,0500000US13317,"Wilkes County, Georgia",0.008127,0.001625,0.082575,0.000000,0.077373,0.018531,0.016255,0.002276,...,0.000000,0.000000,0.281534,0.097529,0.184005,0.036411,0.011704,0.024707,0.053966,0.015930
158,0500000US13319,"Wilkinson County, Georgia",0.008524,0.014336,0.032546,0.000000,0.065091,0.021310,0.019372,0.001937,...,0.000000,0.015498,0.223169,0.077489,0.145680,0.037195,0.008524,0.028671,0.042619,0.070515
159,0500000US13321,"Worth County, Georgia",0.004852,0.005014,0.055151,0.022158,0.090086,0.014880,0.014880,0.000000,...,0.001294,0.011807,0.233705,0.081837,0.151868,0.048197,0.001294,0.046903,0.028303,0.041080

In [169]:
proportion_df['County'] = proportion_df['Geographic Area Name'].str.split(',').str[0]
proportion_df['County'] = proportion_df['County'].str.replace(' County', '')

RA_Georgia=pd.read_csv('../../Obstetric accessibility visualization/Georgia/BG_County_numbers.csv')
merged_df = pd.merge(RA_Georgia, proportion_df, on='County')
columns_to_multiply = [
'Agriculture, forestry, fishing and hunting, and mining',
       'Construction', 'Manufacturing', 'Wholesale trade', 'Retail trade',
       'Transportation and warehousing, and utilities',
       'Transportation and warehousing, and utilities!!Transportation and warehousing',
       'Transportation and warehousing, and utilities!!Utilities',
       'Information',
       'Finance and insurance, and real estate and rental and leasing',
       'Finance and insurance, and real estate and rental and leasing!!Finance and insurance',
       'Finance and insurance, and real estate and rental and leasing!!Real estate and rental and leasing',
       'Professional, scientific, and management, and administrative and waste management services',
       'Professional, scientific, and management, and administrative and waste management services!!Professional, scientific, and technical services',
       'Professional, scientific, and management, and administrative and waste management services!!Management of companies and enterprises',
       'Professional, scientific, and management, and administrative and waste management services!!Administrative and support and waste management services',
       'Educational services, and health care and social assistance',
       'Educational services, and health care and social assistance!!Educational services',
       'Educational services, and health care and social assistance!!Health care and social assistance',
       'Arts, entertainment, and recreation, and accommodation and food services',
       'Arts, entertainment, and recreation, and accommodation and food services!!Arts, entertainment, and recreation',
       'Arts, entertainment, and recreation, and accommodation and food services!!Accommodation and food services',
       'Other services, except public administration', 'Public administration'
]

# Performing the multiplication
for column in columns_to_multiply:
    merged_df[column] = (merged_df[column] * merged_df['Population'])

# Display the modified DataFrame

merged_df = merged_df.drop(columns=['Geography_y'])
merged_df

,Geography_x,County,Population,Geographic Area Name,"Agriculture, forestry, fishing and hunting, and mining",Construction,Manufacturing,Wholesale trade,Retail trade,"Transportation and warehousing, and utilities",...,"Professional, scientific, and management, and administrative and waste management services!!Management of companies and enterprises","Professional, scientific, and management, and administrative and waste management services!!Administrative and support and waste management services","Educational services, and health care and social assistance","Educational services, and health care and social assistance!!Educational services","Educational services, and health care and social assistance!!Health care and social assistance","Arts, entertainment, and recreation, and accommodation and food services","Arts, entertainment, and recreation, and accommodation and food services!!Arts, entertainment, and recreation","Arts, entertainment, and recreation, and accommodation and food services!!Accommodation and food services","Other services, except public administration",Public administration
0,1500000US130210131023,Bibb,103,"Bibb County, Georgia",0.095963,0.338692,2.542072,0.777110,9.123986,1.010431,...,0.0,1.757435,24.137450,9.110815,15.026635,6.555572,0.792163,5.763409,2.750932,2.773511
1,1500000US130210131024,Bibb,184,"Bibb County, Georgia",0.171429,0.605042,4.541176,1.388235,16.299160,1.805042,...,0.0,3.139496,43.119328,16.275630,26.843697,11.710924,1.415126,10.295798,4.914286,4.954622
2,1500000US130210132014,Bibb,122,"Bibb County, Georgia",0.113665,0.401169,3.010997,0.920460,10.807052,1.196821,...,0.0,2.081622,28.589989,10.791450,17.798539,7.764852,0.938290,6.826562,3.258385,3.285130
3,1500000US130210131022,Bibb,365,"Bibb County, Georgia",0.340062,1.200219,9.008312,2.753836,32.332572,3.580654,...,0.0,6.227804,85.535623,32.285897,53.249726,23.230910,2.807179,20.423730,9.748447,9.828462
4,1500000US130210131011,Bibb,441,"Bibb County, Georgia",0.410870,1.450128,10.884015,3.327238,39.064834,4.326215,...,0.0,7.524552,103.345780,39.008440,64.337340,28.068031,3.391688,24.676343,11.778261,11.874936
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5083,1500000US130939701003,Dooly,112,"Dooly County, Georgia",1.390482,1.953296,15.560154,2.052616,6.753769,1.125628,...,0.0,0.562814,24.465859,13.143364,11.322495,5.859888,0.000000,5.859888,2.151936,8.905705
5084,1500000US130939701002,Dooly,269,"Dooly County, Georgia",3.339639,4.691398,37.372155,4.929944,16.221106,2.703518,...,0.0,1.351759,58.761750,31.567544,27.194206,14.074195,0.000000,14.074195,5.168490,21.389595
5085,1500000US130939701001,Dooly,183,"Dooly County, Georgia",2.271948,3.191546,25.424180,3.353828,11.035176,1.839196,...,0.0,0.919598,39.975466,21.475318,18.500148,9.574638,0.000000,9.574638,3.516110,14.551286
5086,1500000US130939703002,Dooly,205,"Dooly County, Georgia",2.545078,3.575229,28.480638,3.757020,12.361809,2.060302,...,0.0,1.030151,44.781259,24.057050,20.724209,10.725687,0.000000,10.725687,3.938812,16.300621
5087,1500000US130939703004,Dooly,150,"Dooly County, Georgia",1.862252,2.616021,20.839492,2.749039,9.045226,1.507538,...,0.0,0.753769,32.766775,17.602719,15.164056,7.848064,0.000000,7.848064,2.882057,11.927283

In [171]:
columns_to_round = [
 'Agriculture, forestry, fishing and hunting, and mining',
       'Construction', 'Manufacturing', 'Wholesale trade', 'Retail trade',
       'Transportation and warehousing, and utilities',
       'Transportation and warehousing, and utilities!!Transportation and warehousing',
       'Transportation and warehousing, and utilities!!Utilities',
       'Information',
       'Finance and insurance, and real estate and rental and leasing',
       'Finance and insurance, and real estate and rental and leasing!!Finance and insurance',
       'Finance and insurance, and real estate and rental and leasing!!Real estate and rental and leasing',
       'Professional, scientific, and management, and administrative and waste management services',
       'Professional, scientific, and management, and administrative and waste management services!!Professional, scientific, and technical services',
       'Professional, scientific, and management, and administrative and waste management services!!Management of companies and enterprises',
       'Professional, scientific, and management, and administrative and waste management services!!Administrative and support and waste management services',
       'Educational services, and health care and social assistance',
       'Educational services, and health care and social assistance!!Educational services',
       'Educational services, and health care and social assistance!!Health care and social assistance',
       'Arts, entertainment, and recreation, and accommodation and food services',
       'Arts, entertainment, and recreation, and accommodation and food services!!Arts, entertainment, and recreation',
       'Arts, entertainment, and recreation, and accommodation and food services!!Accommodation and food services',
       'Other services, except public administration', 'Public administration'
]

for index, row in merged_df.iterrows():
    # Round all but the last value
    for column in columns_to_round[:-1]:
        merged_df.at[index, column] = round(row[column])
    
    # Calculate the last value to ensure the sum matches the Population
    last_column = columns_to_round[-1]
    merged_df.at[index, last_column] = row['Population'] - sum([round(row[col]) for col in columns_to_round[:-1]])

merged_df

,Geography_x,County,Population,Geographic Area Name,"Agriculture, forestry, fishing and hunting, and mining",Construction,Manufacturing,Wholesale trade,Retail trade,"Transportation and warehousing, and utilities",...,"Professional, scientific, and management, and administrative and waste management services!!Management of companies and enterprises","Professional, scientific, and management, and administrative and waste management services!!Administrative and support and waste management services","Educational services, and health care and social assistance","Educational services, and health care and social assistance!!Educational services","Educational services, and health care and social assistance!!Health care and social assistance","Arts, entertainment, and recreation, and accommodation and food services","Arts, entertainment, and recreation, and accommodation and food services!!Arts, entertainment, and recreation","Arts, entertainment, and recreation, and accommodation and food services!!Accommodation and food services","Other services, except public administration",Public administration
0,1500000US130210131023,Bibb,103,"Bibb County, Georgia",0.0,0.0,3.0,1.0,9.0,1.0,...,0.0,2.0,24.0,9.0,15.0,7.0,1.0,6.0,3.0,3.0
1,1500000US130210131024,Bibb,184,"Bibb County, Georgia",0.0,1.0,5.0,1.0,16.0,2.0,...,0.0,3.0,43.0,16.0,27.0,12.0,1.0,10.0,5.0,5.0
2,1500000US130210132014,Bibb,122,"Bibb County, Georgia",0.0,0.0,3.0,1.0,11.0,1.0,...,0.0,2.0,29.0,11.0,18.0,8.0,1.0,7.0,3.0,4.0
3,1500000US130210131022,Bibb,365,"Bibb County, Georgia",0.0,1.0,9.0,3.0,32.0,4.0,...,0.0,6.0,86.0,32.0,53.0,23.0,3.0,20.0,10.0,11.0
4,1500000US130210131011,Bibb,441,"Bibb County, Georgia",0.0,1.0,11.0,3.0,39.0,4.0,...,0.0,8.0,103.0,39.0,64.0,28.0,3.0,25.0,12.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5083,1500000US130939701003,Dooly,112,"Dooly County, Georgia",1.0,2.0,16.0,2.0,7.0,1.0,...,0.0,1.0,24.0,13.0,11.0,6.0,0.0,6.0,2.0,8.0
5084,1500000US130939701002,Dooly,269,"Dooly County, Georgia",3.0,5.0,37.0,5.0,16.0,3.0,...,0.0,1.0,59.0,32.0,27.0,14.0,0.0,14.0,5.0,22.0
5085,1500000US130939701001,Dooly,183,"Dooly County, Georgia",2.0,3.0,25.0,3.0,11.0,2.0,...,0.0,1.0,40.0,21.0,19.0,10.0,0.0,10.0,4.0,13.0
5086,1500000US130939703002,Dooly,205,"Dooly County, Georgia",3.0,4.0,28.0,4.0,12.0,2.0,...,0.0,1.0,45.0,24.0,21.0,11.0,0.0,11.0,4.0,15.0
5087,1500000US130939703004,Dooly,150,"Dooly County, Georgia",2.0,3.0,21.0,3.0,9.0,2.0,...,0.0,1.0,33.0,18.0,15.0,8.0,0.0,8.0,3.0,8.0

<h1>Industry Of Female Workers By Census Tract</h1>

In [88]:


IndustryOfWorkerByCT=pd.read_csv('../../Obstetric accessibility visualization/Georgia/Industry By Sex by CT.csv')

In [89]:

IndustryOfWorkerByCT.rename(columns=IndustryOfWorkerByCT.iloc[0], inplace=True)
# Assume ClassofWorkerByCounty.columns is your list of column names
columns_list = list(IndustryOfWorkerByCT.columns)

# Filter out columns containing the word "female", making sure to handle non-string types
female_columns = [col for col in columns_list if isinstance(col, str) and 'female' in col.lower() and 'estimate' in col.lower() ]

In [253]:
IndustryOfWorkerByCT_df=IndustryOfWorkerByCT[['Geography',
 'Geographic Area Name',
    'Estimate!!Female!!Civilian employed population 16 years and over',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Agriculture, forestry, fishing and hunting, and mining',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Agriculture, forestry, fishing and hunting, and mining!!Agriculture, forestry, fishing and hunting',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Agriculture, forestry, fishing and hunting, and mining!!Mining, quarrying, and oil and gas extraction',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Construction',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Manufacturing',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Wholesale trade',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Retail trade',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Transportation and warehousing, and utilities',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Transportation and warehousing, and utilities!!Transportation and warehousing',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Transportation and warehousing, and utilities!!Utilities',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Information',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Finance and insurance, and real estate and rental and leasing',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Finance and insurance, and real estate and rental and leasing!!Finance and insurance',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Finance and insurance, and real estate and rental and leasing!!Real estate and rental and leasing',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Professional, scientific, and management, and administrative and waste management services',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Professional, scientific, and management, and administrative and waste management services!!Professional, scientific, and technical services',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Professional, scientific, and management, and administrative and waste management services!!Management of companies and enterprises',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Professional, scientific, and management, and administrative and waste management services!!Administrative and support and waste management services',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Educational services, and health care and social assistance',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Educational services, and health care and social assistance!!Educational services',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Educational services, and health care and social assistance!!Health care and social assistance',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Arts, entertainment, and recreation, and accommodation and food services',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Arts, entertainment, and recreation, and accommodation and food services!!Arts, entertainment, and recreation',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Arts, entertainment, and recreation, and accommodation and food services!!Accommodation and food services',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Other services, except public administration',
 'Estimate!!Female!!Civilian employed population 16 years and over!!Public administration']]
IndustryOfWorkerByCT_df = IndustryOfWorkerByCT_df.drop(IndustryOfWorkerByCT_df.index[0])
import pandas as pd

# Assuming your DataFrame is named df

# Renaming the columns by removing the repetitive prefix
IndustryOfWorkerByCT_df.rename(columns=lambda x: x.replace('Estimate!!Female!!Civilian employed population 16 years and over!!', ''), inplace=True)

# Now, df has the updated column names


IndustryOfWorkerByCT_df.head()
IndustryOfWorkerByCT_df.columns

Index(['Geography', 'Geographic Area Name',
       'Estimate!!Female!!Civilian employed population 16 years and over',
       'Agriculture, forestry, fishing and hunting, and mining',
       'Agriculture, forestry, fishing and hunting, and mining!!Agriculture, forestry, fishing and hunting',
       'Agriculture, forestry, fishing and hunting, and mining!!Mining, quarrying, and oil and gas extraction',
       'Construction', 'Manufacturing', 'Wholesale trade', 'Retail trade',
       'Transportation and warehousing, and utilities',
       'Transportation and warehousing, and utilities!!Transportation and warehousing',
       'Transportation and warehousing, and utilities!!Utilities',
       'Information',
       'Finance and insurance, and real estate and rental and leasing',
       'Finance and insurance, and real estate and rental and leasing!!Finance and insurance',
       'Finance and insurance, and real estate and rental and leasing!!Real estate and rental and leasing',
       'Professional, scientific, and management, and administrative and waste management services',
       'Professional, scientific, and management, and administrative and waste management services!!Professional, scientific, and technical services',
       'Professional, scientific, and management, and administrative and waste management services!!Management of companies and enterprises',
       'Professional, scientific, and management, and administrative and waste management services!!Administrative and support and waste management services',
       'Educational services, and health care and social assistance',
       'Educational services, and health care and social assistance!!Educational services',
       'Educational services, and health care and social assistance!!Health care and social assistance',
       'Arts, entertainment, and recreation, and accommodation and food services',
       'Arts, entertainment, and recreation, and accommodation and food services!!Arts, entertainment, and recreation',
       'Arts, entertainment, and recreation, and accommodation and food services!!Accommodation and food services',
       'Other services, except public administration',
       'Public administration'],
      dtype='object')

In [255]:
IndustryOfWorkerByCT_df.drop('Estimate!!Female!!Civilian employed population 16 years and over', axis=1, inplace=True)
IndustryOfWorkerByCT_df.rename(columns={'Agriculture, forestry, fishing and hunting, and mining!!Agriculture, forestry, fishing and hunting': 'Agriculture, forestry, fishing and hunting'}, inplace=True)
IndustryOfWorkerByCT_df.rename(columns={'Agriculture, forestry, fishing and hunting, and mining!!Mining, quarrying, and oil and gas extraction': 'Mining, quarrying, and oil and gas extraction'}, inplace=True)
IndustryOfWorkerByCT_df.drop('Agriculture, forestry, fishing and hunting, and mining', axis=1, inplace=True)
IndustryOfWorkerByCT_df.drop('Transportation and warehousing, and utilities', axis=1, inplace=True)
IndustryOfWorkerByCT_df.rename(columns={'Transportation and warehousing, and utilities!!Transportation and warehousing': 'Transportation and warehousing'}, inplace=True)
IndustryOfWorkerByCT_df.rename(columns={'Transportation and warehousing, and utilities!!Utilities': 'Utilities'}, inplace=True)
IndustryOfWorkerByCT_df.drop('Finance and insurance, and real estate and rental and leasing', axis=1, inplace=True)
IndustryOfWorkerByCT_df.rename(columns={'Finance and insurance, and real estate and rental and leasing!!Finance and insurance': 'Finance and insurance'}, inplace=True)
IndustryOfWorkerByCT_df.rename(columns={'Finance and insurance, and real estate and rental and leasing!!Real estate and rental and leasing': 'Real estate and rental and leasing'}, inplace=True)
IndustryOfWorkerByCT_df.drop('Professional, scientific, and management, and administrative and waste management services', axis=1, inplace=True)
IndustryOfWorkerByCT_df.rename(columns={'Professional, scientific, and management, and administrative and waste management services!!Professional, scientific, and technical services': 'Professional, scientific, and technical services'}, inplace=True)
IndustryOfWorkerByCT_df.rename(columns={'Professional, scientific, and management, and administrative and waste management services!!Management of companies and enterprises': 'Management of companies and enterprises'}, inplace=True)
IndustryOfWorkerByCT_df.rename(columns={'Professional, scientific, and management, and administrative and waste management services!!Administrative and support and waste management services': 'Administrative and support and waste management services'}, inplace=True)
IndustryOfWorkerByCT_df.drop('Educational services, and health care and social assistance', axis=1, inplace=True)
IndustryOfWorkerByCT_df.rename(columns={'Educational services, and health care and social assistance!!Educational services': 'Educational services'}, inplace=True)
IndustryOfWorkerByCT_df.rename(columns={'Educational services, and health care and social assistance!!Health care and social assistance': 'Health care and social assistance'}, inplace=True)
IndustryOfWorkerByCT_df.drop('Arts, entertainment, and recreation, and accommodation and food services', axis=1, inplace=True)
IndustryOfWorkerByCT_df.rename(columns={'Arts, entertainment, and recreation, and accommodation and food services!!Arts, entertainment, and recreation': 'Arts, entertainment, and recreation'}, inplace=True)
IndustryOfWorkerByCT_df.rename(columns={'Arts, entertainment, and recreation, and accommodation and food services!!Accommodation and food services': 'Accommodation and food services'}, inplace=True)
IndustryOfWorkerByCT_df

,Geography,Geographic Area Name,"Agriculture, forestry, fishing and hunting","Mining, quarrying, and oil and gas extraction",Construction,Manufacturing,Wholesale trade,Retail trade,Transportation and warehousing,Utilities,...,Real estate and rental and leasing,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,"Other services, except public administration",Public administration
1,1400000US13001950100,"Census Tract 9501, Appling County, Georgia",28,0,9,24,34,43,0,13,...,13,0,0,0,133,151,8,27,10,13
2,1400000US13001950200,"Census Tract 9502, Appling County, Georgia",37,0,14,68,0,207,55,4,...,0,0,0,0,138,94,0,85,13,6
3,1400000US13001950300,"Census Tract 9503, Appling County, Georgia",0,0,11,63,0,127,0,0,...,0,7,0,42,187,147,0,89,145,46
4,1400000US13001950400,"Census Tract 9504, Appling County, Georgia",11,0,0,0,16,84,0,0,...,0,0,0,2,38,35,0,3,17,22
5,1400000US13001950500,"Census Tract 9505, Appling County, Georgia",49,0,19,90,14,55,12,0,...,0,31,0,3,104,157,0,29,54,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1965,1400000US13321950100,"Census Tract 9501, Worth County, Georgia",0,0,7,53,26,78,42,0,...,0,42,5,25,98,93,0,9,13,15
1966,1400000US13321950200,"Census Tract 9502, Worth County, Georgia",0,0,0,126,12,124,12,0,...,13,157,0,10,201,466,0,105,113,83
1967,1400000US13321950400,"Census Tract 9504, Worth County, Georgia",0,0,12,79,26,114,27,0,...,0,65,3,2,58,139,0,78,21,19
1968,1400000US13321950500,"Census Tract 9505, Worth County, Georgia",23,0,0,64,69,191,0,0,...,0,15,0,29,132,76,8,98,23,121
1969,1400000US13321950600,"Census Tract 9506, Worth County, Georgia",7,0,12,19,4,50,11,0,...,0,3,0,7,17,165,0,0,5,16

In [258]:
categories = [
    'Agriculture, forestry, fishing and hunting',
    'Mining, quarrying, and oil and gas extraction', 'Construction',
    'Manufacturing', 'Wholesale trade', 'Retail trade',
    'Transportation and warehousing', 'Utilities', 'Information',
    'Finance and insurance', 'Real estate and rental and leasing',
    'Professional, scientific, and technical services',
    'Management of companies and enterprises',
    'Administrative and support and waste management services',
    'Educational services', 'Health care and social assistance',
    'Arts, entertainment, and recreation',
    'Accommodation and food services',
    'Other services, except public administration',
    'Public administration'
]

# Convert all relevant columns to numeric
IndustryOfWorkerByCT_df[categories] = IndustryOfWorkerByCT_df[categories].apply(pd.to_numeric, errors='coerce')

# Replace NaN with 0 (if appropriate for your data)
IndustryOfWorkerByCT_df[categories] = IndustryOfWorkerByCT_df[categories].fillna(0)

# Calculate the sum of all these categories for each row
total = IndustryOfWorkerByCT_df[categories].sum(axis=1)

# Calculate the proportion for each column
for category in categories:
    IndustryOfWorkerByCT_df[category] = IndustryOfWorkerByCT_df[category] / total

IndustryOfWorkerByCT_df

,Geography,Geographic Area Name,"Agriculture, forestry, fishing and hunting","Mining, quarrying, and oil and gas extraction",Construction,Manufacturing,Wholesale trade,Retail trade,Transportation and warehousing,Utilities,...,Real estate and rental and leasing,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,"Other services, except public administration",Public administration
1,1400000US13001950100,"Census Tract 9501, Appling County, Georgia",0.055336,0.0,0.017787,0.047431,0.067194,0.084980,0.000000,0.025692,...,0.025692,0.000000,0.000000,0.000000,0.262846,0.298419,0.015810,0.053360,0.019763,0.025692
2,1400000US13001950200,"Census Tract 9502, Appling County, Georgia",0.049865,0.0,0.018868,0.091644,0.000000,0.278976,0.074124,0.005391,...,0.000000,0.000000,0.000000,0.000000,0.185984,0.126685,0.000000,0.114555,0.017520,0.008086
3,1400000US13001950300,"Census Tract 9503, Appling County, Georgia",0.000000,0.0,0.012195,0.069845,0.000000,0.140798,0.000000,0.000000,...,0.000000,0.007761,0.000000,0.046563,0.207317,0.162971,0.000000,0.098670,0.160754,0.050998
4,1400000US13001950400,"Census Tract 9504, Appling County, Georgia",0.042802,0.0,0.000000,0.000000,0.062257,0.326848,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.007782,0.147860,0.136187,0.000000,0.011673,0.066148,0.085603
5,1400000US13001950500,"Census Tract 9505, Appling County, Georgia",0.070504,0.0,0.027338,0.129496,0.020144,0.079137,0.017266,0.000000,...,0.000000,0.044604,0.000000,0.004317,0.149640,0.225899,0.000000,0.041727,0.077698,0.057554
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1965,1400000US13321950100,"Census Tract 9501, Worth County, Georgia",0.000000,0.0,0.013333,0.100952,0.049524,0.148571,0.080000,0.000000,...,0.000000,0.080000,0.009524,0.047619,0.186667,0.177143,0.000000,0.017143,0.024762,0.028571
1966,1400000US13321950200,"Census Tract 9502, Worth County, Georgia",0.000000,0.0,0.000000,0.085890,0.008180,0.084526,0.008180,0.000000,...,0.008862,0.107021,0.000000,0.006817,0.137014,0.317655,0.000000,0.071575,0.077028,0.056578
1967,1400000US13321950400,"Census Tract 9504, Worth County, Georgia",0.000000,0.0,0.018154,0.119516,0.039334,0.172466,0.040847,0.000000,...,0.000000,0.098336,0.004539,0.003026,0.087746,0.210287,0.000000,0.118003,0.031770,0.028744
1968,1400000US13321950500,"Census Tract 9505, Worth County, Georgia",0.026498,0.0,0.000000,0.073733,0.079493,0.220046,0.000000,0.000000,...,0.000000,0.017281,0.000000,0.033410,0.152074,0.087558,0.009217,0.112903,0.026498,0.139401
1969,1400000US13321950600,"Census Tract 9506, Worth County, Georgia",0.020833,0.0,0.035714,0.056548,0.011905,0.148810,0.032738,0.000000,...,0.000000,0.008929,0.000000,0.020833,0.050595,0.491071,0.000000,0.000000,0.014881,0.047619

In [259]:
import pandas as pd
RA_Georgia_BG=pd.read_csv('../../Obstetric accessibility visualization/Georgia/RA_Count_BG_level.csv')
RA_Georgia_BG.head()
RA_Georgia_BG.rename(columns=RA_Georgia_BG.iloc[0], inplace=True)
RA_Georgia_BG.columns
RA_Georgia_BG_df = RA_Georgia_BG[[
    'Geographic Area Name',
    'Estimate!!Total!!Female!!18 and 19 years',
    'Estimate!!Total!!Female!!20 years',
    'Estimate!!Total!!Female!!22 to 24 years',
    'Estimate!!Total!!Female!!25 to 29 years',
    'Estimate!!Total!!Female!!30 to 34 years',
    'Estimate!!Total!!Female!!30 to 34 years',
    'Estimate!!Total!!Female!!35 to 39 years',
    'Estimate!!Total!!Female!!40 to 44 years'
]]

RA_Georgia_BG_df_copy = RA_Georgia_BG_df.copy()
RA_Georgia_BG_df_copy.drop(RA_Georgia_BG_df.index[0], inplace=True)
age_columns = [
    'Estimate!!Total!!Female!!18 and 19 years',
    'Estimate!!Total!!Female!!20 years',
    'Estimate!!Total!!Female!!22 to 24 years',
    'Estimate!!Total!!Female!!25 to 29 years',
    'Estimate!!Total!!Female!!30 to 34 years',
    'Estimate!!Total!!Female!!30 to 34 years',
    'Estimate!!Total!!Female!!35 to 39 years',
    'Estimate!!Total!!Female!!40 to 44 years'
]

for col in age_columns:
    if col in RA_Georgia_BG_df_copy.columns:
        RA_Georgia_BG_df_copy[col] = RA_Georgia_BG_df_copy[col].astype(str)  # Ensure it's a string
        RA_Georgia_BG_df_copy[col] = RA_Georgia_BG_df_copy[col].apply(lambda x: pd.to_numeric(x, errors='coerce'))

# Create the new column by summing the specified columns
RA_Georgia_BG_df_copy['Total Female Age 18-44 years'] = RA_Georgia_BG_df_copy[age_columns].sum(axis=1)

# Drop all other columns except 'Geographic Area Name' and the new column
RA_Georgia_BG_df_copy = RA_Georgia_BG_df_copy[['Geographic Area Name', 'Total Female Age 18-44 years']]
RA_Georgia_BG_df_copy.rename(columns={'Geographic Area Name': 'Geographic Area Names'}, inplace=True)
# Display the resulting DataFrame
RA_Georgia_BG_df_copy

RA_Georgia_BG_df_copy['Geographic Area Name'] = RA_Georgia_BG_df_copy['Geographic Area Names'].str.extract(r'Block Group \d+, (.*)')

RA_Georgia_BG_df_copy.head()

,Geographic Area Names,Total Female Age 18-44 years,Geographic Area Name
1,"Block Group 1, Census Tract 9501, Appling Coun...",128,"Census Tract 9501, Appling County, Georgia"
2,"Block Group 2, Census Tract 9501, Appling Coun...",411,"Census Tract 9501, Appling County, Georgia"
3,"Block Group 1, Census Tract 9502, Appling Coun...",468,"Census Tract 9502, Appling County, Georgia"
4,"Block Group 2, Census Tract 9502, Appling Coun...",234,"Census Tract 9502, Appling County, Georgia"
5,"Block Group 3, Census Tract 9502, Appling Coun...",195,"Census Tract 9502, Appling County, Georgia"

In [260]:
merged_df = pd.merge(RA_Georgia_BG_df_copy, IndustryOfWorkerByCT_df, on='Geographic Area Name')
columns_to_multiply = [
     'Agriculture, forestry, fishing and hunting',
    'Mining, quarrying, and oil and gas extraction', 'Construction',
    'Manufacturing', 'Wholesale trade', 'Retail trade',
    'Transportation and warehousing', 'Utilities', 'Information',
    'Finance and insurance', 'Real estate and rental and leasing',
    'Professional, scientific, and technical services',
    'Management of companies and enterprises',
    'Administrative and support and waste management services',
    'Educational services', 'Health care and social assistance',
    'Arts, entertainment, and recreation',
    'Accommodation and food services',
    'Other services, except public administration',
    'Public administration'
]

# Performing the multiplication
for column in columns_to_multiply:
    merged_df[column] = (merged_df[column] * merged_df['Total Female Age 18-44 years'])

# Display the modified DataFrame
merged_df

,Geographic Area Names,Total Female Age 18-44 years,Geographic Area Name,Geography,"Agriculture, forestry, fishing and hunting","Mining, quarrying, and oil and gas extraction",Construction,Manufacturing,Wholesale trade,Retail trade,...,Real estate and rental and leasing,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,"Other services, except public administration",Public administration
0,"Block Group 1, Census Tract 9501, Appling Coun...",128,"Census Tract 9501, Appling County, Georgia",1400000US13001950100,7.083004,0.0,2.276680,6.071146,8.600791,10.877470,...,3.288538,0.000000,0.0,0.000000,33.644269,38.197628,2.023715,6.830040,2.529644,3.288538
1,"Block Group 2, Census Tract 9501, Appling Coun...",411,"Census Tract 9501, Appling County, Georgia",1400000US13001950100,22.743083,0.0,7.310277,19.494071,27.616601,34.926877,...,10.559289,0.000000,0.0,0.000000,108.029644,122.650198,6.498024,21.930830,8.122530,10.559289
2,"Block Group 1, Census Tract 9502, Appling Coun...",468,"Census Tract 9502, Appling County, Georgia",1400000US13001950200,23.336927,0.0,8.830189,42.889488,0.000000,130.560647,...,0.000000,0.000000,0.0,0.000000,87.040431,59.288410,0.000000,53.611860,8.199461,3.784367
3,"Block Group 2, Census Tract 9502, Appling Coun...",234,"Census Tract 9502, Appling County, Georgia",1400000US13001950200,11.668464,0.0,4.415094,21.444744,0.000000,65.280323,...,0.000000,0.000000,0.0,0.000000,43.520216,29.644205,0.000000,26.805930,4.099730,1.892183
4,"Block Group 3, Census Tract 9502, Appling Coun...",195,"Census Tract 9502, Appling County, Georgia",1400000US13001950200,9.723720,0.0,3.679245,17.870620,0.000000,54.400270,...,0.000000,0.000000,0.0,0.000000,36.266846,24.703504,0.000000,22.338275,3.416442,1.576819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5528,"Block Group 1, Census Tract 9505, Worth County...",376,"Census Tract 9505, Worth County, Georgia",1400000US13321950500,9.963134,0.0,0.000000,27.723502,29.889401,82.737327,...,0.000000,6.497696,0.0,12.562212,57.179724,32.921659,3.465438,42.451613,9.963134,52.414747
5529,"Block Group 2, Census Tract 9505, Worth County...",504,"Census Tract 9505, Worth County, Georgia",1400000US13321950500,13.354839,0.0,0.000000,37.161290,40.064516,110.903226,...,0.000000,8.709677,0.0,16.838710,76.645161,44.129032,4.645161,56.903226,13.354839,70.258065
5530,"Block Group 3, Census Tract 9505, Worth County...",206,"Census Tract 9505, Worth County, Georgia",1400000US13321950500,5.458525,0.0,0.000000,15.188940,16.375576,45.329493,...,0.000000,3.559908,0.0,6.882488,31.327189,18.036866,1.898618,23.258065,5.458525,28.716590
5531,"Block Group 1, Census Tract 9506, Worth County...",321,"Census Tract 9506, Worth County, Georgia",1400000US13321950600,6.687500,0.0,11.464286,18.151786,3.821429,47.767857,...,0.000000,2.866071,0.0,6.687500,16.241071,157.633929,0.000000,0.000000,4.776786,15.285714
5532,"Block Group 2, Census Tract 9506, Worth County...",79,"Census Tract 9506, Worth County, Georgia",1400000US13321950600,1.645833,0.0,2.821429,4.467262,0.940476,11.755952,...,0.000000,0.705357,0.0,1.645833,3.997024,38.794643,0.000000,0.000000,1.175595,3.761905

In [262]:
import math

columns_to_round = [
    'Agriculture, forestry, fishing and hunting',
    'Mining, quarrying, and oil and gas extraction', 'Construction',
    'Manufacturing', 'Wholesale trade', 'Retail trade',
    'Transportation and warehousing', 'Utilities', 'Information',
    'Finance and insurance', 'Real estate and rental and leasing',
    'Professional, scientific, and technical services',
    'Management of companies and enterprises',
    'Administrative and support and waste management services',
    'Educational services', 'Health care and social assistance',
    'Arts, entertainment, and recreation',
    'Accommodation and food services',
    'Other services, except public administration',
    'Public administration'
]

for index, row in merged_df.iterrows():
    rounded_sum = 0

    # Round all but the last value
    for column in columns_to_round[:-1]:
        value = row[column]
        if not math.isnan(value):  # Check if the value is not NaN
            rounded_value = round(value)
            merged_df.at[index, column] = rounded_value
            rounded_sum += rounded_value
        else:
            merged_df.at[index, column] = value  # Keep the NaN or handle it differently if needed

    # Calculate the last value to ensure the sum matches the Population
    last_column = columns_to_round[-1]
    last_value = row[last_column]
    if not math.isnan(last_value):
        # Subtract the rounded sum from the total and assign it to the last column
        merged_df.at[index, last_column] = row['Total Female Age 18-44 years'] - rounded_sum
    else:
        merged_df.at[index, last_column] = last_value  # Keep the NaN or handle it differently if needed

# Drop columns as needed
merged_df.drop('Geographic Area Name', axis=1, inplace=True)
merged_df.drop('Total Female Age 18-44 years', axis=1, inplace=True)

merged_df.head()

,Geographic Area Names,Geography,"Agriculture, forestry, fishing and hunting","Mining, quarrying, and oil and gas extraction",Construction,Manufacturing,Wholesale trade,Retail trade,Transportation and warehousing,Utilities,...,Real estate and rental and leasing,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,"Other services, except public administration",Public administration
0,"Block Group 1, Census Tract 9501, Appling Coun...",1400000US13001950100,7.0,0.0,2.0,6.0,9.0,11.0,0.0,3.0,...,3.0,0.0,0.0,0.0,34.0,38.0,2.0,7.0,3.0,3.0
1,"Block Group 2, Census Tract 9501, Appling Coun...",1400000US13001950100,23.0,0.0,7.0,19.0,28.0,35.0,0.0,11.0,...,11.0,0.0,0.0,0.0,108.0,123.0,6.0,22.0,8.0,10.0
2,"Block Group 1, Census Tract 9502, Appling Coun...",1400000US13001950200,23.0,0.0,9.0,43.0,0.0,131.0,35.0,3.0,...,0.0,0.0,0.0,0.0,87.0,59.0,0.0,54.0,8.0,3.0
3,"Block Group 2, Census Tract 9502, Appling Coun...",1400000US13001950200,12.0,0.0,4.0,21.0,0.0,65.0,17.0,1.0,...,0.0,0.0,0.0,0.0,44.0,30.0,0.0,27.0,4.0,2.0
4,"Block Group 3, Census Tract 9502, Appling Coun...",1400000US13001950200,10.0,0.0,4.0,18.0,0.0,54.0,14.0,1.0,...,0.0,0.0,0.0,0.0,36.0,25.0,0.0,22.0,3.0,2.0

In [25]:
merged_df.to_csv('Distribution_across_Industry_of_Workers.csv', index=False)

<h1>Poverty Status by County</h1>

In [91]:

PovertyStatusbyCounty=pd.read_csv('../../Obstetric accessibility visualization/Georgia/Poverty Status by County.csv')

In [92]:

PovertyStatusbyCounty.rename(columns=PovertyStatusbyCounty.iloc[0], inplace=True)
# Assume ClassofWorkerByCounty.columns is your list of column names
columns_list = list(PovertyStatusbyCounty.columns)

# Filter out columns containing the word "female", making sure to handle non-string types
female_columns = [col for col in columns_list if isinstance(col, str) and 'female' in col.lower() and 'estimate' in col.lower() ]
female_columns

['Estimate!!Total!!Income in the past 12 months below poverty level!!Female',
 'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!Under 5 years',
 'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!5 years',
 'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!6 to 11 years',
 'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!12 to 14 years',
 'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!15 years',
 'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!16 and 17 years',
 'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!18 to 24 years',
 'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!25 to 34 years',
 'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!35 to 44 years',
 'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!45 to 54 years',
 'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!55 to 64 years',
 'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!65 to 74 years',
 'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!75 years and over',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!Under 5 years',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!5 years',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!6 to 11 years',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!12 to 14 years',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!15 years',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!16 and 17 years',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!18 to 24 years',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!25 to 34 years',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!35 to 44 years',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!45 to 54 years',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!55 to 64 years',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!65 to 74 years',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!75 years and over']

In [93]:
PovertyStatusbyCounty_df=PovertyStatusbyCounty[['Geography',
 'Geographic Area Name',
 'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!18 to 24 years',
 'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!25 to 34 years',
 'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!35 to 44 years',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!18 to 24 years',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!25 to 34 years',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!35 to 44 years',
]]
PovertyStatusbyCounty_df = PovertyStatusbyCounty_df.drop(ClassofWorkerByCT_df.index[0])
PovertyStatusbyCounty_df.head()

,Geography,Geographic Area Name,Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!18 to 24 years,Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!25 to 34 years,Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!35 to 44 years,Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!18 to 24 years,Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!25 to 34 years,Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!35 to 44 years
0,Geography,Geographic Area Name,Estimate!!Total!!Income in the past 12 months ...,Estimate!!Total!!Income in the past 12 months ...,Estimate!!Total!!Income in the past 12 months ...,Estimate!!Total!!Income in the past 12 months ...,Estimate!!Total!!Income in the past 12 months ...,Estimate!!Total!!Income in the past 12 months ...
2,0500000US13003,"Atkinson County, Georgia",149,208,122,224,297,384
3,0500000US13005,"Bacon County, Georgia",118,212,124,298,471,680
4,0500000US13007,"Baker County, Georgia",26,17,9,139,144,163
5,0500000US13009,"Baldwin County, Georgia",2226,784,669,1337,1706,1565

In [94]:
PovertyStatusbyCounty_df.columns

Index(['Geography', 'Geographic Area Name',
       'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!18 to 24 years',
       'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!25 to 34 years',
       'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!35 to 44 years',
       'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!18 to 24 years',
       'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!25 to 34 years',
       'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!35 to 44 years'],
      dtype='object')

In [95]:
import pandas as pd

# Assuming your DataFrame is named PovertyStatusbyCounty_df

# Drop the first row
PovertyStatusbyCounty_df = PovertyStatusbyCounty_df.drop(PovertyStatusbyCounty_df.index[0])

# Convert relevant columns to numeric
cols_to_convert = [
    'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!18 to 24 years',
    'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!25 to 34 years',
    'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!35 to 44 years',
    'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!18 to 24 years',
    'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!25 to 34 years',
    'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!35 to 44 years'
]

for col in cols_to_convert:
    PovertyStatusbyCounty_df[col] = pd.to_numeric(PovertyStatusbyCounty_df[col], errors='coerce')

# Replace NaN values resulted from conversion errors with zero
PovertyStatusbyCounty_df.fillna(0, inplace=True)

# Add a new column for total income below poverty level for Female ages 18 to 44 years
PovertyStatusbyCounty_df['Income in the past 12 months below poverty level!!Female!!18 to 44 years'] = (
    PovertyStatusbyCounty_df['Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!18 to 24 years'] +
    PovertyStatusbyCounty_df['Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!25 to 34 years'] +
    PovertyStatusbyCounty_df['Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!35 to 44 years']
)

# Add a new column for total income at or above poverty level for Female ages 18 to 44 years
PovertyStatusbyCounty_df['Income in the past 12 months at or above poverty level!!Female!!18 to 44 years'] = (
    PovertyStatusbyCounty_df['Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!18 to 24 years'] +
    PovertyStatusbyCounty_df['Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!25 to 34 years'] +
    PovertyStatusbyCounty_df['Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!35 to 44 years']
)

#PovertyStatusbyCounty_df = PovertyStatusbyCounty_df.iloc[:, -2:]

In [96]:
PovertyStatusbyCounty_df = PovertyStatusbyCounty_df[['Geography', 'Geographic Area Name', 
         'Income in the past 12 months below poverty level!!Female!!18 to 44 years', 
         'Income in the past 12 months at or above poverty level!!Female!!18 to 44 years']]

# Now df contains only the specified columns
PovertyStatusbyCounty_df

,Geography,Geographic Area Name,Income in the past 12 months below poverty level!!Female!!18 to 44 years,Income in the past 12 months at or above poverty level!!Female!!18 to 44 years
2,0500000US13003,"Atkinson County, Georgia",479,905
3,0500000US13005,"Bacon County, Georgia",454,1449
4,0500000US13007,"Baker County, Georgia",52,446
5,0500000US13009,"Baldwin County, Georgia",3679,4608
6,0500000US13011,"Banks County, Georgia",498,2517
...,...,...,...,...
155,0500000US13313,"Whitfield County, Georgia",4200,13953
156,0500000US13315,"Wilcox County, Georgia",304,733
157,0500000US13317,"Wilkes County, Georgia",559,933
158,0500000US13319,"Wilkinson County, Georgia",392,1004
159,0500000US13321,"Worth County, Georgia",917,2405

In [173]:
numeric_cols = PovertyStatusbyCounty_df.columns.drop(['Geographic Area Name', 'Geography']) # Adjust as needed
PovertyStatusbyCounty_df[numeric_cols] = PovertyStatusbyCounty_df[numeric_cols].apply(pd.to_numeric, errors='coerce')

# Function to calculate proportions
def calculate_proportions(row):
    # Select only numeric columns for the sum
    row_sum = row[numeric_cols].sum()
    if row_sum != 0:
        row[numeric_cols] = row[numeric_cols] / row_sum
    return row

# Apply the function to each row
proportion_df = PovertyStatusbyCounty_df.apply(calculate_proportions, axis=1)

# Display the resulting DataFrame
proportion_df

,Geography,Geographic Area Name,Income in the past 12 months below poverty level!!Female!!18 to 44 years,Income in the past 12 months at or above poverty level!!Female!!18 to 44 years
2,0500000US13003,"Atkinson County, Georgia",0.346098,0.653902
3,0500000US13005,"Bacon County, Georgia",0.238571,0.761429
4,0500000US13007,"Baker County, Georgia",0.104418,0.895582
5,0500000US13009,"Baldwin County, Georgia",0.443948,0.556052
6,0500000US13011,"Banks County, Georgia",0.165174,0.834826
...,...,...,...,...
155,0500000US13313,"Whitfield County, Georgia",0.231367,0.768633
156,0500000US13315,"Wilcox County, Georgia",0.293153,0.706847
157,0500000US13317,"Wilkes County, Georgia",0.374665,0.625335
158,0500000US13319,"Wilkinson County, Georgia",0.280802,0.719198
159,0500000US13321,"Worth County, Georgia",0.276039,0.723961

In [174]:
proportion_df['County'] = proportion_df['Geographic Area Name'].str.split(',').str[0]
proportion_df['County'] = proportion_df['County'].str.replace(' County', '')
print(proportion_df.columns)

Index(['Geography', 'Geographic Area Name',
       'Income in the past 12 months below poverty level!!Female!!18 to 44 years',
       'Income in the past 12 months at or above poverty level!!Female!!18 to 44 years',
       'County'],
      dtype='object')

In [177]:
RA_Georgia=pd.read_csv('../../Obstetric accessibility visualization/Georgia/BG_County_numbers.csv')
merged_df = pd.merge(RA_Georgia, proportion_df, on='County')
columns_to_multiply = [
'Income in the past 12 months below poverty level!!Female!!18 to 44 years',
       'Income in the past 12 months at or above poverty level!!Female!!18 to 44 years'
]

# Performing the multiplication
for column in columns_to_multiply:
    merged_df[column] = (merged_df[column] * merged_df['Population'])

# Display the modified DataFrame

merged_df = merged_df.drop(columns=['Geography_y'])
merged_df

,Geography_x,County,Population,Geographic Area Name,Income in the past 12 months below poverty level!!Female!!18 to 44 years,Income in the past 12 months at or above poverty level!!Female!!18 to 44 years
0,1500000US130210131023,Bibb,103,"Bibb County, Georgia",33.191971,69.808029
1,1500000US130210131024,Bibb,184,"Bibb County, Georgia",59.294395,124.705605
2,1500000US130210132014,Bibb,122,"Bibb County, Georgia",39.314762,82.685238
3,1500000US130210131022,Bibb,365,"Bibb County, Georgia",117.622034,247.377966
4,1500000US130210131011,Bibb,441,"Bibb County, Georgia",142.113198,298.886802
...,...,...,...,...,...,...
5069,1500000US130939701003,Dooly,112,"Dooly County, Georgia",42.612593,69.387407
5070,1500000US130939701002,Dooly,269,"Dooly County, Georgia",102.346318,166.653682
5071,1500000US130939701001,Dooly,183,"Dooly County, Georgia",69.625934,113.374066
5072,1500000US130939703002,Dooly,205,"Dooly County, Georgia",77.996265,127.003735
5073,1500000US130939703004,Dooly,150,"Dooly County, Georgia",57.070438,92.929562

In [180]:
columns_to_round = [
 'Income in the past 12 months below poverty level!!Female!!18 to 44 years',
       'Income in the past 12 months at or above poverty level!!Female!!18 to 44 years'
]


for index, row in merged_df.iterrows():
    # Round all but the last value
    for column in columns_to_round[:-1]:
        merged_df.at[index, column] = round(row[column])
    
    # Calculate the last value to ensure the sum matches the Population
    last_column = columns_to_round[-1]
    merged_df.at[index, last_column] = row['Population'] - sum([round(row[col]) for col in columns_to_round[:-1]])

merged_df

,Geography_x,County,Population,Geographic Area Name,Income in the past 12 months below poverty level!!Female!!18 to 44 years,Income in the past 12 months at or above poverty level!!Female!!18 to 44 years
0,1500000US130210131023,Bibb,103,"Bibb County, Georgia",33.0,70.0
1,1500000US130210131024,Bibb,184,"Bibb County, Georgia",59.0,125.0
2,1500000US130210132014,Bibb,122,"Bibb County, Georgia",39.0,83.0
3,1500000US130210131022,Bibb,365,"Bibb County, Georgia",118.0,247.0
4,1500000US130210131011,Bibb,441,"Bibb County, Georgia",142.0,299.0
...,...,...,...,...,...,...
5069,1500000US130939701003,Dooly,112,"Dooly County, Georgia",43.0,69.0
5070,1500000US130939701002,Dooly,269,"Dooly County, Georgia",102.0,167.0
5071,1500000US130939701001,Dooly,183,"Dooly County, Georgia",70.0,113.0
5072,1500000US130939703002,Dooly,205,"Dooly County, Georgia",78.0,127.0
5073,1500000US130939703004,Dooly,150,"Dooly County, Georgia",57.0,93.0

<h1>Poverty Status by Census Tract</h1>

In [97]:

PovertyStatusbyCT=pd.read_csv('../../Obstetric accessibility visualization/Georgia/Poverty STatus by census Tract.csv')

PovertyStatusbyCT.rename(columns=PovertyStatusbyCT.iloc[0], inplace=True)
# Assume ClassofWorkerByCounty.columns is your list of column names
columns_list = list(PovertyStatusbyCT.columns)

# Filter out columns containing the word "female", making sure to handle non-string types
female_columns = [col for col in columns_list if isinstance(col, str) and 'female' in col.lower() and 'estimate' in col.lower() ]
female_columns

['Estimate!!Total!!Income in the past 12 months below poverty level!!Female',
 'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!Under 5 years',
 'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!5 years',
 'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!6 to 11 years',
 'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!12 to 14 years',
 'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!15 years',
 'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!16 and 17 years',
 'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!18 to 24 years',
 'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!25 to 34 years',
 'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!35 to 44 years',
 'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!45 to 54 years',
 'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!55 to 64 years',
 'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!65 to 74 years',
 'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!75 years and over',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!Under 5 years',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!5 years',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!6 to 11 years',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!12 to 14 years',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!15 years',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!16 and 17 years',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!18 to 24 years',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!25 to 34 years',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!35 to 44 years',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!45 to 54 years',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!55 to 64 years',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!65 to 74 years',
 'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!75 years and over']

In [98]:

# Drop the first row
PovertyStatusbyCT_df = PovertyStatusbyCT.drop(PovertyStatusbyCT.index[0])

# Convert relevant columns to numeric
cols_to_convert = [
    'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!18 to 24 years',
    'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!25 to 34 years',
    'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!35 to 44 years',
    'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!18 to 24 years',
    'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!25 to 34 years',
    'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!35 to 44 years'
]

for col in cols_to_convert:
    PovertyStatusbyCT_df[col] = pd.to_numeric(PovertyStatusbyCT_df[col], errors='coerce')

# Replace NaN values resulted from conversion errors with zero
PovertyStatusbyCT_df.fillna(0, inplace=True)

# Add a new column for total income below poverty level for Female ages 18 to 44 years
PovertyStatusbyCT_df['Income in the past 12 months below poverty level!!Female!!18 to 44 years'] = (
    PovertyStatusbyCT_df['Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!18 to 24 years'] +
    PovertyStatusbyCT_df['Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!25 to 34 years'] +
    PovertyStatusbyCT_df['Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!35 to 44 years']
)

# Add a new column for total income at or above poverty level for Female ages 18 to 44 years
PovertyStatusbyCT_df['Income in the past 12 months at or above poverty level!!Female!!18 to 44 years'] = (
    PovertyStatusbyCT_df['Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!18 to 24 years'] +
    PovertyStatusbyCT_df['Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!25 to 34 years'] +
    PovertyStatusbyCT_df['Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!35 to 44 years']
)

#PovertyStatusbyCounty_df = PovertyStatusbyCounty_df.iloc[:, -2:]
PovertyStatusbyCT_df = PovertyStatusbyCT_df[['Geography', 'Geographic Area Name', 
         'Income in the past 12 months below poverty level!!Female!!18 to 44 years', 
         'Income in the past 12 months at or above poverty level!!Female!!18 to 44 years']]

# Now df contains only the specified columns
PovertyStatusbyCT_df

,Geography,Geographic Area Name,Income in the past 12 months below poverty level!!Female!!18 to 44 years,Income in the past 12 months at or above poverty level!!Female!!18 to 44 years
1,1400000US13001950100,"Census Tract 9501, Appling County, Georgia",70,304
2,1400000US13001950200,"Census Tract 9502, Appling County, Georgia",257,366
3,1400000US13001950300,"Census Tract 9503, Appling County, Georgia",303,702
4,1400000US13001950400,"Census Tract 9504, Appling County, Georgia",57,166
5,1400000US13001950500,"Census Tract 9505, Appling County, Georgia",224,421
...,...,...,...,...
1965,1400000US13321950100,"Census Tract 9501, Worth County, Georgia",167,257
1966,1400000US13321950200,"Census Tract 9502, Worth County, Georgia",330,975
1967,1400000US13321950400,"Census Tract 9504, Worth County, Georgia",144,450
1968,1400000US13321950500,"Census Tract 9505, Worth County, Georgia",219,515
1969,1400000US13321950600,"Census Tract 9506, Worth County, Georgia",57,208